[2019-08-05 09:38] philsturgeon commented on #509
Seems legit!

<img width="937" alt="image" src="https://user-images.githubusercontent.com/67381/62454870-68463900-b775-11e9-9101-6fc4f2d4aa9f.png">

I think the second highlighted paragraph is confusing, I _think_ its trying to say what @lag-of-death is saying.

Let's get this done.

[2019-08-05 09:39] philsturgeon commented on #509
@lag-of-death if you think you can fit this into #425 then that would be lovely, but we can ship #425 with this as a known bug to be resolved later. It's going to be an edge case IMO.

[2019-08-05 09:51] lag-of-death commented on #509
hi @philsturgeon, thanks for looking into this. I think adding #509 to #425 makes perfect sense!

[2019-08-05 09:55] okv commented on #435
ok, thanks for the detailed explanation.
I'm writing a lot of node.js code (commercial and opensouce) and interested in custom mocking. So if you provide some ideas and implementation points in project source code, I can take a look at that =)

[2019-08-06 10:49] chris-miaskowski commented on #509
@lag-of-death @philsturgeon I suggested to do it separately before I saw this comment. Up to you folks!

[2019-08-06 11:04] lag-of-death commented on #509
@chris-miaskowski, I'd rather have it done together with #425, LMK if it turns out it should rather be separated

[2019-08-06 11:04] philsturgeon commented on #509
@lag-of-death both @chris-miaskowski and I have said you can make the call, so it sounds like its happening.

[2019-08-06 11:33] chris-miaskowski opened #510 "Labels"

[2019-08-06 12:00] #510 closed

[2019-08-06 12:29] philsturgeon commented on #492
@lasssim are you able to build from develop and see if this is working now?

[2019-08-06 12:31] philsturgeon commented on #494
@XVincentX yeah if something out there can do this work for us then great! In the mean time can we update this bug report title to something more specific than "not working"? 😅

[2019-08-06 12:34] XVincentX commented on #492
I do not think this is solved yet.

Enviado do meu iPhone

Em 6 de ago de 2019, à(s) 08:29, Phil Sturgeon <notifications@github.com> escreveu:

[2019-08-06 13:03] philsturgeon commented on #407
I'll start a new issue with specific implementation ideas. Leaving it open ended didn't work out.

[2019-08-06 13:03] #407 closed

[2019-08-06 13:28] philsturgeon opened #511 "Prism as a HTTP Client"
**User story.**
As a Prism user writing JS/TS, I want to make HTTP requests with Prism easily, using something that feels a lot like a common HTTP client, and it should be easy and seamless to talk to real servers or a mock from OpenAPI.

I should be able to create an instance of the client, and make multiple requests, without needing to create new instances.

**Describe the solution you'd like**

[2019-08-06 16:50] pytlesk4 opened #512 "Bug: Creating an external service with signin/signup disabled is actaully enabled"
Steps to reproduce

1. Create an external service
2. Select Bitbucket Server
3. Don't toggle the defaults, should have signup/signin disabled
4. Fill in Name, username and password and create service
5. Notice that the created service has signup/signin enabled.

[2019-08-07 12:22] StefanDywersant opened #513 "MD image has wrong url in explorer"
Image from markdown file is not displayed correctly in explorer.

**Reproduce steps:**
(on local dev env with seed data)
1. navigate to explorer
2. filter articles
3. click on `UI Overview`

**Expected result:**
image displays correctly.

**Actual result:**
missing image

See app-gen3#114 and related PR for more details and a most possible solution.

[2019-08-07 12:23] #513 closed

[2019-08-08 09:26] chris-miaskowski commented on #511
Hey @philsturgeon, thanks for putting this together. It's a great start!

Here are some thoughts and suggestions:
- this indeed looks like a fair amount of changes (although not as much as you probably think)
- at a first glance it looks like more than one issue
- my guesstimate is 21 story points
- we no longer use loaders ;) - remember @XVincentX's recent change? Current API takes list of http `

[2019-08-08 09:27] chris-miaskowski commented on #511
@philsturgeon it would make sense IMO to start this conversation in design-docs (it's a technical design) but since we haven't let's leave here.

[2019-08-08 11:02] philsturgeon commented on #511
It's great that loaders are swapped for an array of operations, but a) we are meant to have a helper so people don't have to figure that all out by theirselves, and b) I got this example from the docs so our docs are out of date.

As for the rest of it, I feel like you're just putting "isolated issue" next to every single argument, option and parameter. Yeah, we could work that way, but the pletho

[2019-08-08 11:54] philsturgeon commented on #509
This work is being done in #425.

[2019-08-08 11:55] philsturgeon commented on #422
This work is being done in #484.

[2019-08-08 11:55] #422 closed

[2019-08-08 11:58] chris-miaskowski commented on #511
@philsturgeon it's much simpler than that actually. We will present this issue in this form on the planning meeting, point it and if it's more than 8 SP we're gonna split it up.

[2019-08-08 15:41] philsturgeon commented on #511
Yeah it can be made into however many issues the implementer would like to turn it into, I don't really mind, I'm just not doing it prematurely. This is the work we need to get done, do it however.

[2019-08-08 15:42] philsturgeon commented on #511
This bit was an alternative to a design doc, not the 2nd topic of num issues which popped up. I initially offered a pairing session but nobody seemed interested. Instead I took a swing at it to provide some inspiration for the implementer.

[2019-08-08 21:35] chohmann opened #516 "Broken Image Link in Prism Project"
1. Login to `stoplight.io/p`
2. Select the Prims project on the home page
3. Click on Prism in the sidebar table of contents
4. See the broken image link
![image.png](https://images.zenhubusercontent.com/5d3ef4845b713c00013fe16b/39e58544-3ce4-4302-b637-efc95e7e111c)

[2019-08-09 10:11] chris-miaskowski opened #517 "labels"

[2019-08-12 09:14] wal0x opened #519 "Can't run Prism throw jsonErr;"
**Describe the bug**
Can't run prism. Getting error after first launch.

**To Reproduce**

1. Install prism globally "npm install -g @stoplight/prism-cli"
2. Run this CLI command 'prism'
3. See error

**Expected behavior**
Display prism command options

**Error :**

**Environment (remove any that are not applicable):**
 - Library version: 3.0.3
 - OS:  Windows 10
 - Node:  v12.6.0

[2019-08-12 09:46] philsturgeon commented on #519
Very strange, I just ran this and didn't get the issue. I think, maybe, some HTML crept into a file download on your end somewhere. Maybe a corporate proxy, or some other middleman:

This could have been a one-off, did you try again?

If it happens again, is it the same file, or a different one?

Can you phone tether or get on a different network?

Anything you can do to help debug this would be h

[2019-08-12 09:52] wal0x commented on #519
I am using Git-bash to run it, in fact I could run prism normally when I opened the bash from my desktop, when I run it directly from the folder where my .yaml is I get the same error.

[2019-08-12 09:55] philsturgeon commented on #519
So you have git bash, and it fails there.

Running normal bash, you can install just fine?

Then... something else causes an error? Could you elaborate on that part?

[2019-08-12 09:57] wal0x commented on #519
Same issue with PowerShell

[2019-08-12 09:58] wal0x commented on #519
I found something interesting, I got the issue when am inside a folder where there is a node_modules folder on it hierarchy.

[2019-08-12 10:39] chris-miaskowski opened #520 "[DRAFT] design doc for request metrics / mocking stuff in platform"
TBD

[2019-08-12 11:33] wal0x commented on #412
is there a workaround possible while waiting for the next release ?

[2019-08-12 12:08] stn1slv commented on #412
My workaround is installation and configuration Nginx before prism by the followed way:

- Nginx reply on OPTIONS request
`events {
    worker_connections 1024;
}

http {
    server {
        listen 3000;

        location /api {
            if ($request_method = 'OPTIONS') {
                add_header 'Access-Control-Allow-Origin' '*';
                add_header 'Access-Control-Allow-Credentials'

[2019-08-12 14:14] chris-miaskowski opened #521 "design doc for request metrics / mocking stuff in platform"
@marbemac to add details

[2019-08-12 14:20] philsturgeon commented on #519
Did you get any further on this? Do you have the same problem installing other global NPM packages in those same folders, like maybe `npm i -g gatsby-cli` or something?

If you discover the solution please report back and close the issue. I get the sense that it's not us.

[2019-08-12 14:22] philsturgeon commented on #520
Duplicate of another issue which was also in the wrong repo.

[2019-08-12 14:22] #520 closed

[2019-08-12 15:23] #517 closed

[2019-08-12 21:41] wal0x commented on #412
I found an easy way for a workaround using nodeJs with express

[code]

[2019-08-13 12:44] StefanDywersant opened #522 "Project is not cloned after connecting BBS account"
**Prerequisites:**
1. logged in user
2. bbs integration
3. logged user not connected with bbs account

Steps to reproduce:
1. enter url to private repo on bbs
2. hit clone
3. connect accounts form appears
4. connect your account with access to private repo to Stoplight

Expected result:
Project is cloned.

Actual result:
Nothing happens, user stays on new project form. Hitting clone again clones p

[2019-08-13 12:44] #522 closed

[2019-08-14 12:45] equalspeterd opened #523 "Support `discriminator` for response object selection"
**User story.**
As an API designer, I want to define more generalized APIs that have nearly identical semantics, but have different response objects based on a path parameter, detailed by the `discriminator` property.

**Is your feature request related to a problem?**
The current mock server randomly chooses a schema (x or y), regardless of the value of {dataset} (see example below). Also, current

[2019-08-14 16:01] equalspeterd commented on #494
A (potentially) related issue:
With paths defined as:
[code]
Prism cannot disambiguate between the 2 paths (eg `list` gets gobbled up as a `{docID}`). FWIW, if we reverse the order:
[code]
The routing works fine. Sounds like the regex discussed above may be the cause.

[2019-08-14 18:51] equalspeterd opened #524 "support for `writeOnly` schema property"
**User story.**
As a schema designer, I want to use the openAPI `writeOnly` property to control schema request/response behavior.

**Describe the solution you'd like**
support:
[code]

[2019-08-15 14:37] XVincentX commented on #412
This is a low hanging fruit, it should really be about adding couple of headers to the responses by the HTTP server Prism is spawning.

[2019-08-16 09:12] philsturgeon commented on #524
Great idea! We are using openapi-sampler here so we can invoke the `skipWriteOnly: true` option.

More info https://github.com/Redocly/openapi-sampler#openapisamplersampleschema-options-spec

[2019-08-16 19:35] XVincentX commented on #412
@philsturgeon

I think there was some confusion while writing the scenarios; I've put some considerations and thoughts so we can iterate on this.

Are we referring to the `OPTION` pre-flight request? Because not all the request require such thing.

---

The green should be the correct text:

[code]

---

[code]

This (and other tests here) are not correct — the server will *always* respond to the

[2019-08-16 20:07] XVincentX commented on #464
This is done already. Prism is using the `from-git` option already and there's nothing more we can do for it currently.

The mono-repo thing unfortunately limits a bit what we can do to automate, but Lerna will catch up and it's not that terrible currently.

[2019-08-16 20:07] #464 closed

[2019-08-19 09:21] philsturgeon commented on #412
@XVincentX the first option certainly sounds better. Let's do that.

[2019-08-19 11:33] wal0x commented on #519
Yes I could call the global NPM pachakges such as vue eslint and angular cli...
But A simple restart solved the issue :|

[2019-08-19 11:33] #519 closed

[2019-08-19 12:18] XVincentX commented on #412
Gotcha. Tests will look a little bit different that the one posted here.

[2019-08-19 12:21] philsturgeon commented on #412
That's ok, these can be considered more for guidance I think.

[2019-08-19 14:40] XVincentX opened #527 "Create a document for errors"
Prism's error types are URLs that point nowhere at the moment. Create an error file that lists all the errors and then make sure to create the appropriate redirects in the platform so that people do not a 404 when they're trying to understand what's going on.

[2019-08-19 20:46] XVincentX commented on #527
Does the URL format have to be in that way? Can't we set a redirect on the server side somehow that it stays the way it is right now? `https://stoplight.io/prism/errors#no-method-matched`?

The hash is not sent to the server side so we would just need a single redirect.

[2019-08-20 13:10] philsturgeon commented on #527
Yeah a [netlify redirect](https://www.netlify.com/docs/redirects/) from `https://stoplight.io/prism/errors` to `https://stoplight.io/p/docs/gh/stoplightio/prism/docs/errors.md` would do the trick.

[2019-08-20 13:36] #412 closed

[2019-08-21 21:07] XVincentX commented on #511
I finally found the time to go a little bit through all this and here's my takeaway.

* In general I think we can avoid to deprecate the `http` package and *not* create another one. The current package has never been advertised publicly, so it should be fine. If you're talking about a **rename** — it's a different story, but we can make it happen as well.

I am assuming that if `mock` is false, th

[2019-08-22 06:28] philsturgeon commented on #511
@XVincentX  Prism is meant to be an actual HTTP client so no its not just for mocking. I'm trying to emphasize this as much as possible throughout but I appear to not be making sense?

[2019-08-22 06:34] philsturgeon commented on #511
Correct, that was too granular to be useful.

Sure, whatever you think is best.

Right so this HTTP client can use that helper. Prism itself will be handed the operations but the HTTP Client wont force the users to do that.

Descriptions are optional. You can make a request to `google.com/some.json` and get that data back. If you ask for a mock to happen but have not provided a description, then w

[2019-08-22 06:35] philsturgeon commented on #511
Oh and this one is assigned to you, so crack on with any drafts or notes or however you want to go about it. This can be split into multiple issues however you think makes sense, maybe a "now" and "later" story, or make this an epic. Not too bothered exactly how it's done.

[2019-08-22 13:04] #425 closed

[2019-08-22 14:55] XVincentX opened #543 "Simplify the Validation configuration"
Currently in Prism you can specify, for both validation in input and output, if you want to validate query, headers, body, parameters and such.

This complicates the code a lot with defaults, merging, and single booleans meaning different things. We're going to simplify and kill this part with a single boolean. Either you validate the request, entirely, or you do not.

Part of #511

[2019-08-23 22:20] #543 closed

[2019-08-26 01:53] timothyqiu opened #552 "nullable fields and reference object"
**Describe the bug**
If two fields in an object both reference the same schema component, and the referenced schema contains a nullable field, prism rejects the documents with `Type ["string","null"] is not a valid type`.

The behavior is also inconsistent between using a schema reference and writing the schema directly.

**To Reproduce**

1. Given this OpenAPI document
[code]
2. Run this CLI comm

[2019-08-26 19:56] XVincentX opened #554 "Remove the config merger strategy"
Prism right now has a merging strategy for both configurations and components (mocker, forwarder) in name of a flexibility we do not need.

Let's remove all this code we do not need so that the readability improves and we can move forward to expose a good HTTP Client API

[2019-08-26 23:02] #552 closed

[2019-08-27 15:37] philsturgeon commented on #499
@marbemac @XVincentX I really cant remember why we had:

[code]

Can we separate the de-serialization logic and have it report errors in its own way, and have schema validation be something which happens on the result of whatever gets serialized? I think confusing the two things is leading to this sort of oddity.

Yes we could switch this to:

[code]

Maybe we do this with a test and throw a note

[2019-08-27 15:42] philsturgeon commented on #495
I might be misunderstanding the suggestion, but it seems like this is a job for Spectral?

Spectral looks at examples in the description doc and makes sure they are valid, which you know as you're working on it :D

This seems like the same feature but for request/response examples too.

Am I misunderstanding?

We are assuming the Prism doc is validated and useful through an existing validator, so

[2019-08-28 08:03] philsturgeon commented on #429
@nhuray hey, great question. For now I recommend avoiding things like Dredd, that's more for checking the documentation you wrote is correct, than for checking your code matches your description document. To do that, here's an article: https://apisyouwonthate.com/blog/writing-documentation-via-contract-testing

[2019-08-29 05:08] lfmunoz opened #562 "[BUG] Prism should support */* by default for DELETE"
I have a simple DELETE endpoint and want to return empty with a 204

Documentation  says

"Some responses, such as 204 No Content, have no body. To indicate the response body is empty, do not specify a content for the response"

https://swagger.io/docs/specification/describing-responses/

[code]

[code]

[code]

The following is a workaround but it seems like it is pollution in my spec file
[code]

[2019-08-29 08:43] lag-of-death commented on #495
@philsturgeon, yeah, so either: run spectral inside prism (and do the validation in spectral) or validate an example in prism :+1: I reported it here because https://github.com/stoplightio/prism/issues/424 is Prism issue. This issue is about validating `when a response has no schema`, so it's a bit different than https://github.com/stoplightio/spectral/pull/472

[2019-08-29 13:01] #494 closed

[2019-08-29 13:01] XVincentX commented on #499
I'm on this now.

[2019-08-29 14:09] equalspeterd commented on #562
I have encountered the same issue with `PUT` as well. The preferred solution is to handle `204` responses with no body at all (and thus, no content type), which openAPI v3.x supports.

Per RFC7231:
[code]
for the time being, I have been using the `nullable` parameter:

[code]

[2019-08-29 15:19] philsturgeon commented on #415
This is an old ticket which we can do some of. Make sure we have test harness entries showing basic XML stuff works and if we do, delete it.

[2019-08-29 16:08] XVincentX commented on #499
I am _pretty_ sure it was just me being dumb and writing incorrect code.

I with it would be so easy. I still didn't find the time to look up seriously in the validation process — making it right will probably require too much time. I'll fix the bug on the http-spec package and then we'll talk about doing validation right in another occasion

[2019-08-29 22:03] yunsim opened #570 "Prism mock dynamic response generation missing required fields on oneOf/allOf schemas"
**Describe the bug**
I used `prism mock api.yaml -d` to spin up a mock server for my openAPI spec, the dynamically generated responses always miss some required fields.

**To Reproduce**
1. Sample API spec:
[code]
2. Run this CLI command `prism mock api.yaml -d`
3. Use postman to get sample response

**Expected behavior**
The expected response should have field 'resourceType' for all, and should h

[2019-08-30 12:17] #499 closed

[2019-08-30 14:42] equalspeterd opened #575 "HEAD requests must not expect to find a response body schema"
**Describe the bug**
When defining HEAD requests, we do not define response bodies on purpose, because HEAD never returns a body. However, in the current response selection logic, HEAD is processed the same as any other request, and when it fails to find any suitable response schema (as it shouldn't), it returns a `406` response (I have attempted to vary the `Accept` header values requests out of

[2019-09-02 11:52] philsturgeon commented on #331
Another source of inspiration for this feature is the Stripe CLI, specifically the listen command: https://github.com/stripe/stripe-cli#listen

[2019-09-02 14:52] #498 closed

[2019-09-03 10:06] #492 closed

[2019-09-04 11:12] XVincentX commented on #511
# Plan of attack

This will be updated as I go through the code

## Changes
* The `process` method of the Prism instance needs to be renamed to `request`
* Create sugar methods on top of `process/request` (_get,post,put,delete,head_) with precanned stuff

## Challenges
* Currently the Client requires a logger to put the informations out. Apparently this is something that should not be compulsory a

[2019-09-04 13:20] #554 closed

[2019-09-05 06:37] labsvisual opened #584 "Negotiator incorrectly returns a 406 for 204's with no defined response"
**Describe the bug**
When Prism is mocking an OA3 specification containing a 204 response, it incorrectly returns an error since it can not find a valid response layout and specification for the same.

As per [RFC 7231](https://tools.ietf.org/html/rfc7231), [Section 6.3.5](https://tools.ietf.org/html/rfc7231#section-6.3.5):

The bug can be traced back to `@stoplight/prism-http/src/mocker/negotiato

[2019-09-05 08:45] XVincentX commented on #584
Yeah, we've been receiving this kind of issue multiple times (you can see similar duplicates for `DELETE` verbs for example). In general we've been skipping this use case completely so far.

There's a workaround (tweak the API Description Document to return something, even if empty, anyway) but yeah this is something we should fix.

I'd he happy to have a look at your pull request, but keep in min

[2019-09-05 14:09] philsturgeon opened #585 "chore: auto-deploy docs"
**Chore summary**
Auto deploy documentation so we don't have to remember. Seeing as this repo is not git flow it will need to be done as part of release and not on master merge.

**Additional context**
Use the same approach as spectral
https://github.com/stoplightio/spectral/issues/530

[2019-09-05 14:28] lehphyro opened #586 "Support combination of static example and dynamic values"
**User story.**
As an API provider, I can do use static data in combination with dynamic data, so that I can provide more useful examples.

**Is your feature request related to a problem?**
I have a monetary amount object type that has two fields: amount and currency code. I'd like to have a dynamic amount and always `USD` as currency code.

**Describe the solution you'd like**
Perhaps have anothe

[2019-09-05 17:59] pytlesk4 commented on #586
@XVincentX we should enable some more json schema faker options. Or have a way to configure it.

[JSF Config](https://github.com/json-schema-faker/json-schema-faker/tree/master/docs#available-options)

Specifically `useExamplesValue` and `useDefaultValue`

@lehphyro all you would need to do is set a default or example for a property, and that will get used. Otherwise, the property will be generate

[2019-09-05 18:06] pytlesk4 opened #588 "Bump http-spec to use version with strictMode disabled for JSON Schema conversion"
**Describe the bug**
Prism has a fatal error and doesn't start.

**To Reproduce**

1. Given this OpenAPI document'

[code]

2. Run this CLI command

`prism mock https://gist.githubusercontent.com/pytlesk4/e0f60de87783af0cb7b3077bd5ca5b9e/raw/24690903c7448c233cc03e1839483db0d10a793e/bear.dojo.v2.yaml`

3. See error

![](https://user-images.githubusercontent.com/2294309/64367389-7b9b2d00-cfdd-11e9-8

[2019-09-05 18:17] pytlesk4 opened #589 "Mocked dynamic response content type not defined in OAS spec"
**Describe the bug**
Prism mocks dynamic XML responses from the browser. XML is not defined in my spec.

**To Reproduce**

1. Given this OpenAPI document'

[code]

2. Run this CLI command

`prism mock https://gist.githubusercontent.com/pytlesk4/ddbd7c6f791e68b2b34b0cbd6b11f250/raw/5170c01992bc43c8f8f335ec64ae5ca73257e6e8/bear.dojo.v1.yaml`

3. Open any browser and go to `http://localhost:4010/hone

[2019-09-05 18:41] XVincentX commented on #588
Note to self: this is not a valid OAS file but still want to make sure Prism spins up.

[2019-09-05 18:42] XVincentX commented on #589
Note to self: the serialized is not correctly checking that the Accept header and the reproducible format are in sync

[2019-09-05 18:44] XVincentX commented on #586
I need to verify this. These values are already enabled.

[2019-09-05 20:34] pytlesk4 commented on #586
I verified it doesn't work then. Try mocking [this spec](https://gist.github.com/pytlesk4/ddbd7c6f791e68b2b34b0cbd6b11f250) with the latest prism.

- [ok](https://gist.github.com/pytlesk4/ddbd7c6f791e68b2b34b0cbd6b11f250#file-bear-dojo-v1-yaml-L26-L28): should default to `true`
- [honey.species](https://gist.github.com/pytlesk4/ddbd7c6f791e68b2b34b0cbd6b11f250#file-bear-dojo-v1-yaml-L36-L38): shou

[2019-09-05 20:55] LesterTheTester opened #590 "When using a SecurityScheme, endpoints containing allOf show the wrong error message when Security Scheme is not met"
(First of all, thank you very much for the securityScheme support, it was on my team's roadmap and your implementation timing was perfect. Mad respect for your project and how quickly you're implementing features we're interested in :1st_place_medal: )

When I use the latest prism version 3.1.0 and an openAPI spec that includes a securityScheme, endpoints using the allOf: descriptor in response bo

[2019-09-05 21:01] LesterTheTester commented on #590
Oh, and in our log, we have:

[code]

[2019-09-05 21:07] LesterTheTester commented on #590
...now by reading your logs this looks like an error within our Error definition. Let me close and re-open if I still see it with better reproduction steps

[2019-09-05 21:07] #590 closed

[2019-09-05 21:54] LesterTheTester opened #591 "When request doesn't contain proper security scheme, return the user-defined 401 first"
When a request to an endpoint does not meet the security scheme (i.e, lacking bearer token), Prism currently looks for a 422 definition, followed by a 400 definition, followed by 401.  This seems odd, if we have our own 401 defined, it should be the first one tried by Prism.

**To Reproduce**

1. Given an endpoint defined like so:

[code]

2. Curl the endpoint without an "Authorization: Bearer" to

[2019-09-05 23:43] LesterTheTester opened #592 "Empty responses are not supported for 401's due to failed security scheme"
The [openAPI](https://swagger.io/docs/specification/describing-responses/) spec says that I can specify a response without a body by not providing `content:` or `schema:`. However, if one of these is not present, the errors generated by the new securitySchema check will not be used, and prism will use it's default response.

**To Reproduce**

1.  Have a response defined like this attached to an en

[2019-09-06 07:04] labsvisual commented on #584
A couple of other corner cases I can think of are `DELETE`, `2XX` with no response body. Ideally, however, if a body is defined for `204`, we should return the response but emit a warning in the console.

Similar is the case with `DELETE` and `GET`.

[2019-09-08 17:04] philsturgeon commented on #588
Do we actually want Prism to run if its invalid? I don't think it should? How can we mock an OpenAPI document if its not an OpenAPI document?

[2019-09-08 19:27] philsturgeon commented on #591
Ahh yes for sure. I think this is another hint that it's time to refactor our validation logic. All headers/param/etc checking is "validation" and all validation uses 422/400, but "security validation" should not be triggering the same responses as that generic validation. It should look for 401 not 422/400.

We'll get this ironed out.

[2019-09-08 23:23] pytlesk4 commented on #588
I feel like [this](https://github.com/stoplightio/http-spec/pull/12) conversation has happened like 10 times now.

Yes, we should run. In the example spec above, we should def run, it especially because of how we let users create json schema files and reference them in an OAS spec.

At the very least, if we aren't going to, then I want to be able to actually fix an error.

![](https://user-images.

[2019-09-08 23:29] marbemac commented on #588
Best effort, depending on degree of "incorrectness". If a document is totally invalid then we can't do anything, but where we can it's nice to be fault tolerant (in this case the invalid bit is using an array for types).

This is the same issue from http-spec, and this one re types in particular will be fixed when https://github.com/stoplightio/http-spec/pull/23 is resolved.

---

@pytlesk4 the is

[2019-09-09 08:11] XVincentX commented on #588
Frankly this is starting to be a really big source of confusion to be. It's probably the 4th or 5th time one of these situations happen and I still hear two voices — but we never agree on something.

Side A: if the spec is wrong, we're going to tell you how a bad person you are and refuse to run our software

Side B: if your spec is wrong and you vomit on us, we're still going to thank you and try

[2019-09-09 09:59] #415 closed

[2019-09-09 15:16] philsturgeon commented on #588
@XVincentX I think we can summarize it like this:

So we want valid OpenAPI documents, but we make an exception and allow certain bits of JSON Schema through as they'll be converted anyway.

Does that make sense?

[2019-09-09 18:15] LesterTheTester commented on #591
Y'all the best! Thank you!

[2019-09-10 08:35] Mcourt opened #599 "Accept header with multiple types default to "text/plain""
**Describe the bug**
When I request prism with an "accept" header that has multiple types (ex: `application/json, text/plain, */*`), prism will try to send back "text/plain" response.

**To Reproduce**

1. Given this OpenAPI document
[code]
2. Run this CLI command `http POST 127.0.0.1:4010/check-email email=d@d.com Accept:'application/json, text/plain, */*'`
3. See error
[code]

**Expected behavio

[2019-09-10 09:05] XVincentX commented on #588
Ok that makes sense. @philsturgeon maybe we should create a document in Prism documentation where we clearly outline the tradeoffs we're doing on the Schema object?

[2019-09-10 09:29] #588 closed

[2019-09-10 14:26] philsturgeon commented on #588
Yeah! We should call it “JSON Schema Compatibility” or something.

--
Phil Sturgeon
@philsturgeon

[2019-09-13 18:11] philsturgeon opened #607 "Remove JSON Schema Faker Fork"
We have made a number of changes to JSON Schema Faker and are now stuck on a fork which is getting out of date. Let's upstream our changes back.

1. Even though it's JSON Schema focused, look for the OpenAPI specific `example` keyword
2. Something to do with datetime
3. Usinfg our own fork on jsonpath (should we change JSON Schema Faker to use [jsonpath-plus](https://www.npmjs.com/package/jsonpath

[2019-09-16 10:04] XVincentX commented on #607
@philsturgeon We are not using any json-schema-faker fork. We're grabbing the latest version from their master branch just because the author hasn't published a new version yet.

https://github.com/stoplightio/prism/blob/master/packages/http/package.json#L27

Are you referring to something else?

[2019-09-16 13:21] StefanDywersant commented on #586
Yes, it is also not enabled in code: https://github.com/stoplightio/prism/blob/master/packages/http/src/mocker/generator/JSONSchema.ts#L12

[2019-09-16 21:46] philsturgeon commented on #607
I think I made this issue on Zenhub and accidentally put it in Prism. I'm trying to remove https://github.com/stoplightio/json-schema-faker and it looks like only https://github.com/stoplightio/yogi uses it, so we are probably fine.

@marbemac do you know anything about yogi? can i kill both these repos?

[2019-09-17 07:01] XVincentX commented on #570
Note: after an initial investigation this appear to be happening only for schemas using `oneOf/allOf`. It works correctly with plain schemas. I'm digging into the source code to understand what's wrong.

[2019-09-17 07:47] XVincentX commented on #570
Effectively when there's more than a schema in a `oneOf` the derived target schema is missing the required properties:

<img width="815" alt="image" src="https://user-images.githubusercontent.com/1416224/65021847-2d1c5580-d930-11e9-89e0-d388cdf3720f.png">

[2019-09-17 07:55] XVincentX commented on #570
@yunsim We have identified the bug and it's in the underlying library we're using to generate the data.

We're working with the author to fix this; there's not really any action point from our side at this point.

https://github.com/json-schema-faker/json-schema-faker/commit/16286c217336a84e5c7128a981f6ec1374371297#r35110880

[2019-09-17 08:09] XVincentX commented on #570
@yunsim https://github.com/json-schema-faker/json-schema-faker/pull/524 — we're now at their mercy :)

[2019-09-17 14:07] #599 closed

[2019-09-17 14:39] #570 closed

[2019-09-17 15:52] XVincentX opened #624 "403 -> 401 response code"
Some parts of the security checks are returning 403 — although this is not something we should be doing since 403 is because the server understands who the user is, but it is not authorised to do the current operation.

This is something that Prism cannot understand in any case, so we'll always return 401.

[2019-09-17 16:38] yunsim commented on #570
Thanks!

[2019-09-17 18:36] philsturgeon commented on #586
Hello everyone! So this is an interesting feature request, but there was a bit of confusion that came up here. Let's get that straightened out then move onto the request.

Basically the idea is "static" mocking is repeatable and the more information it has (enum, examples, default) the more useful that predictable mock response will be.

When folks enable "dynamic" mode, Prism is always going to r

[2019-09-17 19:49] pytlesk4 commented on #586
This looks like a good solution to hold people over while we wait for #435.

I say lets find a way! If you are looking for a different kind of input, what kind of input you looking for?

[2019-09-17 19:55] philsturgeon commented on #586
Do other people want to do this with an extension? If so, how should it look? `x-dynamic` as a boolean, or something else? I am leaning towards "im not sure I want this" but I think I could be convinced with a decent example :D

[2019-09-17 20:05] #624 closed

[2019-09-17 20:30] philsturgeon opened #627 "Clear out old TS rules and functions"
Go on a delete-spree taking away all of the old TS ruleset stuff.

- [ ] Spectral.addRules()
- [ ] Spectral.addFunctions()
- [ ] src/rulesets/oas/index.ts
- [ ] src/rulesets/oas2/index.ts
- [ ] src/rulesets/oas3/index.ts
- [ ] src/types/rule.ts
- [ ] anything else?

Whenever this gets done, it means the next release will need to be v5.0.

[2019-09-18 16:32] #589 closed

[2019-09-18 16:57] #575 closed

[2019-09-18 19:18] #591 closed

[2019-09-19 14:51] philsturgeon commented on #473
correct.

[2019-09-19 15:48] philsturgeon commented on #473
Btw the reason we are not interested in `curl http://some_upstream.com --proxy http://localhost:4010` is because http://localhost:4010 is the proxy yes, and the proxy is started with an upstream, so we don't need to place that extra burden on the client. The client can just request http://localhost:4010 and it's already going to the upstream.

This is still a proxy 👍

[2019-09-19 15:52] lag-of-death commented on #473
@philsturgeon, I understand. I was trying to clarify what type of proxy Prism is to be, which you did, so thank you for that. And also, this is the only way I believe to be able to peek into request/responses. With Prism creating a TCP tunnel (for https over http) between a client and an upstream, it would be impossible to do so.

[2019-09-20 01:23] yingan-rival commented on #435
I am not sure if this would help with my use case, but feels very related.

Here is an example of my use case. I need to make 2 separate API requests (Request_A and Request_B) in one transaction, and I am expecting one field (x) in the response A will have the same value as the field (y) in the response B.

I can't find a way to use Prism to achieve that, I am expecting the custom mocking would he

[2019-09-20 07:54] vanhoofmaarten commented on #435
It's already possible to leverage Fastify's [hooks](https://github.com/fastify/fastify/blob/master/docs/Hooks.md) when using Prism programmatically.

Below an example I use in one of my projects which has some custom use cases.

#### Tree-structure

[code]

<details>
<summary>server.js</summary>
<p>

[code]
</p>
</details>

<details>
<summary>/hooks/index.js</summary>
<p>

[code]
</p>
</details>

[2019-09-20 16:33] yingan-rival commented on #435
Thanks @vanhoofmaarten, that's very helpful, and I think it could help with my use case. Another downside is that we need to write custom node js code for that, which is not as convenient as configuration in the OpenAPI schema or some type of Prism configuration being described in this open issue. I am looking forward to the release of #394

[2019-09-20 18:54] philsturgeon commented on #430
Similar https://github.com/httptoolkit/mockttp /cc @pimterry

[2019-09-23 03:35] pytlesk4 commented on #586
@philsturgeon

I am leaning towards "im not sure I want this" but I think I could be convinced with a decent example :D

[2019-09-23 13:12] #584 closed

[2019-09-23 13:12] #592 closed

[2019-09-23 13:24] philsturgeon commented on #586
Ok, I think the best way to go about this is to focus on the generic mechanism in #394 then see what people get up to, and bake in support for whatever extension emerges as a clear winner. @lehphyro does that sound good to you?

[2019-09-23 13:24] #586 closed

[2019-09-23 13:31] XVincentX commented on #562
@lfmunoz Can you try again with Prism 3.1.1? Although we haven't looked at this specific issue I am almost sure that we've been ironed out some stuff that will make this…disappear.

Thanks!

[2019-09-23 13:31] XVincentX commented on #562
//cc @equalspeterd

[2019-09-23 13:31] lehphyro commented on #586
I don't think so, all I have is a spec file and I'd like to just run prism with npm with it, not have my own server implementation with custom extensions.

[2019-09-23 13:44] philsturgeon commented on #586
@lehphyro don't worry that was not the suggested approach. I think you saw the example of this extension concept being used in the JS API, but [we'll get it figured out for CLI users too](https://github.com/stoplightio/prism/pull/394#issuecomment-534104859).

[2019-09-23 13:50] philsturgeon commented on #473
For implementation, we want to write as little of the proxy code as possible. There are existing middlewares around which may be able to help us.

Possibly this: https://github.com/fastify/fastify-http-proxy

If we ever switch to express: https://www.npmjs.com/package/express-http-proxy

The fastify thing looks handy as it has http2 support built in, and that's something we should keep in mind for

[2019-09-23 17:54] hardboiled commented on #375
Two questions:
1. Where specifically would the reader be expected to find an explicit *if using docker, run `mock -h 0.0.0.0`* notice?

I found this page in the [documentation](https://stoplight.io/p/docs/gh/stoplightio/prism/docs/getting-started/installation.md), but only after I ended up finding a stackoverflow post explaining how to resolve the symptom of unreachable hosts within containers and

[2019-09-23 17:59] philsturgeon commented on #375
@hardboiled hey Daniel! How did you find out about the docker image if not in the documentation? We put the install instructions there so folks would find it, but if you can help us make this instruction more clear that'll help others in the future.

Aha you added an edit while I was writing! We have "For more installation options, see Getting Started > Installation" on the Dockerhub page and they

[2019-09-23 18:00] philsturgeon commented on #375
@hardboiled Agggh so many edits, I coudln't keep up! Yes, we can add it to the FAQ. :)

[2019-09-23 18:06] hardboiled commented on #375
Yeah sorry, I didn't expect such a fast response. You're lightning quick. I did scan through the dockerhub  readme after running the image, but the [installation](https://hub.docker.com/r/stoplight/prism/#installation) section threw me off.

[code]

I didn't understand why I'm yarn installing anything if it's a docker image. As such, I think that caused me to skip over the link that I gave above,

[2019-09-23 18:25] XVincentX commented on #375
@hardboiled That is correct. If you're using the docker image there's nothing else to do rather than mounting the file in the container and use it:

`docker run stoplightio/prism:3 mock -h https://file.com/file.yml 0.0.0.0`

[2019-09-23 18:44] XVincentX commented on #562
I've tried both examples and they work correctly in 3.1.1; please reopen if it is not the case.

[2019-09-23 18:44] #562 closed

[2019-09-23 20:03] philsturgeon commented on #473
Question from @pytlesk4:

Yep! So the proxy at this stage offers one thing: validation. It will soon allow for contract testing, and eventually offer traffic inspection, recording (#423) and a bunch of other stuff, but we want to get that going without confusing proxy and mock for now.

In the past its been rather difficult to tell what Prism is actually for, because we had a lot of commands that

[2019-09-23 21:53] MStumpp opened #643 "Self $ref not working"
I am using a self ref in swagger spec:

    swagger: '2.0'
    ...
    definitions:
        SomeModel:
           type: object
           properties:
              ....
              some other properties
              ....
              containingSomeModels:
                 type: array
                 items:
                 $ref: '#/definitions/SomeModel'

When I call the service, I get:

{

[2019-09-24 04:37] lfmunoz commented on #562
@XVincentX yes fixed / works as expected, thank you

[2019-09-24 08:26] XVincentX commented on #473
@pytlesk4 That is an interesting feature; although I'd be interested to see some usage (is this a feature people was enjoying/using?)

@philsturgeon I've got some questions to clarify the direction of which we want the proxy feature of Prism to go:

1. When Prism is in proxy mode, shall it verify the requested path is valid against the paths declared in the document? If so and it's not valid, shal

[2019-09-24 08:27] XVincentX commented on #473
//cc @lag-of-death

[2019-09-24 09:01] StefanDywersant commented on #643
Hey @MStumpp,

I tried to reproduce the issue with the following spec:
[code]

Invocation log:
[code]

...and finally, curl log:
[code]

Could you please provide more details? Especially the spec would be very helpful!

[2019-09-24 09:17] StefanDywersant opened #644 "Cannot read property 'kill' of undefined"
**Describe the bug**
When prism cannot start due to already used port it fails with additional message: `✖  fatal     Cannot read property 'kill' of undefined`

**To Reproduce**

1. start prism on one console (so it binds to 4010 port)
2. start prism on second console

**Expected behavior**
Single message with error description:
`[CLI] ✖  fatal     listen EADDRINUSE: address already in use 127.0.0

[2019-09-24 10:28] MStumpp commented on #643
In the initial post, I made a little mistake in model naming. Sorry.
There is only one model "SomeModel" involved.

[2019-09-24 10:50] StefanDywersant commented on #643
So we are dealing here with possibly infinite recursion, right?

I need to look at our tools how do they deal with such.

[2019-09-24 10:53] MStumpp commented on #643
That's right. At least I get an error, so prism doesn't crash.

[2019-09-24 12:00] lag-of-death commented on #473
@XVincentX, these are all cool questions. Personally I would just deliver it gradually. So, for me, for the first version:

ad1. No verification.
ad2. No verification.
ad3. No mechanism for switching off validations. Validate requests and responses. That's what Prism is for in the end. For "just a proxy", people can look elsewhere for now.

We could add the mechanisms later if they turn out to be

[2019-09-24 13:35] hardboiled commented on #375
@philsturgeon
I added a PR [here](https://github.com/stoplightio/prism/pull/646) that just sets an environment variable to decide which default IP address to use if the host IP is unset. Let me know if you like it.

[2019-09-24 13:46] philsturgeon commented on #473
@XVincentX seeing as you are currently working on #429 it is not possible for this PR to enable full contract testing (reporting mismatches in the response object).

It can perform input validation much like the existing mock server though, certainly. That validation logic should be in some sort of form which can be easily shared. If validation became a middleware that'd make that really easy to d

[2019-09-24 14:17] lag-of-death commented on #473
so, @XVincentX, would you like me to add to https://github.com/stoplightio/prism/pull/633 so that Prism as proxy can "perform input validation much like the existing mock server"? @philsturgeon, do you mean `middleware` as in `fastify middleware` or do you have something else in mind?

[2019-09-24 14:47] XVincentX commented on #473
@philsturgeon Correct, I know we can't get all of this right, but it will help me to give some directions for the code so @lag-of-death can be autonomous and work on this.

Can you re-check the questions again and let me know whether (now or in the future) this is something it should do?

[2019-09-24 15:14] philsturgeon commented on #473
Sorry @XVincentX absolutely, I missed one there.

You got it, that is what these options are intended for:

[code]

It could also be:

1. `--mode=log` or `--mode=error`
2. logs by default and `--error`
3. errors by default and `--silent`

Maybe 2?

Some people will want to use it as a "validation proxy", where it blows up if an incoming request is no good, just like using it for [server-side valid

[2019-09-24 15:39] lag-of-death commented on #473
@XVincentX, so probably the place where `forwarder` was invoked would be best?

[2019-09-24 15:40] XVincentX commented on #473
That is correct :)

[2019-09-24 16:01] equalspeterd commented on #562
confirmed fixed. thanks!

[2019-09-24 19:00] #511 closed

[2019-09-24 19:04] XVincentX opened #647 "Output validator is not checking the returned status code"
The Prism output validator is not checking out that the returned status code is in line with what specified in the contract/open api file;

We need this for the contract validation story; the returned status code should be within the defined responses for the current operation.

Question for @philsturgeon — if there's a default response, does it mean that *any* status code is ok? Maybe we mark is

[2019-09-24 19:06] philsturgeon commented on #647
Default can mean any that’s ok. No need for a warning.

--
Phil Sturgeon
@philsturgeon

[2019-09-26 08:20] #647 closed

[2019-09-26 09:50] #497 closed

[2019-09-27 13:24] #429 closed

[2019-09-30 14:15] philsturgeon commented on #523
Support for the discriminator keyword needs to happen in two places:

1. Input/Output Validation (and contract testing)
2. Mock Generation (somewhere above JSON Schema Faker, either http-spec or prism somewhere)

Implementing in 1 is possible, 2... is tricky. One idea would be trying to convert discriminator to if/then/else in https://github.com/mikunn/openapi-schema-to-json-schema/

[2019-09-30 14:26] philsturgeon commented on #495
We are going to avoid crossing prism and spectral for now. At some point validation of the description docs being passed in certainly seems like useful functionality, but this specific use case is not appropriate for prism at this time.

[2019-09-30 14:26] #495 closed

[2019-09-30 15:24] lag-of-death commented on #473
@philsturgeon, @XVincentX, is there an agreement on the approach?

[2019-10-01 07:46] XVincentX commented on #473
Kind of; we're going to need to do some refactor of stuff and break down some concept of Prism to make the proxy story property; I'll take care of this and try to come up with a design document hopefully soon.

[2019-10-01 09:26] XVincentX commented on #505
@StefanDywersant When working on this I really suggest you to write up a plan on how you're aiming to get these samples values — I just want to make sure we go on the right direction without writing code we're going to discard.

[2019-10-01 09:26] XVincentX commented on #585
@StefanDywersant The idea would be to use the Stoplight Analyzer CLI to upload the docs when something gets released; I think @lottamus can give you some directions since he's been working on an ORB for CircleCI that could really be helpful.

[2019-10-01 11:56] StefanDywersant commented on #505
- A utility which transforms IHttpOperation into example
- I would make it pluggable: an example plugins might include:
    - A simple string
    - A string with colors (so I can see which ones are parameters)
    - A curl line (with headers and stuff). Here comes the question whether it is prism’s responsibility?
- Above utility is responsible for putting path and params together and uses HttpPar

[2019-10-01 13:49] #365 closed

[2019-10-01 15:00] XVincentX commented on #403
@lag-of-death node-packer might be a solution as well

[2019-10-01 18:06] XVincentX commented on #505
The good thing is that in the CLI we can use all the other packages since it's fundamentally the last one (core, http, http-server).

I would definitely keep out of the scope the idea of pluggable and just return string we're going to interpolate using any URI Template expander library (https://medialize.github.io/URI.js/uri-template.html)

`result = URI.expand("http://example.org/{file}", {file:

[2019-10-02 00:57] lottamus commented on #585
@XVincentX @StefanDywersant here's the orb. It's pretty easy to set up: https://github.com/stoplightio/circleci-orbs#stoplightcli-

[2019-10-02 09:28] Mvrlex commented on #20
I like the suggestion from @manwithsteelnerves
But as you want to implement data persistence somewhere in the future I would suggest directly implementing both parameters for pagination. _limit_ and _offset_, with _offset_ being optional.
What also has to be considered is the collection in which the data will be generated into (nesting) and sizes of non paginated collections.
Consider following ex

[2019-10-02 16:05] lag-of-death commented on #403
- failed at trying to sign a binary with self-signed cert on a mac, was always ending up with:
  `The specified item could not be found in the keychain`. I was creating my own `.keychain` and importing `.p12` cert to that keychain and later: `codesign -s FE0A0B0F9C1410AC4A54174E197AE5F4396D180E --force ./project --keychain MyKeyChain.keychain`.

- tried code signing with *ad-hoc signing*: `codesig

[2019-10-03 16:11] lag-of-death commented on #403
@XVincentX

- a windows binary produced by `pkg` was signable by https://www.npmjs.com/package/signcode. So this leaves us with: binaries for windows and linux created with `pkg` and a binary for macOS created with `node-packer`. Please keep in mind that the Windows binary was signed with a self-signed cert and macos one was signed with `ad-hoc signing` as a POC. Adding in real certs will need fur

[2019-10-04 07:53] #585 closed

[2019-10-04 09:34] XVincentX opened #672 "Rethink the validators in Prism"
The input and output validators right now are not exactly in a good state. In particular:

1. They, instead of just validating, deserialise the payloads as well and mutuate the original objects
2. Push stuff in arrays that get modified and mutuate things everywhere

In order to make Prism components "compsables" as well as mental sanity we need to change a little bit the things in the game.

Follo

[2019-10-04 15:58] smizell opened #673 "Reload Mock Server on Change"
**User story.**
As a developer, I can use my most up-to-date document for mocking without restarting the server, so that I can get quick feedback on my changes and work through changes iteratively.

**Is your feature request related to a problem?**
When working with developers new to Prism or API mocking in general, I've found they expect the server to automatically use their changes. However, the

[2019-10-08 08:09] XVincentX commented on #673
@lag-of-death

This stuff shall be implemented entirely in the CLI. We can use [chokidar](https://github.com/paulmillr/chokidar) to detect the file changes; when these are happening we should shutdown the current server and create a new one with the new operations array. Also, make sure to save the current options (such the running port) somewhere and reuse them.

Let men now if you need further h

[2019-10-08 10:17] chris-miaskowski opened #688 "Validate static examples with the provided response schema"
**User story.**
As a User, I can ask Prism to validate that my static example meets the schema, so that I can assure my examples are correct.

**Is your feature request related to a problem?**

My Prism endpoint may have a response schema defined and additionally have some static examples defined. Currently when the static example doesn't match the schema Prism will say nothing and I may be using

[2019-10-08 10:20] XVincentX commented on #688
@chris-miaskowski This issue has been solved already, it just hasn't been published yet. See the image

<img width="973" alt="image" src="https://user-images.githubusercontent.com/1416224/66388222-ecab7700-e9c5-11e9-8514-a06a813b0564.png">

[2019-10-08 12:17] chris-miaskowski commented on #688
Oh, that's good enough! Looking forward to te feature being published.

[2019-10-08 12:40] #688 closed

[2019-10-08 13:08] #505 closed

[2019-10-09 08:15] chris-miaskowski opened #690 "Path params are not validated"
**Describe the bug**

Path-level path parameters are not validated with their schema.

**To Reproduce**

[code]

or (get-level)

[code]
[code]
curl 127.0.0.1:4010/path/123
[code]

[2019-10-09 08:22] chris-miaskowski commented on #690
Update: it doesn't work method-level path params neither.

[2019-10-09 08:23] XVincentX commented on #690
Yeah I think for some parameter types http-spec is incorrectly writing down its generated schema. If you could post the example regarding the second bug as well that'd be great and I can look into it.

[2019-10-09 08:28] chris-miaskowski commented on #690
FYI query param validation works

[2019-10-09 09:00] chris-miaskowski opened #691 "Second required query parameter falsely identified as missing"
**To Reproduce**

1. Create OAS3 spec with a path that has two required query params.
2. Make a request and provide both params

[code]

[code]

**Expected behavior**

Should return 200 OK

**Actual**

Returns error.

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
 - Library version: [e.g. 3.0.0]
 - OS: [e

[2019-10-09 09:04] chris-miaskowski opened #692 "The other query parameter is not validated"
**To Reproduce**

1. create oas3 spec
2. add path
3. add two query params
4. make the "second" have some validations
5. run prism & make invalid request

[code]

`curl 127.0.0.1:4010/path?a=2&b=633333`

**Expected behavior**

Should fail

**Actual**

200 OK

**Environment (remove any that are not applicable):**
 - Library version: 3.1.1

[2019-10-09 09:24] XVincentX commented on #692
The posted command is incorrect; you need to quote the URL otherwise the sent query string won't  be the intended one.

`curl "http://127.0.0.1:4010/path?a=2&b=633333"`

[2019-10-09 09:24] #692 closed

[2019-10-09 09:25] XVincentX commented on #691
Again, when using curl you need to quote the url with the query string.

[2019-10-09 09:25] #691 closed

[2019-10-09 09:30] XVincentX commented on #690
Note to self: this is a feature that has never been implemented in Prism.

[2019-10-09 10:38] XVincentX opened #693 "Prepare Prism Server for multi-hosted version"
The current implementation of `prism-http-server` package has been written specifically to host and deal with a single OpenAPI document in mind.

For the hosted version, we would like to leverage the idea of having a single Prism instance serving multiple OpenAPI documents at the same time, as long we have an identifier to fetch the correct document.

Here are some of the pain points we will have

[2019-10-09 11:03] #693 closed

[2019-10-11 12:30] StefanDywersant opened #696 "Colorized parameters in operation examples"
**User story.**
As a Prism user, I can parameters in example operations to be colorized, so that I can distinguish them from fixed URL parts.

**Is your feature request related to a problem?**
It is not easy to distinguish variable params from fixed parts of URL without looking into spec. Especially for string-based params.

**Describe the solution you'd like**
Generated parameter values should be

[2019-10-11 13:08] #673 closed

[2019-10-11 14:47] StefanDywersant opened #697 "Example path does not validate against regex"
**Describe the bug**
Regex pattern of path parameter is not respected.

**To Reproduce**

1. Given OpenAPI document `path-params.yaml`
2. Run `prism mock path-params.yaml`
3. See generated example path

**Expected behavior**
A path has a generated *uppercase* string

**Screenshots**
<img width="495" alt="Screen Shot 2019-10-11 at 16 46 01" src="https://user-images.githubusercontent.com/7136002/666

[2019-10-14 07:55] #697 closed

[2019-10-17 13:58] lehphyro opened #714 "Deprecated parameters make the server always return 422 response"
**Describe the bug**
I cannot get a successful response if my spec has a deprecated parameter.

**To Reproduce**

1. Given this OpenAPI document:
[code]
2. Run this CLI command: `prism mock openapi.yaml`
3. See error:
[code]

**Expected behavior**
Make a `GET http://localhost:4010/test` request and get a `200 OK` response.

**Environment (remove any that are not applicable):**
 - Library version:

[2019-10-17 18:20] henggai opened #715 "Prism server always returns empty body response when "addtionalProperties" is false"
**Describe the bug**
When additionalProperties is false, Prism server always returns empty body response.

**To Reproduce**

1. OpenAPI specification:

[code]

2. Start prism mock server and run curl http://localhost:4010/services/resources/5

**Current behavior**
 {}

**Expected behavior**
{
    "name": "aliquip",
    "tags": "",
    "createTime": "1985-06-04T11:15:57.166Z"
}

**Environment:**

L

[2019-10-18 16:37] XVincentX commented on #714
Good point. A deprecated parameter does not make the request invalid.

Still, we want to be able to report this thing accordingly somehow. I'll try to think about it and see how we can have the cake and eat it too.

[2019-10-18 16:57] XVincentX commented on #715
Verified. Apparently this is a bug in the underlying library we're using (json-schema-faker).

Although we're telling to generate optional values, for some reason it is ignoring the option value. I'll investigate and try to understand what is the problem (the library or the way we use it); in meantime you can workaround the problem by putting the properties you need in the schema's required array.

[2019-10-18 17:09] XVincentX commented on #715
Yes confirmed, this is a bug in json-schema-faker.

[2019-10-18 20:32] rossmcdonald opened #717 "Add ability to mock multiple API descriptions at one time"
**User story.**
As a developer implementing a micro-service architecture, I have several different API specifications that make up my application.

**Is your feature request related to a problem?**
Due to the number of APIs I have, it is not feasible for me to mock each API specification on a different port.

**Describe the solution you'd like**
I should be able to specify multiple API specificati

[2019-10-18 21:44] foofighter69 opened #718 "Does not work on Windows 10"
**Describe the bug**
It just hangs, no answer from mock

**To Reproduce**

1. Given this OpenAPI document 'https://gist.githubusercontent.com/vrialland/7031316121cb8e025dfca9dccfc226b1/raw/1258170203ee9c29ca968db1783a77d0cc519502/vehicles_openapi3.yaml'
2. Run this CLI command 'curl -v http://127.0.0.1:4010/vehicles/23'
3. See it hangs

**Expected behavior**
Prism answers

**Screenshots**
![image]

[2019-10-18 23:12] foofighter69 commented on #718
Solved .. Windows defender silently blocked the app

[2019-10-18 23:12] #718 closed

[2019-10-21 09:26] #715 closed

[2019-10-21 09:55] XVincentX commented on #717
Thanks for the issue @rossmcdonald.

At the moment we're not planning to offer this feature in Prism. The main challenge is, when loading multiple documents under the same server, the priority resolution.

What if two documents are defining a `/pet` path? Which of the two should have the precedence?

A possible solution would be name spacing all the documents, so that we'd have `/document1/pet` an

[2019-10-21 10:00] XVincentX commented on #714
@lag-of-death You can see that this particular error (causing the issue) is already marked as a warning and not as an error https://github.com/stoplightio/prism/blob/master/packages/http/src/validator/validators/params.ts#L25

For this reason, we need to modify the negotiator to trigger the negotiation for an invalid request only if there's at least an error.

https://github.com/stoplightio/prism/

[2019-10-21 14:18] rossmcdonald commented on #717
Thanks @XVincentX! Making this a feature of hosted Prism makes sense.

[2019-10-21 14:46] equalspeterd opened #722 "use of __example observations"
Not sure if this is a bug or a feature request, so I will start here with a question/observation, and convert as appropriate.

*selecting response examples*
when using `?__example=foo` request parameters to select response examples, prism assumes that only a response object body is requested (as evidenced by the response error), and not examples defined elsewhere in the specification (e.g. headers

[2019-10-21 15:58] pytlesk4 commented on #717
@XVincentX The chances of someone having `/pets` defined in the two specs, and mocking them at the same time is relatively low. I think it would be better to allow a user to mock multiple specs, vs not. We would always warn the user prism will have a hard time figuring out a which `/pets` operation to mock if that actually happens.

[2019-10-22 07:58] XVincentX commented on #717
I am going to write a small article in our documentation on how you can achieve the same result using a docker compose file and a reverse proxy.

[2019-10-22 11:02] #714 closed

[2019-10-22 14:27] lag-of-death commented on #717
@XVincentX

https://github.com/stoplightio/prism/pull/730 implementation has some disadvantages:

- there are only 2 prism instances
- endpoints exposed by nginx are static - `/app_1` and `/app_2`

It can be run like so:
`PRISM_PROXY_PORT=8090 PRISM_DOC_1=./doc1.yaml PRISM_DOC_2=./doc2.yaml docker-compose up`

I haven't found anything that could allow for dynamic number of Prism instances that ope

[2019-10-22 18:13] XVincentX commented on #717
We have updated the documentation to show how to make Prism serve multiple documents @rossmcdonald

https://stoplight.io/p/docs/gh/stoplightio/prism/docs/guides/multiple-documents.md

[2019-10-22 20:05] smitha99 commented on #562
I still see this issue while using version 3.1.1.

When I do with a global install it seems like its fixed. But, I have not globally installed the @stoplight/prism-cli npm package. I want to trigger it in my application source code.

[2019-10-22 21:11] XVincentX commented on #562
@smitha99 You might want to provide more details, otherwise it's not easy to help you.

[2019-10-22 21:25] garethj-msft commented on #471
Not just unstable, but also hyper-diverse withing the spectrum of possible replies

Firstly that the specification defines,
[code]

Secondly that the unspecified implicit contract defines (maybe using custom extensions?)
[code]

Not sure 'random' really means 'random' in those phrases above.

[2019-10-22 21:31] smitha99 commented on #562
I have a Delete endpoint in my openapi spec as below -

[code]

When I have prism-cli installed globally -

Step 1 :`npm install -g @stoplight/prism-cli`

and run
Step 2 :`prism mock books.yaml --dynamic`

- prism cli gives the below mock endpoint and expected response (204)

[code]

But when I have `prism-cli` installed locally in my app as

`npm install --save-dev @stoplight/prism-cli` and trigg

[2019-10-22 23:20] lfmunoz commented on #562
In your package.json add a script to check the version and confirm it is running 3.1.1

prism --version
3.1.1

[2019-10-23 00:21] smitha99 commented on #562
I did that, and it gives the version as 3.1.1 😅
[code]

[2019-10-23 13:21] taasan commented on #500
I'm trying to mock a real-world proprietary API that returns only text/plain and run into this problem. It would be nice to have a command-line option or x-something-something option in swagger for default media type.

[2019-10-23 17:36] henggai commented on #715
Thank you!  Do you know when will be a new version released?

[2019-10-23 17:44] XVincentX commented on #715
I think we're going to wait for #669 and #702 to get merged; then we will release 3.2.

[2019-10-23 18:10] philsturgeon commented on #500
Maybe a `--default-content-type=text/plan` switch, which defaults to `application/json`? This way our hardcoded choice to default to JSON can be replaced with a option that is in the control of the user. That would solve the use case for you @taasan, and help @chris-miaskowski with his example.

What do you think @XVincentX ?

[2019-10-23 18:30] henggai commented on #715
Thank you!~~~

[2019-10-23 19:27] pytlesk4 commented on #500
Why not just pick one from the produces array? If JSON doesn't exist, then pick the first one or a random one?

[2019-10-24 11:44] XVincentX commented on #722
Hey @equalspeterd

Sorry for the delay in the response!

This is correct, currently we only support body examples. Headers example is something we might want to support as well.

Can you clarify what's a documented profile? 🤔

This is a good point. Theoretically Prism has:
* Found the resource (path matched)
* Found the responses definition
* *NOT* found the named example for that content Type

An

[2019-10-24 11:56] XVincentX commented on #500
I am against this flag; I would rather fallback/try to follow to the spec

https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

Fundamentally no Accept === `Accept: */*`; we could normalise this somewhere in Prism and let it use the regular flow. In this case, we could also remove the `application/json` fallback (or we can keep it, I'd need to do some tests)

That said, I still think that doin

[2019-10-24 12:26] taasan commented on #500
`swagger.yaml`

[code]

HTTP request gives no output. [RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html) says:

[code]

Prism log

[code]

[2019-10-24 12:30] XVincentX commented on #500
@taasan yeah ok you're falling in the first case, where we should probably just take your Accept absence for a `Accept: */*` //cc @philsturgeon

[2019-10-24 13:30] equalspeterd commented on #722
Just a carefully crafted description in the prism README or such. Nothing special. If written in a manner that could be directly fork-lifted into the openAPI spec, that would go a long way towards moving the ball to fix the root cause (header & body named examples).

`415` or `422` (which you use today for other unserializable representation errors) I think would work.

I appreciate you guys worki

[2019-10-24 13:37] XVincentX commented on #722
@philsturgeon Thoughts?

[2019-10-24 14:20] #690 closed

[2019-10-24 16:45] #473 closed

[2019-10-24 18:37] philsturgeon commented on #722
Yep Picking the example is for the Media Type examples, which do not have headers inside them. Headers are defined on the response object.

<img width="943" alt="image" src="https://user-images.githubusercontent.com/67381/67514240-ada34400-f69c-11e9-9e36-fb8f55c637ec.png">

Then inside there is `content`, which is the Media Type Object:

<img width="992" alt="image" src="https://user-images.github

[2019-10-24 18:37] #722 closed

[2019-10-24 18:51] XVincentX commented on #722
@philsturgeon What about the 404 status code?

[2019-10-24 21:05] philsturgeon commented on #500
Don't look at 2616 it is [old and dead](https://www.mnot.net/blog/2014/06/07/rfc2616_is_dead.html).

If `Accept:` === `*/*` in 723* then sure, that is fine, but what does it mean when `Accept` is missing? Is the lack of an Accept header the same as the lack of a value in the header?

Btw our "application/json fallback" is for when you have multiple responses types defined but are not specifying an

[2019-10-24 21:12] philsturgeon commented on #722
@equalspeterd no problem! I get that 404 is not the most obvious thing, we agonised for ages over what to do. There are two schools of thought:

1. Always try to give the user something useful
2. Be very clear about when the user is requesting something that doesnt exist

We picked 2 because if you are making bad requests we would like you to know about that, so you can fix your request.

As for s

[2019-10-24 21:55] pytlesk4 commented on #500
@philsturgeon I understand that I just think its better than failing, that is a pretty technical thing to understand. But that is my opinion. I am thinking of this from a user perspective, prism is failing when something is defined, it is potentially confusing.

Sounds like a solution is reached though, so that is awesome :).

[2019-10-25 05:54] taasan commented on #500
From [RFC 7231](https://tools.ietf.org/html/rfc7231#section-5.3.2)

[2019-10-26 10:38] XVincentX commented on #365
We have just released 3.2.0-beta.5 that fixes this issue. You can try it out installing Prism from npm with its beta tag

`npm i @stoplight/prism-cli@beta`

[2019-10-26 10:38] XVincentX commented on #715
We have just released 3.2.0-beta.5 that fixes this issue. You can try it out installing Prism from npm with its beta tag

`npm i @stoplight/prism-cli@beta`

[2019-10-26 10:38] XVincentX commented on #714
We have just released 3.2.0-beta.5 that fixes this issue. You can try it out installing Prism from npm with its beta tag

`npm i @stoplight/prism-cli@beta`

[2019-10-28 09:01] omernave1 opened #745 "Prism wont return bad responses"
I am using Prism on my OAS3 api. I have multiple responses for every path, including error 400/404/401.

I can't get prism to respond with any bad response even when I send a bad body in the request or trying to get to an object that doesn't exists.

**Expected behavior**
Prism should be able to respond not only with 2xx responses.

**Environment (remove any that are not applicable):**
 - Library

[2019-10-28 12:01] XVincentX commented on #745
Hey @omernave1,

Prism generally validates the payload you're sending in and in case it's invalid, it will effectively respond with an error response based on what you have described in the document or in worst case it will generate an error message for you.

Would it be possible to share the document you're working with as well as the actual http call you're doing to the server?

[2019-10-28 14:51] lag-of-death commented on #745
Hi @omernave1, thank you for the report.

Unfortunately, so far, I have not been able to reproduce this. I would love to take a look at your OAS document and the requests used against Prism though.

There were no failed tests for `3.1.1` release (`macOS` build included).

If you want to take a look at example OAS documents and the requests associated with it, these might be of interest to you:

1.

[2019-10-29 01:59] kmalhi commented on #643
Im getting a similar error. I used prism with https://github.com/stripe/openapi and then sent a GET request to http://127.0.0.1:4010/v1/invoiceitems. Here is the response I got back:

[2019-10-29 15:29] aronmalkine opened #752 "Add timestamp to Prisms logging output"
**User story.**
As a developer, I can see output from prism with a timestamp, so that I can understand when events happened.

**Is your feature request related to a problem?**
I'm always frustrated when I can't understand when prism events happened.

**Describe the solution you'd like**
Output includes a timestamp.

[2019-10-31 11:27] #696 closed

[2019-10-31 15:16] philsturgeon commented on #331
This issue is being worked on for callbacks in a cool way, @StefanDywersant has started some code where basically when you make a HTTP request to prism, if it is going to send callbacks it will fire HTTP requests at the callback URL defined in the users description document. Awesome! This covers "Callbacks" well.

1. I noticed that examples of callbacks are a bit confusing in 3.0.x so I updated th

[2019-10-31 15:28] philsturgeon opened #754 "Implement Webhooks Proposal"
**User Story**
As a Prism CLI user, I am used to using Prism for improving the speed and accuracy of integrating with HTTP request/response APIs, but I would also love help integrating webhooks for my API.

**Details**
Prism is adding callbacks in #331, but there is another feature coming through the  OpenAPI proposals pipeline called [Webhooks](https://github.com/OAI/OpenAPI-Specification/blob/ma

[2019-10-31 17:28] lornajane commented on #754
CLI looks like a perfectly sane interface to me, I'm impatient to try it already :)

Let me have a shot at answering the questions from my point of view:
  1. I can't imagine there being different verbs for webhooks but let's use `operationId` as it's the most specific and therefore safer?
  2. The URL in the webhooks makes no sense at all. I think that string is straight out of the docs for the c

[2019-10-31 20:18] XVincentX commented on #745
@omernave1 Can you provide more details? Otherwise I will have to close this as Can't Reproduce

[2019-10-31 22:10] XVincentX commented on #672
@StefanDywersant I'm going to close this one since the phase 1 is done. We'll talk about separating serialisers and validators in a different issue.

[2019-10-31 22:10] #672 closed

[2019-11-01 16:24] #745 closed

[2019-11-04 18:12] henggai commented on #715
Hello,
Just asking again when will the next version be released?

Thanks
Henggai

On Sat, Oct 26, 2019 at 3:38 AM Vincenzo Chianese <notifications@github.com>
wrote:

[2019-11-04 18:13] XVincentX commented on #715
We're in the process of verifying all the bits we've put in this version. We hope to make it happen within this week //cc @philsturgeon

[2019-11-05 14:24] tobbbles opened #767 "Fresh installation not runnable"
**Describe the bug**
Running Prism from a fresh installation on Node v13.0.1 results in the following error
[code]

**To Reproduce**

1. Install
[code]

2. Run
[code]

**Expected behavior**
For the prism-cli to be runnable on a new install, without any additional steps

**Environment (remove any that are not applicable):**
 - Library version: 3.1.1
 - OS: Mac OSX Mojave 10.14.6
 - Browser: N/A
 -

[2019-11-05 19:41] XVincentX commented on #767
@tobbbles Can you try this again? We had a problem with an internal library being published because of the recent CircleCI outage. It should be all good now.

[2019-11-05 19:41] #767 closed

[2019-11-06 07:57] tobbbles commented on #767
Re-installed an working as expected - thanks!

[2019-11-06 14:39] karol-maciaszek opened #773 "Verbose logging"
**User story.**
As a Prism CLI user, I can supply --verbose (or --debug) CLI option, so that I can see more verbose logs.

**Is your feature request related to a problem?**
There are occasions when I do not have easy access to request or response payload. For those cases, it would be helpful if I could see the actual request and response payloads together with headers. That should help me debug po

[2019-11-06 15:50] XVincentX opened #774 "Do not validate the output media type if the document does not specify any content"
@StefanDywersant ahh well this just shows that my next job of "play with proxy server and contract testing to make sure it works as expected" should have been done sooner. My bad.

If the API does not specify content, then anything which comes in is a bonus, maybe a warning or an info, but certainly not an error. It's the sort of thing we'd report to folks via Studio somehow (long way off) saying

[2019-11-06 16:06] #331 closed

[2019-11-06 16:15] karol-maciaszek opened #775 "Running callbacks with a delay and/or frequency"
**User story.**
As a Prism CLI user, I can have more control over running callbacks, so that I can delay making callback request or run it several times.

**Is your feature request related to a problem?**
Running callbacks not immediately but after some time or running them several times makes Prism act more like a real server. That would help me prepare my applications to more real environment.

[2019-11-07 13:53] #774 closed

[2019-11-07 21:43] XVincentX commented on #773
Aha! I can understand the frustration while debugging the thing.

I think we have two steps here to do:

1. Logging the things that we need
2. Forward the filtering capabilities to Pino

Right now we have already several log levels that come bundled with [pino](https://getpino.io/#/docs/api?id=logger)

On top of these, we add some other that are used just for beautifying purposes:

I've prepared #

[2019-11-08 00:08] XVincentX commented on #500
@philsturgeon So what do we do here?

Are we ok that the lack of `Accept` === `Accept: */*` and `Accept:` === 406? If so, we can easily tame this since it's almost a single line of code.

[2019-11-08 02:22] wackykid commented on #643
i have the same issue too... i created an model with self reference and an endpoint that returns this model using separate files:

attributes.v1.yaml
[code]
test.v1.yaml
[code]
when i run prism, i get this error:
[code]
the moment i remove the self reference and it works.

i tried to workaround this by having 2 data models where A ref B and B ref A but it does not solve the issue.

[2019-11-08 02:28] wackykid commented on #643
it won't be infinite as long as you don't defined the self-referencing attribute to be required. if and only if the self-referencing attribute is defined as required then you will have an infinite level of recursion and thus it won't be possible to construct such an object.

but if the attribute is optional, the recursion will have to stop somewhere else. it is the responsibilities of the server i

[2019-11-08 09:49] #752 closed

[2019-11-08 22:38] XVincentX opened #790 "Consider ditching Fastify for Micri"
Fastify has been serving us fine so far with some high and lows, but I think it is time to remove it from the fastify http server and consider some alternatives.

## Motivations

* Because of the unique requirements of Prism (well to be frank it's more _because of the OpenAPI quirks_) we're using 1% of its features.
  * Fastify offers Error serialisation — oh ok I can’t use it
  * Fastify offers L

[2019-11-09 12:37] henrahmagix opened #791 "Allow setting access-control-allow-origin"
**User story.**
As a developer using Prism with a browser app, I can set the value of `access-control-allow-origin` to something other than `*`, so that I can use Prism to stub the services my browser app calls and the browser does not block access to the response.

**Is your feature request related to a problem?**
I cannot change my browser app (written with Angular) because I need to send cookie

[2019-11-09 17:51] codeasashu opened #795 "Cannot find serializer for text/html"
**Describe the bug**
Unable to render `text/html` responses containing objects (per OAS 3.x, I can have objects within `text/html` block). Getting error:

[code]
When making a valid request to schema path, having valid response within `text/html` content type, the response does not get parsed and error is returned.

**To Reproduce**
====spec====
[code]

**Expected behavior**
I should be able to se

[2019-11-10 15:30] XVincentX commented on #795
@philsturgeon We're currently let text/plain pass through — maybe what we could do is to let pass through all the `text/*`?

[2019-11-10 15:34] XVincentX commented on #791
@henrahmagix PR created to fix such issue. Could you try it out and let me know if that solves your issue?

[2019-11-10 15:41] philsturgeon commented on #795
Yes that was the original plan but it didn’t get implemented that way I suppose. All text should be treated as text so text/* is great!

On Sun, Nov 10, 2019 at 15:30, Vincenzo Chianese <notifications@github.com> wrote:

[2019-11-10 15:44] XVincentX commented on #795
Sweet. @StefanDywersant ^ this is for you.

[2019-11-11 09:40] henrahmagix commented on #791
Wow that was quick, thanks @XVincentX!

I tried to clone this repo and run `docker build .` on that branch but had an issue: the image built ok, but when it received a request it gave me an error:

So instead I ran a shell in stoplight/prism:3 (version 3.1.1) and made the same change, but my browser is still telling me the response is `access-control-allow-origin: *`. This is what I ran:
[code]

A

[2019-11-11 13:17] XVincentX commented on #791
I would suggest you to not build the images locally because of an internal limitation we'll hopefully get rid of very soon. In meantime — compile the code and create binary out of it

[code]

[2019-11-11 15:12] XVincentX commented on #791
@henrahmagix #800 should fix that.

[2019-11-12 09:47] henrahmagix commented on #791
@XVincentX That's worked, thanks! I can see `access-control-allow-origin: http://localhost:4200` in the response.

However, there's still a CORS problem: the `Access-Control-Allow-Credentials` header needs to be set to 'true'. I'm not sure if that can always be set to true, or if it should only be set when the credentials mode is 'include'.

Here's my full error:

I'm happy for that to be a separa

[2019-11-12 11:18] XVincentX commented on #791
Added the header in the same PR.

[2019-11-12 11:37] henrahmagix commented on #791
@XVincentX Yup, that worked! Everything works on my end with #797 =) Thanks for responding so fast!

[2019-11-12 12:58] #791 closed

[2019-11-12 13:54] philsturgeon commented on #500
@XVincentX it seems like we collectively reached the conclusion that no Accept, and `Accept:` are the same thing? Let's do that.

[2019-11-12 13:56] XVincentX commented on #500
Ok — we'll treat both cases as "the client accepts */*".

[2019-11-13 13:18] #795 closed

[2019-11-14 12:46] philsturgeon opened #805 "Proxy/Violations Feedback"
1. Getting `{"location":["response"],"severity":"Error","message":"The received media type does not match the one specified in the document"}` is not very descriptive. I can see which media type is in the response, sure, but in logs it is even less descriptive.

<img width="715" alt="image" src="https://user-images.githubusercontent.com/67381/68857962-ed79ac00-06db-11ea-8d09-57b705a7da3b.png">

Te

[2019-11-14 13:17] #500 closed

[2019-11-14 13:25] XVincentX commented on #805
Points 1 and 2 are not true anymore, you were probably using an old version of the source code. The new message is:

`The received media type "${mediaType}" does not match the one(s) specified in the current response: ${contents.map(c => c.mediaType).join(', ')}`

//cc @philsturgeon

[2019-11-14 13:36] StefanDywersant commented on #805
There is still something wrong though:
`curl -v -H'Accept: application/karol' http://127.0.0.1:4011/no_auth/pets/891`

Proxy console:
[code]

1. what is `Reply already sent?`
2. I need to verify those data violations, it shouldn't occur
3. I did sent a request with weird header, I see no complaints

[2019-11-15 10:00] henrahmagix commented on #791
Hi @XVincentX, do you know when we might get this fix into a release?

[2019-11-15 16:40] Sneh1999 commented on #643
is there a solution to this yet?

[2019-11-18 10:27] lehphyro opened #807 "Prism doesn't provide error details if a 400 response is specified"
**Describe the bug**
According to https://community.stoplight.io/t/force-prisms-detailed-422-response/919 prism has a regression regarding error details. In version 2, it provided a response header with an explanation on why the request is invalid, it doesn't do that in version 3 anymore.

**To Reproduce**

1. Given this OpenAPI document:
[code]
2. Run this CLI command: `prism mock openapi.yaml`
3

[2019-11-18 18:53] XVincentX commented on #807
@lehphyro We effective give preference to user defined responses (422-400-default) and return these *before* generating a 422 response with the error detail. This is on purpose and not a bug. @philsturgeon what do you think? Maybe we can try to have the cake and eat it too?

[2019-11-19 10:21] XVincentX commented on #643
@Sneh1999 Unfortunately we're not actively working on this yet; as this is a bigger problem (the resolving library is something that is used in different parts of the Stoplight ecosystem) this might require a while before it gets the required priority

[2019-11-19 10:22] StefanDywersant commented on #805
Sorry for not being descriptive enough.

In order to replicate, you shall start two instances of Prism (`master` branch):
1. `yarn cli mock -p 4010 ../../examples/petstore.oas3.json`
2. ` yarn cli proxy -p 4011 ../../examples/petstore.oas3.json http://localhost:4010`

Then call:
`curl -v -H'Accept: application/karol' http://127.0.0.1:4011/no_auth/pets/891`

Then watch it exploding!

[2019-11-19 10:54] XVincentX commented on #805
1. The data violations are effectively correct. When using static examples, OpenAPI3 sampler is ignoring the `format` parameter (in our test document is 404, and so the generated examples are effectively not compliant by definition. I've opened an issue about this: https://github.com/Redocly/openapi-sampler/issues/62

2. In proxy mode effectively we're skipping the negotiation process which checks

[2019-11-19 21:08] philsturgeon commented on #807
@lehphyro I understand the confusion, but... "and no HTTP validation response was found in the spec" there _was_ a response defined in the spec, so it used it.

Prism v3.0 is a brand new major version, not trying to emulate what v2.0 did. We have intentionally redesigned a lot of functionality in order to make a better product. We moved to a better logging system which explains the decisions Prism

[2019-11-19 21:32] XVincentX commented on #805
@philsturgeon Can you grab the latest master branch and try it out? I haven't finished the verification yet but I am quite sure we've addressed all the points.

[2019-11-20 01:35] marbemac commented on #807
@XVincentX doesn't upcoming v3.2 accomplish this? Adds a response header with validation issues.

Seems to be a conflict in original issue - the example given seems to hijack the entire response body (and not add a response header with validation issues as described). I think we should be able to get the response header solution in place, maybe as soon as 3.2 if it does what I understand it to do.

[2019-11-20 04:50] XVincentX commented on #807
This is what I meant for have the cake and eat it too. Effectively, we're still appending all the validations errors in the `sl-violations` header

[2019-11-20 11:12] philsturgeon commented on #807
We add a sl-violations header to the proxy which reports mismatches between what is defined as the contract and what passes through in the form of a request or a response.

The mock server only offers its own validation response if you’ve not provided one, which is how it generally works for any status code. If Prism decides to return an X for whatever reason, if you have an X it’ll use that X. If

[2019-11-21 05:44] wackykid commented on #643
but are there any plans or roadmap on when this issue will be worked on..?

[2019-11-21 17:56] philsturgeon commented on #805
This is great. I haven't tested every single possible error but you seem to have fixed the concerns I raised in this issue.

[2019-11-21 17:57] #805 closed

[2019-11-21 18:10] XVincentX commented on #791
@henrahmagix Prism 3.2.0's been released.

[2019-11-21 18:11] XVincentX commented on #752
Prism 3.2.0's been released!

[2019-11-21 18:11] XVincentX commented on #715
Prism 3.2.0's been released!

[2019-11-21 18:11] XVincentX commented on #714
@lehphyro Prism 3.2.0's been released!

[2019-11-21 19:28] philsturgeon commented on #471
Mockit has a boolean for Monkey Mode https://mockit.netlify.com/docs/features/chaos-monkey

[2019-11-22 09:43] XVincentX commented on #471
Yeah, this is really a cool feature we could develop and bring a lot of value.

We probably just need to define what "chaos" mean; returning errors (which is ok) but which errors? 404? 500? According to the ones defined in the document? Or even return 200 with a different payload? Missing fields?

[2019-11-22 10:08] philsturgeon commented on #471
I was sharing mockit as an example to help define that :)

[2019-11-22 14:23] XVincentX commented on #807
We also add it when not proxying stuff and even if we're using an user-provided response!

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/1416224/69433471-f140aa80-0d3b-11ea-9895-a5380edd45e8.png">

[2019-11-23 01:01] garyhoren commented on #807
Can you give prism a command line switch to allow the user to change the behavior?

[2019-11-23 01:13] garyhoren opened #835 "request payload validation should detect undefined properties"
I am running prism V 3.1.1 on Mac with the following arguments:
prism mock https://raw.githack.com/OAI/OpenAPI-Specification/master/examples/v3.0/petstore-expanded.yaml

when I submit a request with an undefined property "txg" I get a 200:

curl -X POST -s -D "/dev/stderr" -H "content-type: application/json" -d '{"txg":"Stowford", "name" : "sadf"}' http://127.0.0.1:4010/pets

gives:

HTTP/1.1 200

[2019-11-23 08:43] XVincentX commented on #835
I am assuming you're referring to the fact that you're sending a property not declared in the JSON Schema and Prism is not telling you anything about it.

Well the issue is in the schema! You should modify the schema to say that additional (foreign) properties are not allowed. This is something that unfortunately is not supported in the `Schema` Object that's included in OpenAPI 2/3 but it's suppo

[2019-11-23 08:43] #835 closed

[2019-11-25 14:37] XVincentX opened #852 "Prism callbacks are not working when payload is not application/json"
At the moment, Prism deserialises `application/json` (and its variants) as well as `formData` — with a subtle difference.

The JSON payloads are parsed by the http-server, the formData by the http package — which unfortunately then drops the payload. For this reason, the callback procedure fails as it acts on a string (instead of a JavaScript object) and so it can't access any of the properties.

[2019-11-25 14:42] Arual90 opened #853 "Add Chalk to dependencies list"
Hello,
I have installed the version **3.2.0** of **@stoplight/prism-cli**

Executing the command `prism mock ./swagger.yml -p 8086` i receive the following error:
[code]

My app uses **chalk** version **3.0.0** and i noticed that **prism-cli** have no **chalk** dependency defined in the `package.json` even if it uses it, this way it resolves using the globally installed version 3 which is not the

[2019-11-25 14:50] XVincentX commented on #853
Minchia — questa non me la aspettavo @Arual90

Yeah, I think for some reason the dependency has been removed by mistake. I'll open a PR to close this.

[2019-11-25 14:58] XVincentX commented on #853
@Arual90 Che versione di node e npm stai usando?

[2019-11-25 15:35] #853 closed

[2019-11-25 18:31] lornajane commented on #471
We're considering recommending something like this to our users for testing. +1 for chaos mode!

[2019-11-26 15:58] dijitali opened #857 "Cannot get Prism to bind to IP when running in Kubernetes"
## Describe the bug

I am trying to run Prism within Kubernetes behind an Ingress but am having trouble getting Prism to bind to an IP.

If I don't specify a host, at all I am unable to connect to the Prism pod (expected, since Prism's default value is the loopback address `127.0.0.1`).

But if I specify a [wildcard mask](https://en.wikipedia.org/wiki/Wildcard_mask) via: `-h 0.0.0.0` (as recommend

[2019-11-26 16:01] dijitali commented on #857
For comparison, the same process using the [example NGINX deployment](https://kubernetes.io/docs/tasks/run-application/run-stateless-application-deployment/#creating-and-exploring-an-nginx-deployment) works fine (I can get the default NGINX page back from curl) and we also run a large number of other Node.js containers in this same cluster, perhaps indicating the IP binding issue is specific to Pr

[2019-11-26 16:36] XVincentX commented on #857
I have no problems running Prism's CLI in Kubernetes (Deployment + Service).

This image is coming from a Kubernetes Cluster using Rancher:

<img width="1365" alt="image" src="https://user-images.githubusercontent.com/1416224/69653224-29652780-1073-11ea-96cd-214f701f580b.png">

[2019-11-26 16:36] #857 closed

[2019-11-26 17:26] dijitali commented on #857
@XVincentX - thanks for taking the time to confirm.

After many, many hours of googling, searching fastify docs and troubleshooting NetworkPolicies, the issue was similar to [this StackOverflow post](https://stackoverflow.com/questions/50784868/running-json-server-in-docker).

Specifically it was the parameters in the deployment spec.  Instead of:

[code]

It needs to be:
[code]

I didn't spot it

[2019-11-26 19:12] pgoshulak opened #858 "Path param validation fails with kebab-case param"
**Describe the bug**
Prism fails to validate path parameters when given as kebab-case, instead returning Error 422 Invalid Request Body Payload

**To Reproduce**
1. Given this OpenAPI document:
https://gist.github.com/pgoshulak/76f582cb34673e60be4b5ecdd059b9d9
2. Run this CLI command
[code]
Send request:
[code]
3. See error: Prism returns error 422: `https://stoplight.io/prism/errors#UNPROCESSABLE

[2019-11-26 22:40] luckylooke opened #859 "npm install fails at CI"
First of all, thank you for great library, works well! :)
It only fails to install in my pipeline 🤷‍♂

**Describe the bug**
For some reason npm install of your package does not install on my Gitlab CI pipeline.

**To Reproduce**

1. have prism-cli in package.json dependencies
2. push it to gitlab repo with CI
3. See error:
[code]
It seems like it cannot install some dependency without presence of

[2019-11-27 05:26] luckylooke commented on #859
For now, I have put `@stoplight/prism-cli` as optionalDependency and installing in CI with "no optional" flag `npm ci --no-optional` because I dont need the package for any CI task.. I use it just locally in development. 🙂

[2019-11-27 06:12] luckylooke commented on #859
Ok, I have found out that git dependencies are supported as feature of npm but git is not included in node apline image because it is too big, and they choose to keep it small rather then support all building features of npm (https://github.com/nodejs/docker-node/pull/367), so I have two options here.. keep it as peerDependency  or use some docker image with git included just to be able to install

[2019-11-27 06:12] #859 closed

[2019-11-27 08:08] XVincentX commented on #859
@luckylooke Or use Docker Multi Stage build feature (we use it in Prism's docker image as well)

[2019-11-27 10:58] XVincentX commented on #858
Hey,

effectively I've noticed that the underlying library we're using to extract the parameters is failing when a parameter has a dash; I've tried another library as well having the same issue.

What's funny though, the spec seems to make clear that the dash is a supported char. I'll look a little bit more into that.

https://github.com/litejs/uri-template-lite/issues/1

[2019-11-27 13:54] Arual90 commented on #853
Sto usando Node 10, probabilmente gestisce la cosa diversamente
Grazie per il fix ;)

[2019-11-27 14:20] pgoshulak commented on #858
Further on the spec, we use [swagger-cli](https://www.npmjs.com/package/swagger-cli) to bundle and validate our `.yaml` files, and [openapi-generator-cli](https://www.npmjs.com/package/@openapitools/openapi-generator-cli) to generate client packages - both of them seem to be ok with dashes in the params

Thanks for looking into this so quickly :)

[2019-11-27 14:25] pgoshulak commented on #858
for anyone encountering this issue, my hacky workaround is to replace all kebab-case params with camelCase directly in the `.yaml` file. We only use path params so renaming these params seems to be ok.

In our particular use case, it's always `user-id` or `organization-id`, always `*-id`, so we can run `sed -i s/-id/Id/g api-spec.yaml` to replace all `-id` with `Id`. Use with caution of course

[2019-11-28 07:39] XVincentX commented on #858
@pgoshulak Apparently `-` is not allowed.

varspec is defined in [section 2.3](https://tools.ietf.org/html/rfc6570#section-2.3)

[code]

[2019-11-28 07:39] #858 closed

[2019-11-28 16:50] #852 closed

[2019-12-03 15:35] adrianosmond opened #877 "Export createClientFromResource from prism-http"
[The docs](https://stoplight.io/p/docs/gh/stoplightio/prism/docs/guides/client.md) talk about `createClientFromResource`, but that isn't exported from. `@stoplight/prism-http`.

It should be, right? Or have I misunderstood?

I could get it by going into `dist/client` like:
`const {createClientFromResource} = require('@stoplight/prism-http/dist/client');`
but I don't think that's the intended way t

[2019-12-03 15:41] XVincentX commented on #877
It is the intended way, although there's a failure in the documentation. HTTP is a generic package with (probably) too much stuff inside.

[2019-12-03 15:41] #877 closed

[2019-12-03 15:44] adrianosmond commented on #877
Yeah the docs could really use some love! Thanks for a quick response.

[2019-12-04 21:35] julianwilkinson opened #878 "Docker Image Compatibility with Jenkins Kuberenetes Plugin: Be Able to use Docker Image Interactively OOB"
**User story.**
I would like to be able to run Prism in Jenkins as a container

**Is your feature request related to a problem?**
Out of the Box you can't use the default Prism image in Jenkins using the Jenkins Kubernetes Plugin)

**Describe the solution you'd like**
Maybe there could be an interactive variant of the docker image, or just let the prism command be executable from the shell?

[2019-12-05 10:09] XVincentX commented on #878
Hey,

I am not really familiar with Jenkins system as a container and the Prism command is effectively excitable from the shell if you use the `exec` command in docker instead of the regular run. Would it be possible to get more details?

Feel free to reopen or respond once you have more data for me!

Thanks!

[2019-12-05 10:09] #878 closed

[2019-12-05 20:08] julianwilkinson commented on #878
Hey thanks for responding so quickly,

Basically Jenkins in Kubernetes is run by the overarching Jenkins master orchestrating at least one new Jenkins "agent" (sometimes referred to as a slave) as a Kubernetes Pod. In these pods you specify containers with tools you want to use and then inside your pipeline you can use the shell in those containers to execute commands. The Jenkins workspace is mou

[2019-12-05 22:13] XVincentX commented on #878
I am a little bit unprepared here — to help you I would need to check out what is going on or you'd need to paste here some evidences (logs, screenshots).

This seems to be incorrect to me. Prism is a long running server and won't stop as long you do not send a signal it won't stop. You can verify this by yourself by running the docker image:

`docker run --init stoplight/prism:3 mock https://raw.

[2019-12-10 08:58] patrickp-bosch opened #891 "Detect unresolvable cirular $refs during prism startup"
**User story.**
As an API mock tester, when I startup PRISM and my OpenAPI spec contains an unresolvable $ref, then I want to receive a notification, so that I can try to fix the problem without having to try to fire that request against the mock by myself.

**Is your feature request related to a problem?**
i have tried to get started with PRISM and I have a spec with DTO models externalized into

[2019-12-10 17:52] lehphyro commented on #807
Are you planning to fix it soon?

[2019-12-10 20:46] ebwittenberg commented on #20
Any updates on this? This would be really nice to have.

[2019-12-11 12:35] XVincentX commented on #807
@lehphyro I'm sorry but I haven't been able to look at this just yet.

[2019-12-12 09:56] XVincentX commented on #891
@patrickp-bosch Thanks for writing us. Would it be possible to get the specification file that's causing the problem or a minimal repro? Prism should indeed fail fast on the ref resolution and that particular error is caused by something else

[2019-12-13 13:49] patrickp-bosch commented on #891
Thanks for responding, @XVincentX . I am not allowed to disclose the whole API specification files. I have tried to create a minimal reproducible example. So far, I was not able to reproduce the problem with a minimized variant of the specification. Unfortunately, the resource that I try to fetch has plenty of $ref's to other DTOs (especially because we must consider nested DTO references), so it

[2019-12-13 14:30] XVincentX commented on #891
@patrickp-bosch — the thing is that such error is coming from an internal library that we do not control and it's not printing the unresolved reference; moreover, that library should *never* see references because we're solving them ahead of the time and we do report errors when some reference goes undefined for some reason (see `getHttpOperations.ts`, line 32).

Unfortunately I do not see any oth

[2019-12-13 21:59] AndrewBell opened #894 "Uncaught Validation Exception"
**Describe the bug**

When validating a response, AJV can throw (an uncaught) exception, causing Prism to hang. We've been using `examples` and we're seeing an unhandled promise rejection from the AJV `validate` used [here](https://github.com/stoplightio/prism/blob/3cdc07f4bfc8ddf4945b3f925b95e4b7eb66b332/packages/http/src/validator/validators/utils.ts#L39)

~We've also noticed the error appears s

[2019-12-14 17:09] XVincentX commented on #894
@AndrewBell Would it be possible to share with us the offending document?

[2019-12-16 11:47] albertpastrana commented on #891
Hey both. I'm having the same issue and I've seen my api docs generator is generating a weird circular reference.

@XVincentX you were asking about it because prism doesn't support recursive data types?

[2019-12-16 12:19] XVincentX commented on #891
I think it's related to some issues with our resolver for circular references, but I'd need a reference document or something to tackle down the issue :)

If you can share the offending document, that'd be just great!

[2019-12-16 12:50] philsturgeon commented on #807
It seems like the use case is covered with the recent addition of sl-violation.

The actual response coming back from the 400 could be made more interesting with more keywords.

[code]

So if you added an example to the `message` field, or an example of the entire response, it would be showing you a more useful validation error. It would not have specifics of the exact thing, but that can be found

[2019-12-16 12:50] #807 closed

[2019-12-16 12:51] philsturgeon commented on #773
In progress https://github.com/stoplightio/prism/pull/801

[2019-12-16 14:14] albertpastrana commented on #891
Sure! I've seen different flavours of the error, depending on the exact schema. This is the minimum schema I've seen to fail:
[code]

Also, during my tests I've seen (or at least I think I've seen ;-)) it working when generating it dynamically but failing without the `-d`.

Thanks for your help.

Btw, the schema is autogenerated using https://github.com/softwaremill/tapir

[2019-12-16 15:26] XVincentX commented on #891
Ok in case of circular references — our ref resolver will effectively "give up" after a certain amount of iterations since it would otherwise end up in a infinite document and we do not "lazily" evaluate the document (which is a way to handle circular references).

I'm going to keep this issue open but I would consider this kind of an edge case; but I'll bring this up internally in Stoplight and s

[2019-12-16 15:27] XVincentX commented on #643
@wackykid We do not at the moment unfortunately. I'm closing this since this is a subset of #891. Thanks!

[2019-12-16 15:27] #643 closed

[2019-12-16 15:56] AndrewBell commented on #894
Unfortunately it's very large and full of IP. I've been trying to re-create a 'petstore' example, but haven't had any luck. I'll try to see if I can't recreate, if not maybe someone else runs into this too.

[2019-12-16 16:23] lehphyro commented on #807
The `sl-violations` header is good enough for me, thanks!

[2019-12-16 16:34] albertpastrana commented on #891
Thanks for looking into it @XVincentX.
Just wanted to add that in our codebase this is not an edge case but something pretty common when we deal with ADTs, so it'd be great if this can be fixed.
In case you don't have plans to fix it, I'd really appreciate if you can tell us, as this may be a blocker in our adoption to prism and we may need to look for an alternative.
In any case, thanks a lot for

[2019-12-17 07:16] wackykid commented on #891
oh well... it's funny that with so many ppl facing this issue and that it is not unusual to have circular references,.. seems that this issue is still considered as "not a priority" thus there are no plans or roadmap on resolving it (as replied in issue #643 )...

anyway since this issue won't be solved in any foreseeable future... i have moved on from prism and looking into other alternative solu

[2019-12-17 09:19] XVincentX commented on #891
Hey y'all,

let me give you some context here!

First of all, I understand that this feature is annoying to a lot people (way more than I initially thought, to be honest) — and we clearly want to fix that.

The major problem we have is that — Prism has been designed with the foreword of receiving a resolved document to operate with.

With circular references, this is clearly impossible, since the

[2019-12-17 10:41] philsturgeon commented on #891
@wackykid we don't appreciate that kind of tone around here. You can speak to us professionally and respectfully, or you can leave. We are working with others to resolve this issue, and @XVincentX has already said he is asking around internally to see what we can do about this, so let's keep the conversation constructive and on track.

[2019-12-17 10:42] philsturgeon commented on #891
@albertpastrana thank you for the recreatable example! @patrickp-bosch does this seem representative of your situation also?

I remember we fixed one recursive situation, where User would have an "owner" and that owner would be a User. The person who designed that schema did not put nullable in there, so we had an issue that it would just reference forever until some memory limit or recursion limi

[2019-12-17 10:44] philsturgeon commented on #891
@XVincentX I think we can do something with our resolver to handle these more advanced ref situations for the entire ecosystem, but in the meantime can we do something with prism to detect a "remaining $ref"? Like, a workaround to say: oh we noticed a $ref is floating around here, better throw that away because it will cause trouble?

[2019-12-17 15:45] hsnsalhi opened #904 "prism-cli to listen on https://localhost:5000"
Hello,
I don't know how to configure prism-cli to listen on localhost in https protocol
Thank you

[2019-12-17 16:13] XVincentX commented on #904
We do not indeed support listening on https. In case you're trying to host prims somewhere, I would recommend you to put it behind a reverse proxy handling the ssl termination.

[2019-12-17 16:13] #904 closed

[2019-12-17 20:51] AndrewBell commented on #894
Thanks for your patience, I was able to extract a failing example. You'll see at the end `areaCode`. The int is rightly invalid (schema defines as a string), but when I try to get a mocked response for this endpoint, Prism hangs. If I correct it to a String, it works fine.

Still seeing the same error as above, although I'll note that once I upgraded my npm version of prism, it no longer gave me t

[2019-12-18 14:24] patrickp-bosch commented on #891
@philsturgeon So far, I did not find any obvious recursion. I could only check again in 2020, after the seasonal holidays.

@XVincentX I got an advice from a colleague: In my stoplight studio desktop, I have right-clicked the original, unchanged oas2.yaml file and selected "export OpenAPI". As per our understanding, this creates what you call a _resolved document_ because the result combines the p

[2019-12-18 14:33] XVincentX commented on #894
Ok I think I've been able to identify the problem; ajv is trying to overwrite the source object with something. Most likely it's trying to coerce the `206` from number to string because of the schema definition. We should handle this gracefully.

[2019-12-18 14:48] albertpastrana commented on #891
Hi all. Thanks a lot for looking into this.
For now, I've been able to remove the `allOf` reference from the children and this has allowed us to use prism.
In the future, I'm not sure if we'll face a similar scenario but for now the workaround is good enough.
Again, thanks for open sourcing it, we've already saved so many time using it :-D

[2019-12-18 15:38] XVincentX commented on #894
@AndrewBell #905 should fix it. Can you pull the branch down and try it out?

[2019-12-18 15:50] AndrewBell commented on #894
That did the trick, I confirmed with both the shared example and the problem spec. I can see the errors coming through on the header as well. Thanks for the quick turnaround, and let me know if there's anything else I can do to help!

[2019-12-18 15:53] XVincentX commented on #894
Keep using Prism :trollface:

[2019-12-19 11:32] #894 closed

[2019-12-19 12:19] philsturgeon commented on #891
@patrickp-bosch the same [resolver](https://github.com/stoplightio/json-ref-resolver) is used for both "Export OpenAPI" and for reading files into Prism. It should create roughly the same thing, but the outcome could be different. The resolver could give up and leave a $ref in place, and your OpenAPI document would still appear fine, but Prism might choke on that $ref.

Could you Ctrl + F through

[2019-12-19 16:32] dario-frongillo opened #906 "option to specify basepath in prism mock server"
**User story.**
Hi all,
in my yaml i ve specified
servers:
  - url: https://localhost:3000/poll-maker/v1

so if exist a path /hello i want that mock server respond to
 https://localhost:3000/poll-maker/v1/hello

how can specify basepath poll-maker/v1 in mock server ?

[2019-12-20 10:11] XVincentX commented on #906
Hey @dario-frongillo,

Prism non supporta nessun `basePath`, né per OpenAPI 2 né per OpenAPI 3.0, [qui trovi le nostre motivazioni a riguardo](https://github.com/stoplightio/prism#faqs).

Scrivici ancora se hai bisogno di chiarimenti a riguardo.

[2019-12-20 10:11] #906 closed

[2019-12-27 19:30] philsturgeon commented on #20
Unfortunately this is not true. A lot of APIs work with limit/offset, but some use cursors, and various forms of continuation token.

https://phauer.com/2017/web-api-pagination-continuation-token/

Pagination is about as consistent for APIs as "Security" and that has a whole construct in OpenAPI.

Do you think we could do something as cowboy as `--records=100` which will just set the first, highes

[2019-12-27 19:32] philsturgeon commented on #20
We can certainly add support for "limit" and "num" to make this work in runtime for those who do happen to use those variable names.

[2019-12-31 02:12] goldingdamien opened #918 "How to choose the correct base path in Open API 3?"
In Open API 3, the base path is an array of Server objects with "url" properties.
How can I select to use the development URL instead of another URL?
Is there a flag for this to use from the command line?

Regards

[2020-01-01 10:13] irfanyusanif1 opened #919 "How to run api and prism on differnet ports"
**Installation**
I installed prism using command
`npm install -g @stoplight/prism-cli`

**Run mock server**
I used following command to run mock server and start mocking:
`prism mock -p 7000 C:\Users\other-folders\authorizationapi.v1.yaml`

It starts listing at `http://127.0.0.1:7000`.  Here is the screenshot
![image](https://user-images.githubusercontent.com/59409772/71640284-13b5d400-2ca9-11ea-9

[2020-01-02 09:37] patrickp-bosch commented on #891
I did, and I found that in fact, the generated output has one DTO `$ref` which is left unresolved due to a recursive structure that nobody had noticed so far. Thanks for helping to identify this! Best wishes for 2020.

[2020-01-02 15:33] XVincentX commented on #919
I am afraid I do not understand the question. From the informations you provided it seems like you need to use the `proxy` command, not the `mock` one.

Feel free to reopen in case you need any more help.

[2020-01-02 15:33] #919 closed

[2020-01-02 15:35] XVincentX commented on #918
We do ignore the base path — completely. See https://github.com/stoplightio/prism#faqs for an explanation of why.

[2020-01-02 15:35] #918 closed

[2020-01-03 22:21] philsturgeon commented on #891
@patrickp-bosch no worries! We'll keep digging in on the prism side, to see if we can detect these  and bail out gracefully.

To summarize:

- Hard circular references (e.g: not nullable and therefore A > A > A > A > A > A > A > A > infinity) should simply be avoided
- We need to make sure we don't punish users who make a mistake
- Nice clear error message if possible

[2020-01-04 09:26] dario-frongillo opened #920 "Validate server response if compliant according to openapi spec"
**User story.**
I have a suite of test i need a tool ( a jar for ex or a javascript module) that validate a server response.. for example in my script i invoke an api that return a json... i want to validate if that response is compliant according to my openapi yaml. for example if the json refer user model that have username required .. if the response not contains username response i want that t

[2020-01-04 09:35] XVincentX commented on #920
Hey Dario,

Prism effettivamente supporta questa funzionalità usando il comando `proxy` invece del comando `mock`

https://github.com/stoplightio/prism/blob/master/docs/guides/cli.md#proxy

Da qui poi potrai selezionare il modo di reporting degli errori in fase di validazione della risposta:

`prism proxy examples/petstore.oas2.yaml https://petstore.swagger.io/v2 --errors`

Saluti da Austin, TX!

[2020-01-04 09:35] #920 closed

[2020-01-07 08:05] patrickp-bosch commented on #891
Yes, I think your summary is correct and the improvement would be very helpful for many users.

[2020-01-08 09:54] Rawnly commented on #562
`Cannot find serializer for */*"`

Running `prism mock -p 4010 http://localhost:8080/v2/api-docs -m`

I'm using `spring-fox` on my Spring server, I can't figure out how set default response to `application/json` so I'm using `*/*` but with `prism v3.2.2` nothing has changed so far.

Any solution?

[2020-01-08 10:50] XVincentX commented on #562
@Rawnly Can you share your OpenAPI document?

[2020-01-08 22:20] Rawnly commented on #562
Sure! [Here it is](https://stockpapers.s3.amazonaws.com/files/swagger.yaml)

[2020-01-09 09:06] XVincentX commented on #562
@Rawnly What operation shall I test? Can you paste a CURL command to reproduce?

[2020-01-09 09:13] Rawnly commented on #562
Here the CURL

[code]

[2020-01-09 09:14] XVincentX commented on #562
This is a different error that the one you described. This is likely related to #643

[2020-01-09 09:14] Rawnly commented on #562
Oh sorry wrong issue 😂, wait a sec and I'll post the right response

[2020-01-09 09:19] Rawnly commented on #562
### CURL
`❯ curl http://localhost:4010/api/locations -H 'Content-Type: application/json' | json_pp`

### Response
[code]

[2020-01-09 09:20] XVincentX commented on #562
Ma non è che per caso eri a RomaJS questo Novembre? No giusto per capire :trollface:

[2020-01-09 09:24] Rawnly commented on #562
hahah no c'era un mio collega 😅 dovevo venire pure io ma non son riuscito... comunque non ricordo esattamente l'endpoint che mi dava problemi ieri.. stiamo cercando di tirar su un mock il più velocemente possibile per eseguire dei test, `prism` ci sembrava carino, ma ci sta dando problemi con il file OpenAPI generato da `swagger` :(

[2020-01-09 09:28] XVincentX commented on #562
Il problema è nei generatori automatici che solitamente puzzano de merda — provo a dare un occhio al tuo documento e vedere di chi è la colpa :)

[2020-01-09 14:52] XVincentX commented on #562
@Rawnly

<img width="899" alt="image" src="https://user-images.githubusercontent.com/1416224/72077762-168f7500-32f8-11ea-8bc5-cdfe47903560.png">

A me restituisce correttamente una risposta.

[2020-01-09 14:55] Rawnly commented on #562
@XVincentX

Ti posso chiedere che versione hai?

[2020-01-09 15:04] XVincentX commented on #562
3.2.3 con dall'immagine docker.

`docker run --init -P stoplight/prism:3 mock https://stockpapers.s3.amazonaws.com/files/swagger.yaml -h 0.0.0.0`

[2020-01-13 08:33] nicodh opened #928 "Use range defined in data type"
In OpenAPI v3 it is possible to define a minimum and a maximum for type number like that:
type: number
minimum: 0
exclusiveMinimum: true
maximum: 50

It would be great if the mocked data would reflect these boundaries to produce a more realistic data set. For example if I have a property holding a temperature I get values like -32532.345234 at the moment instead of random numbers in a realistic ra

[2020-01-13 12:14] #403 closed

[2020-01-15 09:57] #790 closed

[2020-01-16 07:48] AwesomeRei opened #934 "Can't create Prism Client"
Hi, I've used prism to build a server stub from OpenApi 3 Specs.
I've installed prism and successful on creating the server. Now I want to create client, but I find it difficult to understand where do I have to put this code, and how do I run it. I've tried using node but it won't work it says
UnhandledPromiseRejectionWarning: ReferenceError: createClientFromResource is not defined

I think prism

[2020-01-16 09:05] XVincentX commented on #934
We do have some documentation about using the client, did you check it out?

https://github.com/stoplightio/prism/blob/master/docs/guides/client.md#create-from-a-filename-or-http-resource

[code]

[2020-01-16 09:05] #934 closed

[2020-01-16 10:21] RonaldvdH opened #935 "Mock returns example value as number while type: string was defined"
**Describe the bug**
After updating @stoplight/prism-cli from 3.2.1 to 3.2.3 a property defined as type: string was returned as number. The example value was not encapsulated with quotes (") and only contained numbers

**To Reproduce**

1. Given this OpenAPI document
[code]

2. Run this CLI command 'prism mock api.aos3.yaml' (create file with contents of step 1)
3. See error -> When calling the en

[2020-01-17 16:09] skorunka opened #937 "Q: run prism mock along an angular app on ngix docker"
I have a docker linux image with ngix which hosts the angular app. It is possible to run the prism mock server in the same docker image?

In other words, I would like to have ngix to host an Angular app and run the `prism-cli mock api.yaml -- port 4500` at the same time. Api requests would be proxied to the internal 4500 port.

If the above is not possible, I could actually create a new container

[2020-01-20 09:05] XVincentX commented on #937
You're using the docker image incorrectly — the entry point you put is wrong and won't work.

This is way better:

`docker run -P --init stoplight/prism:3 mock -h 0.0.0.0 file.yml`

…but if you really want to use it in your way, this is the Dockerfile you should be using

[code]

[2020-01-20 09:05] #937 closed

[2020-01-20 09:10] XVincentX commented on #928
This is indeed supported in Prism and it works correctly with a sample document I just created:

[code]

<img width="1042" alt="image" src="https://user-images.githubusercontent.com/1416224/72713276-118abb00-3b6d-11ea-9293-1cfc39bc7313.png">

Can you verify and provide the offending document?

[2020-01-20 09:10] #928 closed

[2020-01-20 09:23] XVincentX commented on #935
Hey @RonaldvdH ,

I've just tried with Prism 3.2.1 and it is behaving in the same way of Prism 3.2.3 (which is right, we didn't touch that part at all during these two releases)

The example property shall return a complete example with the correct encoding out of the box (this is the spec), thus you should effectively quote the value in the document.

If you can reproduce with another document (I

[2020-01-20 09:23] #935 closed

[2020-01-23 18:52] AndrewBell opened #943 "Including "charset=UTF-8" in Content-Type header causes an incorrect 422 response"
**Describe the bug**

A few of our client libraries automatically add "UTF-8" to it's Content-Type headers, like so `Content-Type: application/x-www-form-urlencoded; charset=UTF-8`. When querying these mocked endpoints with this extra field, we get back a 422 with the following body. When removed, we get back the expected mocked response.

[code]

**To Reproduce**

Given this scenario file, see th

[2020-01-23 18:54] XVincentX commented on #943
@AndrewBell I'll look at this tomorrow but in meantime

https://github.com/stoplightio/prism/blob/master/CONTRIBUTING.md#common-issues

[2020-01-24 16:11] AndrewBell commented on #943
I just pulled the branch from #994 and I'm now getting back the expected 200. Thanks!

[2020-01-27 09:15] #943 closed

[2020-01-27 22:20] johanntang opened #951 "Support for AWS API Gateway"
**User story.**
As a user of AWS API Gateway I can use JSON schema draft 4, so that I can run a prism mock server.

**Is your feature request related to a problem?**
Get a fatal error "There's been an error while trying to resolve external references in your document"

**Describe the solution you'd like**
Prism to be able to read a .yml that uses the aws api gateway spec to start a mock server

**

[2020-01-28 07:58] XVincentX commented on #951
@johanntang We're going to need more details in order to help you out with this. Can you provide an example document we can look at?

[2020-01-29 09:07] XVincentX commented on #951
Closing until more details are provided.

[2020-01-29 09:07] #951 closed

[2020-01-29 13:46] philsturgeon opened #955 "Capturing Production Traffic"
**User story.**
As a devops person, I can pipe information about real HTTP traffic to a prism instance, to see what sl-violations are happening, without needing to put the proxy in the critical path of production APIs.

**Is your feature request related to a problem?**
Even though Prism is quick, and thanks to its FP implementation cannot crash, for many people introducing anything between them an

[2020-01-29 16:53] klarose opened #956 "Prism 3.2.4 no longer returns `access-control-allow-headers` for OPTIONS"
**Describe the bug**
We recently upgraded to prism 3.2.4. Our tests started failing due to cors errors. The failing tests send authorization headers to the API. The chromium browser interacting with the prism server would fail to send the request due to cors failing. We have narrowed down this change in behaviour to 3.2.4 -- presumably because the new http server's handler for OPTIONS is not setti

[2020-01-29 16:55] joh-klein commented on #928
I had the same issue. The problem was, that it wasn't clear to me, that you can either define `format` OR `minimum/maximum`,  but not both. So

[code]
OR

[code]

But not both:
[code]

[2020-01-29 16:55] klarose commented on #956
We may also want to update the `vary` header to match what it gave before. Otherwise I could see us getting some weird behaviour due to caching.

[2020-01-29 16:59] XVincentX commented on #956
@klarose Yes, apparently we forgot to handle some headers. Can you try this branch out? https://github.com/stoplightio/prism/tree/fix/request-headers

[2020-01-29 20:01] vanhoofmaarten commented on #956
Hi everyone. I'm also experiencing CORS errors since upgrading to Prism v3.2.4.

To have an extra set of eyes on this, I've locally setup the changes made in #957. I believe this fix also needs to set an extra _Access-Control-Allow-Origin_ header in the `handler` function. Without it I still receive CORS issues.

I've been able to fix CORS issues locally by simply adding the following piece of cod

[2020-01-29 20:14] XVincentX commented on #956
@vanhoofmaarten Can you try #957 and let me know if that fixes the error?

[2020-01-29 20:28] vanhoofmaarten commented on #956
@XVincentX

#957 currently does fix the issue for the preflight request, but not for the actual request.

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:4010/news/ (Reason: CORS header ‘Access-Control-Allow-Origin’ missing)`

I believe that the code my previous comment can resolve the entire CORS issue.

[2020-01-30 10:05] XVincentX commented on #956
@vanhoofmaarten Can you try again now?

[2020-01-30 11:04] vanhoofmaarten commented on #956
@XVincentX I can confirm this issue is fixed on my side.

[2020-01-30 11:11] XVincentX commented on #956
Nice. This is released in 3.2.5

[2020-01-30 11:15] #956 closed

[2020-01-30 13:40] klarose commented on #956
Thanks for the quick turnaround!

[2020-02-03 18:50] kiranbpatil commented on #673
@XVincentX : I have started the prism server with a file in git repo. On change of the file in git, I don't see the prism server restarting. When tested with local file change, prism server reloads
Is this an expected behavior? Does the prism server track the file changes in git?

I am on the latest version of prism..

[2020-02-03 19:03] philsturgeon commented on #673
@kiranbpatil When you change the local file, it works: good. When you change it in git, if the file is not local, it will not work. Prism has no concept of the file changing on a remote repository somewhere, it only reloads when the local file changes. For example, if in one terminal tab you had it running, and in another you did a git pull, then you'd see it reload. It will not reload without a p

[2020-02-04 10:27] XVincentX opened #960 "Make sure matchBaseUrl does not throw"
In Prism we try to never throw exceptions, since the Error is part of its domain model.

We still have few places where this is happening, and we want to fix that.

https://github.com/stoplightio/prism/blob/master/packages/http/src/router/matchBaseUrl.ts

It would be great to come up with a way to not throw an exception anymore and return an `Either` structure — and then propagate it back to the u

[2020-02-04 13:57] marcelltoth commented on #960
If we are going to return an Either from that function, would `MatchType.NOMATCH` still exist as a possible Right value, or would it be considered an Error?

[2020-02-04 13:58] XVincentX commented on #960
That’s up for a different discussion, for now let’s assume it’s a Either.right — we can reason about making it an Option.none in the future

[2020-02-04 14:57] sy-tech commented on #891
We have run into a similiar issue except of a child ref that points to self as describe above we have a array of child refs that point to itself. I tried making the array nullable but i dont think thats valid swagger.

I assume its the same problem since its a hard circular references just multiple of them each time.

Is there any update on this?

[2020-02-04 14:57] XVincentX commented on #891
Unfortunately I haven't been able to double down on this yet.

[2020-02-04 23:14] AndrewBell opened #962 "Implement Persistence Proposal"
**User story**

As an API developer, I want in-memory persistence that can fetch an entity from another operation, so that I can validate scenarios that have dependent requests.

As an API developer, I want to define that different endpoints that all refer to the same collection of entities, so I can tie together different operations aren't a part of the same OAS `path`, such as a `POST /widgets/w

[2020-02-05 09:00] sevendiko opened #964 "Add ability to generate responses based on a pre-defined regex pattern"
**As a user, I can generate dynamic response objects, which fields are matching the defined regexp pattern (if present).**

We only started to use Prism for API mocking, and we tried to use the dynamic mock generation feature, but unfortunately we are unable to generate relevant mocks. For example we have a /configurations endpoint in one of our microservices. We are developing a mobile applicatio

[2020-02-05 09:02] XVincentX commented on #964
@sevendiko Can you share the OpenAPI Document? Prism should be able to generate examples based on the provided format.

[2020-02-05 09:33] philsturgeon commented on #964
This would be part of #435, let's add this as a use case over there and consolidate the conversation.

[2020-02-05 09:35] XVincentX commented on #964
@philsturgeon Pretty sure the use case is _already_ supported by Prism though

[2020-02-05 10:10] sevendiko commented on #964
Yeah, for sure.

[code]

We are running prism with this command: prism mock -h 0.0.0.0 -d api.yml

[2020-02-05 12:48] XVincentX commented on #964
@sevendiko The document is invalid, I guess you just pasted the path with some definitions, but other are not there. I'll try to craft something from this but it'd be beneficial if you could provide a ready to use file.

[2020-02-05 12:52] XVincentX commented on #964
@sevendiko The document is invalid, I guess you just pasted the path with some definitions, but other are not there.
Also, the **pattern** is not valid, you need to remove the stars.

I have just tried with a document I crafted manually starting from your example and the dynamic example returned is indeed a value that's taken out of the pattern property.

<img width="1389" alt="image" src="https:/

[2020-02-05 12:52] #964 closed

[2020-02-05 13:02] sevendiko commented on #964
Yes, it is not the full .yaml, because that is 7000 lines long :D I just pasted the relevant parts but here you can find a valid example.
[code]

[2020-02-05 13:05] sevendiko commented on #964
Oh, It's really working for you. Then what am I do wrong ? :D

[2020-02-05 13:07] XVincentX commented on #964
I do not know. Same with your document:

<img width="962" alt="image" src="https://user-images.githubusercontent.com/1416224/73844406-cd601180-4820-11ea-9d9d-bd135228a52b.png">

[2020-02-05 13:22] sevendiko commented on #964
Ah, yeah, sorry guys, it was our mistake. Works as expected :) thanks for your help :)

[2020-02-05 15:23] #960 closed

[2020-02-06 14:39] XVincentX opened #966 "Support the Prefer header"
We currently support the selection of a specific response with the `__code` query parameter and a specific example with `__example` query parameter.

However, instead of polluting the query string with such thing we should probably be using the [Prefer header](https://tools.ietf.org/html/rfc7240)

We could do something like
`Prefer: code=201, example=named_example, dynamic=true`

I would also sugg

[2020-02-06 16:26] philsturgeon commented on #966
Yep, support both for the lifetime of v3.x, deprecated the query string stuff, and we can maybe drop it in v4. Gives us time to change documentation a bunch and get people used to the new way.

[2020-02-06 16:47] XVincentX commented on #891
Just a quick update — we have been able to identify a very promising library to resolve the references and apparently it works just great with the circular ones. I'll keep you posted.

[2020-02-07 08:26] marcelltoth commented on #966
Have you thought about maybe using a custom header instead? What are the arguments for / against? One I can think of:

Prefer:
- It's a standard header

Custom:
- Will not collide if the API we're mocking also uses a Prefer header. (I haven't seen a lot of APIs use it but still it's nice to be prepared for it.)

[2020-02-07 10:15] XVincentX commented on #966
At this point I really do not think people will put constraints on the preference header and moreover it’s only used in the requests, not in the responses. I’m inclined to leave it as it is.

[2020-02-07 23:54] elimerrell opened #968 "Prism returning different status codes and data types than expected"
**Describe the bug**
My development team uses Prism to test our API contracts during the build process for our React app. During our most recent build, several API contract tests failed due to Prism returning different status codes as well as data types that differ from the OpenAPI spec. Our tests were passing locally, but we were able to recreate the issue by removing the node modules and doing a

[2020-02-11 08:33] #968 closed

[2020-02-11 15:16] karol-maciaszek opened #977 "Parse JSON inside `prism-http`"
**Chore summary**
The JSON parsing logic is currently a responsibility of `prism-http` library clients. Here is how it looks in `prism-http-server`: https://github.com/stoplightio/prism/blob/master/packages/http-server/src/server.ts#L41. The goal is to move that logic to `prism-http`.

The reason behind:
- modules should have clear interface, having an exception for JSONish content is not clear fo

[2020-02-11 23:24] VenkatRamReddyK commented on #968
With 3.2.8 version seems like only 1 issue is fixed.

**Fixed issue:**
1. **Prism is returning the response for the first call under a path (responses are being interchanged)**

**Un-resolved Issue:**
1. Request failed with status code 422

**Expected result:**
api should respond with the data as per the data contract

When I access `/api/users/locations` or `/api/users/23`
I see 422 with the foll

[2020-02-11 23:43] VenkatRamReddyK commented on #968
@XVincentX,

Digging it further we figured out if we had **Endpoint1** followed by **Endpoint2** it throws 422,
if it is vice-versa it works fine.
So, we think that it is assuming locations is a uuid and not a seperate route.

**Endpoint1**. `/api/users/:uuid`
**Endpoint2**. `/api/users/locations`

[2020-02-12 00:20] VenkatRamReddyK opened #981 "PRISM returns 422 for routes with same parent route"
**Describe the bug**
We use **Prism Mock Server** for development and mock server for running API contracts tests for our React application. With the recent update 3.2.8 we figured out some of the tests are failing.
As a practice, we removed node modules, did `npm cache clean --force` and restarted prism and ran tests.

**To Reproduce**

**Here is the yaml code for simulating 422 issue**

[code]
*

[2020-02-12 00:21] VenkatRamReddyK commented on #968
@XVincentX Created #981 to track the 422 issue.
FYI: @elimerrell

[2020-02-12 09:30] XVincentX commented on #981
That is correct, I believe the router at the moment stops at the first match before checking out if there are more precise ones or something like that. We'll try to look into that.

[2020-02-13 09:23] joe42 opened #982 "Support redirect only endpoints out of the box"
**User story.**
As a developer,
I can add a mocked endpoint with a redirection response,
so that I can call the endpoint without additional metadata, and be redirected.

**Is your feature request related to a problem?**
Currently the only way to get around this limitation is to add metadata to the actual request. We do this using the `__code` query parameter. The problem is twofold:
1. This limita

[2020-02-13 09:25] XVincentX commented on #982
Yeah, effectively maybe we should by default look also to any 3XX status code before giving up, what do you think @philsturgeon ?

[2020-02-13 12:01] #981 closed

[2020-02-14 15:34] philsturgeon commented on #982
Could I see an example of the API description here to get my head around it better? Just the relevant bits is fine.

[2020-02-14 17:38] VenkatRamReddyK commented on #981
@XVincentX ,
Thanks for fixing this.
Can you please tell us the release of next version to liverage this fix ?

[2020-02-14 17:40] XVincentX commented on #981
Most likely we'll cut a minor release once #984 is done

[2020-02-18 02:38] ksudheernathreddy opened #991 "Proper report need to be generated by Prism Mock server after handling requests from client"
Hi,

Currently I am evaluating Prism for mock CI integration in our workflow, it really fits in. But I want to archive the summary of tests has been done, its detailed status for each jenkins build run over the period of time (client requests to prsim mock http server) and I want to make visualizations for developer for ease, I was checking this plugin (https://plugins.jenkins.io/stoplightio-repor

[2020-02-18 11:29] XVincentX commented on #991
Hey,

that file was generated by Prism using the scenario file you'd provide, effectively informing Prism of all the tests you were about to run.

In our case, Prism is currently not offering any scenario capability but just mocking/validation proxy capabilities, making the production of such file, at least at the moment, not possible.

I've marked this issue as a enhancement and assigned it to th

[2020-02-20 18:01] #966 closed

[2020-02-22 10:32] manwithsteelnerves commented on #20
True about using cursors but still limit is a required attribute to limit number of entries retrieved right?

[2020-02-22 13:05] philsturgeon commented on #20
I wouldn’t say a limit is required no, APIs could chose to simply say 100 is how many you’ll get.

It could also be a different parameter name than “limit” could be “num” or “number” but we could look for multiple param names.

[2020-02-24 05:57] philsturgeon commented on #991
@ksudheernathreddy could you explain your needs a little more? What is the use case you are working with? It seems like you want a mock server, but then you talk about reports?

As a general comment, and to build on what @XVincentX said: older versions of Prism had "Scenarios" which was running a test suite, and you got a report from the test suite. Now there is the mock server and the validation

[2020-02-26 21:33] XVincentX opened #1007 "Prism is not able to interpolate hyphenated parameters"
Considering this OAS3 file:

[code]

### Expected
Prism should be able to correctly interpolate it and propose a query parameter example in the CLI

### Result

<img width="608" alt="image" src="https://user-images.githubusercontent.com/1416224/75390301-ab046580-58ad-11ea-9625-327e04d9bc7f.png">

Prism is not crashing (which is good) and it's using the fallback behaviour of displaying the URI Temp

[2020-02-27 16:25] XVincentX opened #1008 "Remove createClientFromSpec method from Http"
The `createClientFromSpec` method forces Prism http to have a reference to some packages using the file system — that complicates the game when using it in the browser and non node environments in general.

We are going to remove such method and either move it in the CLI package or get rid of it completely so that browser bundling of Prism will be a breeze.

[2020-02-28 00:05] transitive-bullshit commented on #423
https://github.com/opticdev/shape-hash could be useful here.

I'm interested in using this for [Saasify](https://github.com/saasify-sh/saasify) btw.

Keep up the great work! 😄

[2020-02-28 08:42] VenkatRamReddyK opened #1010 "Prism listens correctly with -h 0.0.0.0 when accessed from browser but not from another docker container"
**Describe the bug**

 Prism when running with `-h 0.0.0.0` in a docker container responds as expected when we run `http://0.0.0.0:4010/api/users` in the chrome browser.
But, when we execture `wget -O/dev/null http://0.0.0.0:4010/api/users` in another docker container it doesn't listen on `0.0.0.0:4010`.

**To Reproduce**

 **Dockerfile for Prism**

**Build**: `docker build -t mock/prism-server .`

[2020-02-28 10:05] VenkatRamReddyK commented on #1010
When I am accessing prism from another container, I should use the container name and not 0.0.0.0

If we change 0.0.0.0 to prism it works !
`wget -O/dev/null http://prism:4010/api/users > /dev/null 2>&1`

And this ticket is more dealing with docker networking. Hence closing.

[2020-02-28 10:05] #1010 closed

[2020-02-28 13:05] adam-thomas-privitar opened #1011 "Ability for dynamic mocks to be static (same response body for each request)"
**User story.**
I am using Prism in a way which perhaps might be unique -- for automated test purposes rather than filling in gaps in the API before they are developed.

Alongside Jest, I have developed a framework where we can write UI integration tests for our application, with a mocked API provided by prism. This means I can write tests as if they were end to end, without caring about writing m

[2020-03-02 12:22] philsturgeon commented on #423
This is happening but this isn't where we plan it. Moving a lot of the logic higher up into http-spec and other parts of the ecosystem, which will mean this can be done far easier in Prism.

[2020-03-02 12:22] #423 closed

[2020-03-02 12:48] spaul90 opened #1012 "Prism support for multipart/form-data content type"
**Describe the bug**
We are trying to mock Auth API via prism. The content type for the request is supposed to be multipart/form-data. However, prism doesn't accept that. It works only if the content type is application/json.

**To Reproduce**
Run prism mock command: prism mock -d api.yml
Call the auth api with content-type: multipart/form-data.

**Expected behavior**
This should result in 200 OK

[2020-03-02 17:09] XVincentX commented on #1011
@adam-thomas-privitar

Thanks for the message.

Have you tried to use the `examples` section of the OpenAPI document? In such case you can basically pre-can the mock server with fake data and you can request them on purpose through the `__example` query string parameter.

[2020-03-02 17:18] XVincentX commented on #1012
Hey,

we effectively support `application/json` and `application/x-www-form-urlencoded` — the `multipart/form-data` Is usually for binary uploads which at the moment are not handled by Prism (they are hard — so to speak).

Given your use case though, I think `application/x-www-form-urlencoded` would work for you. Why are you using multipart in this specific case?

I'm closing this since it's by de

[2020-03-02 17:19] #1011 closed

[2020-03-02 17:22] XVincentX commented on #1012
Duplicate of #432

[2020-03-02 17:22] #1012 closed

[2020-03-03 08:57] Primajin opened #1020 "CORS Headers Options verb"
**User story.**
As a frontend developer, I want to connect to the local mock server, so that I can see mocked responses in my browser.

**Is your feature request related to a problem?**
I can not connect to the mock server via a secure browser, as the [CORS Headers](https://developer.mozilla.org/de/docs/Web/HTTP/CORS) are not set up correctly to allow any origin and any verb (OPTIONS, GET, POST, P

[2020-03-03 09:39] spaul90 commented on #1012
Thanks for your help.
We have no special reason to go for content type multipart/form-data. We updated the definition to use application/x-www-form-urlencoded and all good now.

[2020-03-03 12:06] adam-thomas-privitar commented on #1011
@XVincentX Yes, but its not quite what we want. The reason is that we _want_ to expose application flakyness via the randomness.

[2020-03-04 23:52] rich-rival commented on #435
@philsturgeon is this issue likely to make it into a sprint any time soon?

[2020-03-05 06:07] mattlock83 opened #1021 "Invalid examples should break things"
**User story.**
As a someone using examples extensively in my API spec, I should be made aware by Prism that an example is invalid to the schema, so that my spec is kept accurate.

**Is your feature request related to a problem?**
Currently if the example in an OpenAPI spec is invalid against the schema, Prism will create a mock endpoint and return the invalid response with a success code.

E.g th

[2020-03-05 20:22] XVincentX commented on #1021
`Or return a 500 response instead of an invalid example`

This is supported, you just need to run Prism with the `--errors` flag. Check out the [documentation](https://stoplight.io/p/docs/gh/stoplightio/prism/docs/getting-started/03-cli.md?srn=gh/stoplightio/prism/docs/getting-started/03-cli.md#proxy) for more information about the response violations.

[2020-03-05 20:22] #1021 closed

[2020-03-05 20:26] barrett-schonefeld opened #1023 "Test Command (a.k.a Dredd-lite)"
**User story**
With one command, I’d like to validate status codes and response schemas (from an actual server implementation) against all the endpoints and operations in an OpenAPI description.

**Problem**
To test the consistency of a server implementation with its API description (using the validation proxy), users must decide which requests to make on a per-API basis and write individual scrip

[2020-03-05 21:13] XVincentX commented on #1023
Hey,

thanks for the message, super appreciated. This is a feature that has been popping up now and then by our users, which is a little bit what Dredd is doing (throwing request at your entire specification looking for inconsistencies).

I am not opposed to the feature (this is actually something that Prism v2 supports with the help of Stoplight's platform through [Scenarios](https://help.stoplig

[2020-03-05 22:35] mattlock83 commented on #1021
Brilliant! I'd thought that only applied when running as a proxy, but works perfectly in mock mode

[2020-03-05 23:58] XVincentX commented on #1021
Effectively the documentation was not pointing that out that clearly. Will try to revisit the wording :)

[2020-03-06 02:59] finnlee87 opened #1024 "How to do 'afterScript' in new version?"
**Chore summary**
How to do 'afterScript' in new version?

**Additional context**
In the older version,  it can use './prism --config /path/to/my/config.json' this param to implement 'afterScript'.

[2020-03-06 10:58] karol-maciaszek commented on #1024
@finnlee87 what is the version you are referring to?

I can't recall prism having `--config` parameter, @pytlesk4 do you?

[2020-03-06 14:05] barrett-schonefeld commented on #1023
Vincent,

I appreciate the quick and thorough response!

Dredd is something we are investigating as well. Dredd seems to align directly with our use case but may require a similar amount of effort to provide OpenAPI 3 support.

I am leaning toward Prism because of the excellent organization and documentation of the project, the interesting opportunity for live request validation, and communication

[2020-03-06 16:53] XVincentX commented on #1023
Dredd supports OpenAPI 3.0! Although the original author has left Apiary/Oracle (I used to work there, by the way) I still think it has a decent level of support and at least bug fixes. I'd give it a try.

Aha thanks, I appreciate. We try to do our best.

[2020-03-07 13:46] XVincentX commented on #1024
I am pretty sure @finnlee87 is referring to Prism v2 — that is now unsupported for new features, but only bug fixes.

[2020-03-07 13:46] #1024 closed

[2020-03-07 13:57] XVincentX commented on #1020
I am a little bit confused — how can you effectively perform an OPTIONS request to your API when you have CORS enabled? Wouldn't the CORS handler catch all the requests anyway, preventing your custom handler to be executed?

[2020-03-07 14:21] Primajin commented on #1020
So normally we request via a library called Axios from the browser to our API. The API has cors headers set in a way that allows our company url + localhost to connect.

When developing new endpoints I wanted to use the stoplight mockserver so that we can already start working on UI implementation while our API developers still work on the real endpoint.

We are using the options call to check wha

[2020-03-07 14:27] XVincentX commented on #1020
That is indeed what they should do, since it's just that it's a browser-only check and these are two desktop applications. This is not their lack, it's just the way it is.

What is still not clear to me is that how can Prism differentiate between YOUR OPTIONS handler and the one that Prism "auto generates" to handle your CORS?

It would really help me a lot to get a sample OpenAPI Spec to try this

[2020-03-07 14:34] Primajin commented on #1020
Alright then let me tinker something for you in the next week :+1:

[2020-03-09 09:00] Primajin commented on #1020
OK here we go:
Open Stoplight Studio App locally with this file:
[code]

Then Open a browser on this page: https://codesandbox.io/s/stoplight-test-cors-9kt99

It will do a GET, POST and OPTIONS call against `http://127.0.0.1:3100/test` where the mock server should be running.
GET and POST work in the browser - OPTIONS not.

![Screenshot 2020-03-09 at 09 59 27](https://user-images.githubusercontent

[2020-03-09 17:26] XVincentX commented on #1020
Hey,

Ok I've gone through your use case and I now understand what's going on

Yes, effectively we are not allowing the `OPTIONS` verb in the CORS header, but that is for a reason. Even if we'd allow that, you wouldn't get the desired result.

https://github.com/stoplightio/prism/blob/master/docs/guides/cors.md

Essentially, if you enable CORS Prism will take control of the whole `OPTIONS` verb no

[2020-03-10 08:03] Primajin commented on #1020
Hmm OK, that's sad, how about adding a message / ℹ️ button there somewhere to make clear to the user, that whatever one set's up in studio besides a 204 with an empty body on the options call can not be mocked by the built in server?

My confusion in the beginning came from reading https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/OPTIONS that states that a successfull response can have a

[2020-03-10 15:56] XVincentX commented on #1020
The documentation should explain that already (see cors.md file).

Ok interesting, it seems that maybe we can melt the two responses together (and the browser would understand that it's both to accept the request and return its response.

I will check it out and see if we can make it happen.

My idea was that you could in meantime proxy the request from Create-React-App to Prism directly so you wo

[2020-03-10 16:33] Primajin commented on #1020
So for the browser also a different port from localhost to localhost is CORS so I need to fiddle around a bit to see how I can trick it to think it's still the same domain.

[2020-03-10 16:42] XVincentX commented on #1020
Hmm I fail to understand the difficulty. If CRA is serving your app on localhost:3000 you can set it up to do localhost:3000/api to localhost:4010 and on that 4010 port there would be Prism responding for you. Am I making sense?

[2020-03-10 16:47] Primajin commented on #1020
Ahh yes of course, sorry my bad. Will try that out

[2020-03-10 21:28] XVincentX commented on #1020
@Primajin Can you try out this branch and see if that fixes your use case? I've been reading the spec and apparently there's a reliable way to detect a preflight request.

I've tried with your codesandbox and it seems ok, however I'd like to get back from you first.

[2020-03-11 13:44] Primajin commented on #1020
Lovely this works both in Insomnia and in the Browser ❤️  🚀

![Screenshot 2020-03-11 at 14 42 38](https://user-images.githubusercontent.com/1742115/76423145-a019fc80-63a6-11ea-95b5-be9b52769633.png)
![Screenshot 2020-03-11 at 14 42 26](https://user-images.githubusercontent.com/1742115/76423152-a1e3c000-63a6-11ea-830b-324d090b5d37.png)
![Screenshot 2020-03-11 at 14 39 21](https://user-images.github

[2020-03-11 17:47] #1020 closed

[2020-03-11 18:22] satheesh-subramani opened #1032 "Prism 3 docker install issue"
Hi

i try to install prism 3 using docker ,following the documentation -

i tried - docker run --init -P stoplight/prism:3 mock -h 0.0.0.0 api.oas2.yml

when i " docker ps -a - i see docker container exited immediately.
MacBook-Pro-van-Eigenaar:~ eigenaar$ docker ps -a
CONTAINER ID IMAGE COMMAND CREATED STATUS PORTS NAMES
ab7f201db312 stoplight/prism:3 “node dist/index.js …” 12 seconds ago Exited

[2020-03-11 18:23] VenkatRamReddyK opened #1033 "Facing 422 issue while making POST and DELETE calls."
**Describe the bug**
We use Prism Mock Server for development and mock server for running API contracts tests for our React application. With the recent update 3.3.0 we figured out some of the tests were failing.
As a practice, we removed node modules, did npm cache clean --force and restarted prism and ran tests.

**To Reproduce**

Here is the yaml code for simulating 422 issue

**YAML code PRISM

[2020-03-11 18:33] XVincentX commented on #1032
Using such command will never work because the `api.oas2.yml` file is on the host, so the docker container won't be able to use it.

You need to mount your current directory as a volume in the container to make it work correctly:

`docker run --init -P -v $(PWD):/usr/ stoplight/prism:3 mock -h 0.0.0.0 /usr/api.oas2.yml`

[2020-03-11 18:33] #1032 closed

[2020-03-11 18:44] satheesh-subramani commented on #1032
i am not clear.  where to i find api.oas2.yml file
i just need to try above command after placing api.oas2.yml file in my /usr/ directory? what does the $(PWD) mean

[2020-03-11 18:46] XVincentX commented on #1032
Aha ok, you might be unfamiliar with docker then — this is not a Prism issue. PWD stands for print working directory.

[2020-03-11 18:47] XVincentX commented on #1033
Hey @VenkatRamReddyK

Thanks for the message!

the 422 error code is returned by Prism because of a validation error of the input — which you didn't show in this issue. To fully debut this, I would need:

1. The complete OAS document (the one you provided has references and I can't tell what's in there)
2. The sample input you're sending to the server

[2020-03-11 18:48] satheesh-subramani commented on #1032
ah okay. i will google then. you told "the api.oas2.yml file is on the host" , could you just elaborate what do you mean, and where to find this file

[2020-03-11 19:13] XVincentX commented on #1032
You need to provide it. It's the API you want to mock. You can create one with [Studio](https://stoplight.io/studio) or with whichever tool you prefer.

[2020-03-11 19:15] satheesh-subramani commented on #1032
ah i get it, i got confused by the way it is mentioned in the prism documentation, it made me to think its a file of prism. thank you

[2020-03-12 16:36] VenkatRamReddyK commented on #1033
@XVincentX,

I see the root cause of this issue is **prism@3.3.0 is not responding with dynamic data and returning data from example even after using --dynamic flag**.
I am running prism mock server using `prism mock masterSpec.inc.yaml --dynamic`

The following are my findings along with the changes to make the tests work.
And as per your ask, I added working yaml file which has **All Tests Pass*

[2020-03-12 19:22] pytlesk4 commented on #1033
@VenkatRamReddyK can you try using the [Prefer Header](https://github.com/stoplightio/prism/blob/master/docs/guides/01-mocking.md#static-or-dynamic-generation) for dynamic mocking?

While we figure out what to do about the dynamic mocking flag. I feel like this is a bug and we should just automatically add the Prefer header when a request comes into prism like so: `Prefer: dyanmic=true`.

[2020-03-12 20:02] VenkatRamReddyK commented on #1033
`curl http://127.0.0.1:4010/api/users -H "Prefer: dynamic=true"` works for us.
Since, 3.2.9 works for us. We will wait for your fix before upgrading to 3.3.0.

[2020-03-12 20:21] XVincentX commented on #1033
Most likely I put a bug where the un-presence of the header is taken as false and not properly overridden. We'll fix this soon and release 3.3.1

[2020-03-13 12:33] #1033 closed

[2020-03-13 15:22] equalspeterd opened #1036 "Order of processing for securitySchemes"
**Describe the bug**
When defining security for an API. it appears that the _order_ of the declarations is important (though it shouldn't be). Which results in unexpected `401`, and at other times getting a `200`.

**To Reproduce**
1. Given this OpenAPI document

[code]
2. Run
[code]
returns a `200 OK`.

3. Run
[code]
returns a `401` with `WWW-Authenticate: OAuth2` header

Now reverse the order of

[2020-03-14 08:39] satheesh-subramani opened #1038 "Cannot serialise complex objects as text"
This is my openAPI:
  '/insurance-accounting/update/{id}':
    post:
      tags:
        - Insurance accounting API
      summary: Updates business partner details for the given id
      operationId: updateBusinessPartnerUsingPOST
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
          examples:

[2020-03-15 04:37] XVincentX commented on #1038
@satheesh-subramani Can you format the example document and the CURL command and explain a little bit more what's up?

It's hard to help you without a clear reproduction case.

Closing until new details provided.

[2020-03-15 04:37] #1038 closed

[2020-03-15 04:42] XVincentX commented on #1036
Interesting, thanks for the report. It might be that we're treating the security array as an AND combination rather than an OR. I'll check it out!

[2020-03-15 13:38] XVincentX commented on #1036
Ok found the issue. We are effectively doing or checks, the problem is that the security scheme is `Basic` while we look for `basic`.

We'll look into this, in meantime you can workaround the problem by simply replacing your document's scheme with `basic`

[2020-03-16 08:20] pawelchrobak commented on #767
Hi, I'm experiencing the same issue.

I've tried to use prism for the first time. Tried on node 12.16.1 and 13.11.0.

Prism package version @stoplight/prism-cli@3.3.1
Npm 6.13.7
Node 13.11.0
OS win10 x64

[code]

[2020-03-16 08:47] eebonillo commented on #767
Hi,
I'm suffering the same error:

/usr/local/lib/node_modules/@stoplight/prism-cli/node_modules/@stoplight/http-spec/index.js:1
export * from './oas2';
^^^^^^

SyntaxError: Unexpected token 'export'
at wrapSafe (internal/modules/cjs/loader.js:1063:16)
at Module._compile (internal/modules/cjs/loader.js:1111:27)
at Object.Module._extensions..js (internal/modules/cjs/loader.js:1167:10)

Shall we ope

[2020-03-16 11:48] XVincentX commented on #767
Yes we had a mispublish of one of our libraries. We should be back online in some hours.

[2020-03-16 12:34] XVincentX commented on #767
@eebonillo @pawelchrobak It should be back working correctly. Can you verify?

[2020-03-16 13:28] pawelchrobak commented on #767
Yes, it works now. Awesome! Thanks.

[2020-03-16 20:29] #1036 closed

[2020-03-17 16:03] adam-thomas-privitar commented on #1011
@XVincentX Could this be reopened re: my reply? :)

[2020-03-17 16:12] XVincentX commented on #1011
Hey,

I'm thinking about it — thing is at this stage this feature is not planned nor in the short nor in the mid term.

I would love to help somehow in case you'd be willing to share some more details on why having a different response every time is a problem.

[2020-03-26 16:48] hottehead opened #1062 "`proxy/mock` mixed behaviour"
**User story.**
As a backend developer I want to let consumers test against my API Mocks and at the same time record information about structural mismatches with the backend answer.

**Is your feature request related to a problem?**
It's a workflow improvement to continuously record where structural mismatches exists while the real API is being continuously build.

**Describe the solution you'd li

[2020-03-27 22:29] barrett-schonefeld opened #1063 "Prism Validation Strategy"
For now, this is just a general question. Feel free to close this issue once we have discussed the issue.

After exploring Prism's validation code for a bit, I have a couple questions.

My understanding of the process:

1. Identify the expected schema using the operation and the status code.
2. Pass the header to the header validation functions, pass the body to the body validation functions, etc.

[2020-03-28 12:33] XVincentX commented on #1062
Hey,

your use case looks a little bit weird to me. We do not have support for this currently in Prism and I  do not think it's coming anytime soon.

Can you clarify a little bit the specific use case?

[2020-03-28 12:34] XVincentX commented on #1063
@barrett-schonefeld

It is hard to give a meaningful answer without having an example of what you're trying to achieve.

We base our validations exclusively on what's in the OpenAPI 2/3 document; we don't go further as we can't really guess what the user wants. Let's continue the discussion here — in meantime I'll close the issue since there's no action point in our code.

[2020-03-28 12:34] #1063 closed

[2020-03-28 12:35] XVincentX commented on #982
Closing, @joe42 feel free to reopen when you'll provide more information

[2020-03-28 12:35] #982 closed

[2020-03-28 12:36] XVincentX commented on #717
Implemented in Hosted Mocks 1.11

[2020-03-28 12:36] #717 closed

[2020-03-28 14:15] barrett-schonefeld commented on #1063
@XVincentX

Examples:

1. Request has a `request body`, but the `Content-Type` is not supported by the API. I would like to validate that the status code is `415`.

2. Validate that a `201` response has a `Location` header with the URI of the resource.

[2020-03-28 18:14] pytlesk4 commented on #1062
@XVincentX this was a feature of prism in Stoplight Classic. You could turn mocking on/off for particular operations in your API spec with [extensions](https://help.stoplight.io/prism/getting-started/swagger), you could also use a before [script](https://help.stoplight.io/prism/runtime-reference/api) to control the behavior as well.

[2020-03-28 19:25] philsturgeon commented on #1062
Sorry I’m not sure I understand the use case.

If you’re running a mock server, mismatched requests will show up in sl-violations, the same as if you ran the proxy.

The proxy is when you want to talk to a real server. The mock is for when you don’t want to talk to a real server.

Could you describe the use case where you need both?

[2020-03-29 09:41] hottehead commented on #1062
The basic idea is finding (edge) cases where responses don't match the openapi spec.

It seemed easy to do with the features in prism. But I now realize this should be better done on its own with a tool like https://dredd.org

Sorry to have bothered you two :/

[2020-03-29 09:41] #1062 closed

[2020-03-29 12:27] philsturgeon commented on #1062
There's a bunch of options: https://apisyouwonthate.com/blog/keeping-documentation-honest

Dredd is not maintained much these days, OpenAPI v3 support only ever hit experimental, and it can be a bit of a pain to set up an effective seed anyway. If you go with it, enable the --sorted option to do all your GETs first and DELETEs at the end - that'll help a lot.

If you're concerned about keeping des

[2020-03-29 13:46] WoH commented on #1062
Not sure if it's the use case @hottehead suggested, but if i have several (let's say 4) Endpoints, I'd be interested in implementing one, which I can then switch from mock to proxy (for example by using an extenstion in the spec, like `x-proxy`) while the other 3 Endpoints are still mocked.

[2020-03-29 14:31] XVincentX commented on #1063
1. Prism can do that without any changes. In an OpenAPI document you can define the returned media types — if none of these matches the one described in the `Accept` header, the 415 response will be generated for you
2. This can be enforced using the `headers` part of the response of an OpenAPI request and mark it as required/mandatory in the schema
3. This is effectively not something that you ca

[2020-03-29 14:33] XVincentX commented on #1062
Yeah this is something that Prism 2 was offering — we can probably enable it back sometime in the future.

[2020-03-30 13:17] barrett-schonefeld commented on #1063
@XVincentX great, thank you for the feedback!

[2020-03-30 13:50] lornajane opened #1064 "Postman plus Prism Proxy causes errors"
**Describe the bug**
I use Postman (https://www.postman.com/) with Prism, with good results. When I put Prism into proxy mode, Postman thinks it didn't get a response (but curl to the same endpoint works fine).

Prism shows no error messages, the output from Prism is identical whether I make the request through Postman or curl

Postman's console says "incorrect header check"

curl shows that Prism

[2020-03-31 10:29] balanza opened #1070 "Run Prism programmatically"
**User story.**
As a developer, I can start a mock server programmatically, so that I can integrate with my tests.

**Is your feature request related to a problem?**
Although Prism is thought to be run via command line, I'd find useful and interesting to have the ability of running it programmatically. I guessed I could just import needed modules in my project, but it fails at resolving expected p

[2020-03-31 11:49] r1ckr opened #1071 "Prefer header kept for subsecuent requests"
**Describe the bug**
I am following the following documentation to select what example I want when making a request:
https://stoplight.io/p/docs/gh/stoplightio/prism/docs/guides/01-mocking.md#response-examples

When I specify the `Prefer: example=<my example name>;` header it returns the requested example, but prism caches the header and all the subsequent requests without it will try to get that

[2020-03-31 13:49] XVincentX commented on #1070
Hey @balanza

Most of the parts you've pointed out are inaccurate, and there were indeed different errors with the example you provided.

I went ahead and fixed them for you here: https://github.com/balanza/didactic-waffle/pull/1

With such PR, the server correctly starts and mocks the document. Feel free to reopen the issue in case you're still struggling.

[2020-03-31 13:49] #1070 closed

[2020-03-31 14:09] XVincentX commented on #1071
Hey @r1ckr,

that is really weird, since Prism does not have any caching mechanism at all. Can you share the full document you are using so I can have a deep look into?

[2020-03-31 14:20] XVincentX commented on #1064
I am not experiencing this behaviour @lornajane — can you check out if I am reproducing correctly?

1. Run Prism mock on the nexmo API Server

<img width="1078" alt="image" src="https://user-images.githubusercontent.com/1416224/78037192-d35e0480-7330-11ea-8f12-5e31c6e899d7.png">

2. Use Postman to run a request:

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/1416224/

[2020-03-31 16:46] Michael-Dawkins commented on #1071
I have encountered the exact same problem today.
As soon as one request has the "Prefer": "example=example-1" header set, the subsequent requests to other endpoints give me an error because they do not have an "example-1".

I have tried specifying "Prefer": "dynamic=true" on the subsequent requests to try and "reset" the behaviour but it did not work.

Library: "@stoplight/prism-cli": "^3.3.2"
OS:

[2020-04-01 07:59] Michael-Dawkins commented on #1071
I have just tried with @stoplight/prism-cli@3.2.9 but I have the same issue.

[2020-04-01 16:04] lehphyro commented on #1071
This happens to me as well using `curl`.

[2020-04-01 16:13] XVincentX commented on #1071
@Michael-Dawkins @lehphyro Can you provide a sample document?

[2020-04-01 16:19] lehphyro opened #1073 "Can't mock error response after an example is chosen"
**Describe the bug**
`Prefer: code=400` doesn't work after a request with `Prefer: example=elon` is sent.
It works if no example has been chosen previously.

**To Reproduce**

1. Given the attached OpenAPI document
2. Run this CLI command: `prism mock openapi.yaml -h 0.0.0.0`
3. Execute the following requests:

`curl -H "Prefer: example=elon" http://localhost:14080/client-api/v2/test`
`curl -H "Pr

[2020-04-01 16:25] lehphyro commented on #1071
@XVincentX you can use the one attached to https://github.com/stoplightio/prism/issues/1073

[2020-04-01 17:38] XVincentX commented on #1073
Can you try this branch? #1074

[2020-04-01 17:38] XVincentX commented on #1071
Can you try this branch? #1074

[2020-04-02 11:32] lehphyro commented on #1073
That fixes the issue :+1:

[2020-04-02 13:54] #1071 closed

[2020-04-02 13:54] #1073 closed

[2020-04-02 14:14] lehphyro commented on #1073
@XVincentX that's was quick :) Maybe you can help fix this issue in spectral that's been open for a while? https://github.com/stoplightio/spectral/issues/870

[2020-04-02 14:16] XVincentX commented on #1073
@lehphyro Tengo dos manos solo :)

[2020-04-03 12:49] nhuray opened #1075 "Prism proxy does not proxy headers"
**Describe the bug**

I'm testing prism in proxy mode to validate API contracts directly from my application.

My API support the media types `application/json` and `application/vnd.api+json` (JSON:API).

My application is making the following request (I cleaned unnecessary headers):

[code]

When I make that request to my API (with prism as proxy), prism returns the following error:

[code]

I in

[2020-04-06 11:32] #1075 closed

[2020-04-09 15:49] stephenlprice commented on #1007
This behavior is also affecting path parameters. If I remove the hyphen from the names of my path parameters I can can generate valid mocked responses. However if path parameter names are still hyphened Prism will present the behavior seen in these images.

![requestMakerError](https://user-images.githubusercontent.com/58522233/78914246-c7b8bf00-7a4f-11ea-9864-f8c130aaa252.png)

![consoleError](ht

[2020-04-09 18:07] XVincentX commented on #1007
@stephenlprice I need to triple check but I am pretty sure that is a different issue.

Hyphens are not a valid URI Template character, so the OpenAPI document you have is invalid. Spectral could probably emit a warning/error about it.

[2020-04-09 18:46] stephenlprice commented on #1007
@XVincentX thanks for the fast response. I just checked Spectral in Studio and CLI for this case and it did not return any related errors.
Here is the example for your reference:

[code]

[2020-04-10 07:14] lehphyro opened #1083 "Reload mock server on example changes"
**User story.**
As a developer, I can change a referenced example file, so that I can see the changes after a request to `prism`.

**Is your feature request related to a problem?**
Prism only watches the spec file for changes and even if it changes, it doesn't reload referenced examples. This is useful because spec files can get extremely big so `$ref` usage is a must to keep it manageable.

**Des

[2020-04-12 14:13] XVincentX commented on #1083
Oh ok I understand your use case. I'm not too sure wether we can make it happen with the current architecture.

The CLI does not resolve the file content, making a little bit hard to track all the files on the disk and react accordingly. I do see the value in the feature though. I'm going to try to have a look at it.

[2020-04-15 11:33] HemTech opened #1090 "Prismcli support for HTTPS"
We have moved from http to https and found an issue with my mock data server. It is not supporting https.
We are using prismcli which has option for port number and host name configuration. we did not find an option to provide https using prismcli.
Do we need to create proxy or have any option with prismcli command?

[2020-04-20 17:58] TylerNielsen opened #1091 "Running ‘prism proxy’ with –errors flag doesn’t enforce required header"
**Describe the bug**
I’m running prism as a proxy for another service, and the OpenAPI spec for the service specifies that an x-authorization header is required.

When I submit the request to the proxy, I see that prism is showing a validation violation due to missing header. However, I’m getting the response from the “live” service itself, rather than the error about the missing header from prism

[2020-04-20 22:18] XVincentX commented on #1090
Hey @HemTech

there is no support for HTTPS at this time and we do not plan to support it. It's really too complicated, it will not really add a lot of value in development environment and I would expect a lot of issues coming from people because of self signed certificates.

Moreover, there are a lot of really easy drop solutions that you can use to do TLS termination easily (and likely more effi

[2020-04-20 22:18] #1090 closed

[2020-04-20 22:18] XVincentX commented on #1091
Thanks for the great repro steps @TylerNielsen , will review!

[2020-04-22 03:57] XVincentX commented on #1091
@TylerNielsen I've dug a little bit into this and the behaviour to me appears to be correct.

Fundamentally Prism has been able to recognise that you're missing a required request header, as you can see from the log statements.

What happens now is that when mocking (not your case) — the negotiator, based on the failed request validation, will look for an error response or generate one if no-one i

[2020-04-22 08:38] lornajane commented on #754
Update to say what actually got merged was not quite what is shown above. It's a top level `webhooks` element, with named items, which are themselves PathItem objects. We do use the callback feature in Prism when developing and I would LOVE (and champion) to have webhooks that I could trigger from CLI as well!

[2020-04-22 11:31] msilvestre opened #1097 "Expose openapi file on an endpoint"
As a developer, I can expose the openapi schema file on an endpoint, so that I can use swagger-gui on it.

This way it will be very easy to construct a swagger-gui locally using prism server that is already providing the api.

The endpoint could be something like:
GET /openapi

This endpoint maybe should be configurable in case it is already a path of the spec

Thanks

[2020-04-22 12:23] nicolastakashi opened #1098 "Dynamic data returning negative numbers, even if add the minimum"
**Describe the bug**
Dynamic response returning negative numbers, even if add the minimum and mark the format as int32.

**To Reproduce**

1. Given this OpenAPI document

[code]

2. Run this CLI command

[code]

3. See error
Returns negative numbers

**Expected behavior**
Since the definition is designed as integer with a minimum value non-negative, it must return only signed numbers.

**Screensho

[2020-04-22 15:44] TylerNielsen commented on #1091
@XVincentX - I appreciate you looking into it so quickly. If that's the way it's coded, that's the way it's coded. However I would say as a consumer, that seems to contradict or at least be missing from the [documentation](https://stoplight.io/p/docs/gh/stoplightio/prism/docs/guides/03-validation-proxy.md?srn=gh/stoplightio/prism/docs/guides/03-validation-proxy.md).

From the documentation:

The a

[2020-04-22 17:40] philsturgeon commented on #1091
@TylerNielsen sorry for the confusion here, there has certainly been some communication. I wrote the gitub issues to plan the work and wrote the documentation, so it's either way its my fault. Let me chat with the team to see what the best next step is!

[2020-04-22 18:51] XVincentX commented on #1091
@TylerNielsen Sorry for the confusion :)

We had an internal discussion and there's been a misunderstanding in the way the code should behave so yes, you're definitely right. We'll put this on top of our things to do and get it done as soon as possible.

Thanks for the patience!

[2020-04-22 22:40] TylerNielsen commented on #1091
@XVincentX and @philsturgeon - Appreciate the quick follow-ups, I don't feel like I've had to be patient : )

I just started playing around prism, and am excited about the potential - thanks!

[2020-04-23 01:05] XVincentX commented on #1091
@TylerNielsen Can you try out fix/request-check-in-proxy (#1099) and let me know if that solves your use case? It works with the demo, but I was wondering whether you don't have a real use case you can try that out with.

[2020-04-23 15:19] lehphyro opened #1100 "Option to specify context path in proxy mode"
**User story.**
As a developer, I can specify the context path my web application is running on, so that I can proxy requests to it.

**Is your feature request related to a problem?**
Some web applications expect requests on different base paths depending on deployment configuration. For example, an API spec might specify a `GET` request to `/friends` but the application implementing it will expec

[2020-04-23 15:25] TylerNielsen commented on #1091
@XVincentX - Was there a comment that got deleted? I got an email about you asking for me to checkout PR #1099 - but it looks like that PR is closed and I don't see your comment.

Side-note, should this be re-labeled as a bug instead of a question?

[2020-04-23 15:39] XVincentX commented on #1091
Re-labeled as a bug — I was trying to hack something together in 1099 but I think we should pursue another approach. I'll let you know when I have something ready to try :)

[2020-04-24 03:33] XVincentX commented on #1091
The work for this bug is tracked here: https://github.com/stoplightio/prism/pull/1101/files

This change has a good opportunity of unifying some of the things that we're doing in Prism and cleanup some stuff. It might require just a little bit more time but totally worth it.

[2020-04-24 09:43] ilkerceng opened #1102 "Generating Mock Data without Server"
**Chore summary**
What is the goal of this chore.
I want to create a mock data service but without http server. Currently, i have tried [swagmcok](https://github.com/subeeshcbabu/swagmock) but it goes to infinite loop in somehow. My main goal is to create a mock service layer for unit test. I need to return a response for matchin url with just Promise. It is also ok for me to just getting a mock d

[2020-04-24 10:30] GitTiago opened #1103 "Error output missing on docker logs for >=3.2.4"
**Describe the bug**
Parsing the OAS document does not output errors for Docker images tagged 3.2.4 or above.
Last working version found was 3.2.3
**To Reproduce**

1. Give the wrong yaml/json name for the spec
2. docker run --init -P stoplight/prism:3.3.3 mock -h 0.0.0.0 api.oas2.ym**o**l
3. No error outputted

**Expected behavior**
1. Give the wrong yaml/json name for the spec
2. docker run --in

[2020-04-24 10:31] sgrmgj-quotient opened #1104 "Unable to run docker image as the documentation instructions on MacOsX"
**the bug**
docker image for prism just does not start. I followed all the instructions as per the documentation.

**To Reproduce**
I am on Mac OS X Catalina and I am executing the following command
docker run --init --rm -it -v $(pwd):/tmp -P stoplight/prism:3 mock -h 0.0.0.0 "/tmp/XXX-Service.v1.json"
[10:24:56 AM] › [CLI] …  awaiting  Starting Prism…

and it just exits and the container did not

[2020-04-24 17:13] adam-thomas-privitar opened #1106 "Can not catch server startup errors"
**Describe the bug**
Currently, `createServer` calls `server.listen` but this method always resolves, even if there is a problem such as the port being taken. This means ultimately these exceptions land as unhandled exceptions as there is no way to handle them.

**To Reproduce**

1. Start prism-cli on a certain port.
2. In another terminal start one on the same port.

**Expected behaviour**
I'd ex

[2020-04-25 00:46] XVincentX commented on #1064
@lornajane Feel free to reopen once you have more informations for us.

[2020-04-25 01:00] XVincentX commented on #1104
There's definitely an error in the starting process but the docker image is not showing it unfortunately. #1107 should help you to debut what's the problem.

[2020-04-25 01:55] XVincentX commented on #1102
Hey @ilkerceng ,

I would say you can probably do that using the Client API exposed in the prims-http package.

If you could articulate a little bit better your use case I can probably try to point you to the right direction, but from the informations you wrote, I would say [this](https://github.com/stoplightio/prism/blob/master/docs/guides/http-client.md) is where you should start.

[2020-04-25 01:55] #1102 closed

[2020-04-25 01:58] XVincentX commented on #1100
We've been talking a lot about this while crafting Prism 3 and we took the decision of not supporting any kind of base path, nor from the CLI, nor from the OpenAPI document itself (we even wrote it in the README).

The easiest way to workaround this is to put a small reverse proxy between your App and Prism. [caddy](https://caddyserver.com) could be a very good choice for that.

[2020-04-25 01:58] #1100 closed

[2020-04-25 02:01] XVincentX commented on #1097
Hey,

I am going to close this for now. I understand the issue but I do not think this is going to be implemented anytime soon (even if it's trivial).

As a workaround, you can use `serve` npm package to serve your file while editing it. Even better, you can use [Stoplight Studio](https://stoplight.io/studio) which will effectively allow you to have the mock server *WHILE* you're editing the OpenA

[2020-04-25 02:01] #1097 closed

[2020-04-25 14:18] sgrmgj-quotient commented on #1104
thank you @XVincentX - I really appreciate the guidance. I will check it out.

[2020-04-25 15:21] XVincentX commented on #1091
@TylerNielsen Can you try #1101 and see if it solves your problem? I haven't finished up with that branch yet but the feature should be there.

[2020-04-25 19:35] XVincentX opened #1135 "Validation Process rethink, part 3"
It turns out that validation is a very complicated part of Prism and, although [we](https://github.com/stoplightio/prism/pull/664) have [reworked](https://github.com/stoplightio/prism/pull/731) it [several times](https://github.com/stoplightio/prism/pull/862) we still haven't got that right.

With the recent change in the way the proxy works for invalid requests in case the `--errors` flag is prov

[2020-04-27 15:07] ilkerceng commented on #1102
Hi @XVincentX
This is exactly what i am looking for. Thanks :)

[2020-04-27 16:08] #1103 closed

[2020-04-27 16:08] #1104 closed

[2020-04-27 16:08] #1106 closed

[2020-04-27 16:28] #1091 closed

[2020-04-28 03:15] VenkatRamReddyK commented on #20
Can you please let me know if you we could achieve this in any way ?

[2020-04-28 03:24] XVincentX commented on #20
@VenkatRamReddyK Unfortunately there's no way at the moment.

[2020-04-28 16:12] lornajane commented on #20
I am +1 on having more dynamic data generated and having that controlled by configuration and/or command line switches. I use the mock server when working on our SDKs and I'm alarmingly confident at how well they work with one record returned!

I'm not sure about trying to link to API pagination behaviour, that sounds more involved. Maybe it would be possible to start with the simplest implementat

[2020-04-28 16:14] XVincentX commented on #20
@lornajane I am leaning towards using the `Prefer` header to instruct how much data you want back, what do you think?

[2020-04-28 16:19] lornajane commented on #20
A header would also be welcome, feels similar to the query params like `__example` or `__code` that I'm already using and enjoying!

[2020-04-28 16:22] XVincentX commented on #20
Nice! Keep in mind we want to remove the query parameters support in the next breaking change of Prism, so I suggest to start migrating to the Prefer header!

[2020-04-28 16:24] lornajane commented on #20
Where can I read more about what I can send with `Prefer`? I only found `?__code` mentioned in an issue when I was looking for something else. (Links to source code also accepted if docs are not available!)

[2020-04-28 16:28] XVincentX commented on #20
Check out https://github.com/stoplightio/prism/pull/984/files — the PR has also the documentation changes. Write me in case you need more details

[2020-04-28 17:27] AnthonyPorthouse commented on #20
With the `Prefer` method approach perhaps we could allow both a random amount, say between 10 and 25, or an exact amount, i.e. 100.

For a range: `Prefer: collection_min=10,collection_max=25`
For a specific amount `Prefer: collection_count=100`

This would still need some extra thought on how you'd handle nested collections.

For example
[code]
How would any implementation interact with tags?

I t

[2020-04-28 17:35] AnthonyPorthouse commented on #20
@philsturgeon

If you were using a HAL implementation then the `_links` key could very well include the first array you'd encounter at the same highest level as a collection under a key.

[2020-04-28 17:39] philsturgeon opened #1139 "Control Number of Records in Collection"
**User story.**
As a CLI or HTTP user, I can do request a particular number of records be returned from the mock server, so that I can test how my frontend application looks with multiple records, odd numbers of records, and a few different values.

**Is your feature request related to a problem?**

Users need more than just a single item in a collection.

Let's let users pick, regardless of if th

[2020-04-28 17:40] philsturgeon commented on #20
Seeing as there are three things being discussed here, I'd like to split these down into distinct issues.

1. Making a specific number of records appear somehow https://github.com/stoplightio/prism/issues/1139
2. Making a random number of records appear somehow
3. Pagination

I have the issue for 1 (https://github.com/stoplightio/prism/issues/1139), and this seems like a good amount of scope for n

[2020-04-28 17:40] #20 closed

[2020-04-28 17:45] philsturgeon commented on #1139
Heads up, HAL puts some of _links into an array:

[code]

With just HAL being effected so far I'd say lets carry on with this approach.

Solutions can be made to add support for HAL records or more custom work later.

[2020-04-28 18:10] mswolfe opened #1140 "API Response Delay"
**User story.**
As an Engineer, I would like to specify a global response delay, so that I can more accurately model response timings of downstream APIs.

**Is your feature request related to a problem?**
I work with a lot of older internal systems that are not the most performant.  They can yield response times in seconds and I would like to be able to reflect this in the prism mock we run as wel

[2020-04-29 03:14] TylerNielsen commented on #1091
@XVincentX - This is working for the original case where I noticed the issue. Thank you for the fix!

[2020-04-29 09:37] philsturgeon commented on #1098
I've noticed this before and completely forgot to file an issue, thank you @nicolastakashi!

@XVincentX @karol-maciaszek Is this a json-schema-faker thing we can help them with?

[2020-04-29 09:41] philsturgeon commented on #1023
This is something we've discussed, as removing the need for people to need tocreate scenarios was part of the plan for v3.0, which we've started with contract testing and hope to continue with a few other options.

We'll need to plan this one out internally, so leave it with us. If anyone is looking at this thinking "I too would like to see this" I'd ask you to use the 👍 button up top to avoid bum

[2020-04-29 10:04] philsturgeon commented on #891
An update for folks, we switched to [json-schema-ref-parser](https://github.com/APIDevTools/json-schema-ref-parser), which is functionally better at resolving various situations.

We are sending them a few more PRs to bring it up to feature parity with the old json-ref-resolver, then we can migrate Prism over to using it.

[2020-04-29 10:06] philsturgeon commented on #1140
I like the sound of this. We're trying to keep stuff out of the OpenAPI document as much as possible, but due to the global nature this one might actually make sense.

A CLI too ofc.

@XVincentX what do you think?

[2020-04-29 10:09] philsturgeon commented on #523
This is on hold until we figure out if discriminator is going to be deprecated or not. https://github.com/OAI/OpenAPI-Specification/issues/2143

[2020-04-29 10:13] philsturgeon commented on #1140
We did something similar for callbacks btw, we could try to name and implement things as consistently as possible with https://github.com/stoplightio/prism/issues/775

[2020-04-29 11:57] XVincentX commented on #1098
@karol-maciaszek 's on it.

[2020-04-29 13:49] karol-maciaszek commented on #1098
ATM the diagnosis is that is is a problem with [http-spec](https://github.com/stoplightio/http-spec) package. The internal representation of the spec has wrong min/max values:
[code]

I'm looking now at [http-spec](https://github.com/stoplightio/http-spec)

[2020-04-29 14:24] XVincentX commented on #1007
Update on this — unfortunately OAS2 and 3 are using a custom URI Template scheme, so that hyphen is valid. For those reasons, this is a bug in Prism we have to fix.

[2020-04-29 14:50] karol-maciaszek commented on #1098
Ok, found. The issue is in a dependent library which we're using for converting OpenAPI schema to JSON Schema - [@openapi-contrib/openapi-schema-to-json-schema](https://github.com/openapi-contrib/openapi-schema-to-json-schema/).

The bug is placed here: https://github.com/openapi-contrib/openapi-schema-to-json-schema/blob/b95c27de775ba4c1b16a636ed51860e9a65552ab/lib/converters/schema.js#L174.

Whe

[2020-04-29 15:07] karol-maciaszek commented on #1098
Aha, one more thing. The reason it works in query is that the schema is not converted to JSON Schema for queries. Which seems to be a bug, right @philsturgeon @XVincentX ?

[2020-04-29 16:35] nicolastakashi commented on #1098
Hey @karol-maciaszek, thank you so much to reply :smile:

I tried to help you guys, but I could understand well the flow, sorry about that.

Thanks for the suggestion about the format, for now, this is not a problem for me, I reported the issue because of its makes sense.

[2020-04-30 12:57] nicolastakashi opened #1142 "Read-Only and Write-Only doesn't respect the scope."
**Describe the bug**
The required properties in schema don't respect the scope if we take a look at the OpenAPI Specification [documentation](https://swagger.io/docs/specification/data-models/data-types/) there is the following explanation:

If a readOnly or writeOnly property is included in the required list, required affects just the relevant scope – responses only or requests only. That is, rea

[2020-04-30 13:46] XVincentX commented on #1142
That is correct, we are effectively ignoring these fields at the moment. We need to look into this.

[2020-04-30 14:07] karol-maciaszek commented on #1135
That makes it impossible to pass through the erroneous request in proxy mode, right?

This is actually a big question. Do we have plans to support other protocols? IMO it would be so cool to do support.

[2020-04-30 14:30] XVincentX commented on #1135
Most likely we can still make it happen by returning a `Right` in some special cases, that part does not concern me.

I think we do, but when's this happening?

* I think the support for another protocol is not happening anytime soon (>= 1year)
* Duplication is cheaper than having the wrong abstraction, and core might be a wrong abstraction.

Let's think about it without committing to anything spe

[2020-04-30 14:36] karol-maciaszek commented on #1135
We could take a rough look at other protocols to know what we are dealing with. I have a feeling that we have gone too far with core being compatible with HTTP. That may answer the question of whether there is a good abstraction.

[2020-04-30 15:07] XVincentX commented on #1135
Definitely more to ponder!

[2020-04-30 19:08] vintprox commented on #891
Would like to bump, since inability to simultaneously retain recursive $ref to same model *and* run "Try It" in [Stoplight Studio](https://github.com/stoplightio/studio).
![image](https://user-images.githubusercontent.com/5708819/80749286-e54ce600-8b2e-11ea-9645-411326acdf43.png)

How do I work around this?

[2020-04-30 20:35] philsturgeon commented on #891
Aww man, bumping me on an issue I updated _yesterday_? 😂

If you can gimme your OpenAPI I bet we can sort it out. As you can see from above most folks have discovered a wonky aspect to their OpenAPI through this issue and have been able to resolve it, I'm sure we can do the same for you.

[2020-04-30 20:39] vintprox commented on #891
I just so happened to find rather basic workaround: just don't use self-$ref as array item, leaving just empty object. So, preview seems to be fine with it (not that I am).

[2020-05-04 09:23] saurabh-deep commented on #403
Hey @lag-of-death - Which Node.js version are you targeting for macOS? As far as I know, node-packer has support only till Node 8.

[2020-05-04 14:05] XVincentX commented on #403
@saurabh-deep We're not going to provide code sign. We've analysed the benefits and they're very little compared to the burden required to make this happen correctly.

[2020-05-05 01:28] mpretty-cyro opened #1152 "Issue in findBestHttpContentByMediaType due to inconsistent behaviour between `accepts` and `type-is` libraries"
**Describe the bug**
Our API provides versioning information in the `Accept` header with this structure `application/vnd.archa.api+json; version=1` but trying to use this structure as the content type seems to result in one of two errors depending on how it's specified:

If we specify a `Content-Type` of `application/vnd.archa.api+json; version=1` we get an error saying `Violation: response The re

[2020-05-05 06:58] mpretty-cyro opened #1153 "Prism not handling date-time where example contains time-offset"
**Describe the bug**
When a response has a variable with the `date-time` format and it provides an example with a `time-offset` value (eg. `2020-01-01T11:52:12+1000` which is valid according to the [RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14) specification with OpenAPI 3 follows). **Note:** This does work if you just provide a `Z` for the time-offset to indicate

[2020-05-05 14:58] wastrilith2k opened #1154 "Not all dependencies listed in package.json"
I've attempted to run this locally numerous times using both npm and yarn and every time, I get errors about missing packages. I've used the following commands in an attempt to install all dependencies:

npm install
lerna bootstrap
lerna exec yarn install
lerna exec npm install

After each I then attempt "lerna run cli" and am met each time with an error of a missing module. I've attempted to inst

[2020-05-05 21:51] wastrilith2k commented on #1154
Figured out everything has to be done using Yarn and lerna is not used as far as I can tell.

[2020-05-05 21:51] #1154 closed

[2020-05-05 23:46] mpretty-cyro commented on #1152
TS code for **Potential Fix 2** (which we are using internally) is:
[code]

[2020-05-06 05:31] Perni1984 opened #1155 "Support colocated json files in externalValue property for response bodies in static mock mode"
In general I am not 100% sure if this is a feature request or a bug report, but I guess this could be a matter of perspective.

**User story.**
As a prism user, I can use the `externalValue` property in my openapi specification, so that I can provide request and response examples through external json files.

**Is your feature request related to a problem?**
We have several example request and res

[2020-05-06 18:14] kalpesh6641 opened #1156 "Docs issues with the example: https://github.com/stoplightio/prism/blob/master/docs/guides/http-client.md."
**Chore summary**
What is the goal of this chore.

* Hi we are trying to use prism for some service mocking. We were following the above readme doc https://github.com/stoplightio/prism/blob/master/docs/guides/http-client.md.

**Tasks**

- [ ] Need to do this

   Can you point us out to the correct working example for the the above prism-http.

**Additional context**

We are not planning of using t

[2020-05-07 10:01] Lakitna opened #1157 "Validation should error on additional properties"
**User story.**

As a tester, I can make sure that my OAS aligns with our implementation so that I can use the OAS as a contract.

**Is your feature request related to a problem?**

When I'm testing an API I have to make sure that it has been implemented according to the specifications. This includes things like missing required fields for which the validator proxy is great. However, I also want t

[2020-05-07 14:33] pytlesk4 commented on #1157
@Lakitna this should already be supported, just need to add `additionalProperties: false`.

[code]

Give that a spin. Re open the issue if it doesn't work.

[2020-05-07 14:33] #1157 closed

[2020-05-07 16:25] Lakitna commented on #1157
I was convinced that `additionalProperties: false` was the default behaviour.

I looked it up, and this the spec:

Yup, my bad!

Since I was so convinced I dug a bit in the OAS repo to try and find why `true` is the default. I stumbled onto this discussion https://github.com/OAI/OpenAPI-Specification/issues/568. It's quite an interesting read.

Anyway, for my use case, I would still prefer a more

[2020-05-07 16:37] pytlesk4 commented on #1157
Check out [spectral](https://github.com/stoplightio/spectral), it's perfect for what you want.

I am not the decision-maker here but I don't think prism should be strict per se, it should be your spec. It should match your API. Otherwise other open source OAS tools would need a strict mode as well.

Let's loop in @XVincentX and @philsturgeon , they might have better feedback.

[2020-05-07 17:57] XVincentX commented on #1157
Yes I agree, we need to follow the spec as much as possible — whether we agree with it or not, at least for now.

Thanks for looking into this @pytlesk4

[2020-05-07 18:00] XVincentX commented on #1156
Hey,

If you want to use the Prism Http library directly, keep in mind you're going to have to create an HTTP Server to host the library on your own. You can take some inspiration from the http-server package.

As for point us in the correct direction, the documentation looks accurate to me. If you're referring to something not working or you're looking for something in particular, please elaborat

[2020-05-07 18:00] #1156 closed

[2020-05-07 18:15] XVincentX commented on #1155
Hey,

we deliberately skipped this so far, but apparently it might be the time to implement this.

As a temporary workaround, I think you can use the $ref even when OpenAPI does not allow that, since our resolver will resolve the references anyway, no matter where they're put.

I'll keep on eye on this and see if we can do something about it. My main concern would be the size of the external file

[2020-05-07 18:18] XVincentX commented on #524
Superseded by #1142

[2020-05-07 18:18] #524 closed

[2020-05-07 18:18] XVincentX commented on #1142
Underlying dependency issue: https://github.com/json-schema-faker/json-schema-faker/issues/289

[2020-05-07 18:24] XVincentX commented on #1152
Hey @mpretty-cyro

thanks a lot for the super-detailed report. I'm going to have a look into this but we can probably go with the fix 2 you have proposed.

We've migrated most of the parts to use type-is, but as you can see we might have forgot some parts.

[2020-05-07 22:32] mpretty-cyro commented on #1152
@XVincentX No worries, sorry I'd submit a PR myself but am pretty slammed at work at the moment. Just to note with the fix 2 - I ran into some problems with empty responses and when debugging found that a change to the `findEmptyResponse` in the `NegotiatorHelper` fixed it (changing `findIndex(ct => ct.includes('*/*'))` to `findIndex(ct => !ct.includes('*/*'))` - I'm not too familiar with the `fp-

[2020-05-08 03:55] XVincentX commented on #1153
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/1416224/81368595-c235af80-90b5-11ea-9abc-e1eef6a5c7d4.png">

I can't reproduce this one — can you verify and reopen if necessary?

[2020-05-08 03:55] #1153 closed

[2020-05-08 08:16] Lakitna commented on #1157
Alright makes sense. Thank you for your clear and fast answers!

I'll take a look at Spectral too.