[2021-10-22 11:38] gunnartorfis opened #1926 "Heap out of memory / slow responses for dynamic response generation"
## Describe the bug
I'm using Prism as a mock server for our OpenAPI spec.
The default configuration works flawlessly but once I add the -d flag, the response either takes up to a minute or the mock server crashes with the stacktrace listed under the **screenshots** section.

## To Reproduce
1. I was hoping I could not share our OpenAPI spec just yet in case there is something obvious that I'm mis

[2021-10-30 08:39] RomanKornev opened #1934 "Prism fails to send a response if validation pattern contains non-ascii characters"
## Describe the bug

Prism fails to send a response if specification's validation pattern contains non-ascii characters. Request is stuck forever.

## To Reproduce

1. Given this OpenAPI document `spec.yaml`
[code]
2. Run this CLI command `prism mock spec.yaml`
3. Send POST to localhost:4010
[code]
4. Request is stuck forever
5. See error message in logs
[code]

## Expected behavior

An error mess

[2021-10-30 08:54] Brett-Best commented on #1880
I just tested this again, it looks like the emails now use faker but another issue seems to be introduced which is faker will never generate `null` value for `email-ui` and ` email-manual`.
[code]

[code]

[2021-11-01 12:53] radzserg commented on #1880
It happens because we [set](https://github.com/stoplightio/prism/blob/master/packages/http/src/mocker/generator/JSONSchema.ts#L18)
[code]
as a default value. I don't know the reasoning for this change. But changing it is risky.

With hosted Prism, we could override `json-schema-faker` settings
[code]

but Studio works in a different way - it mocks only a single operation and does not operate with

[2021-11-01 17:12] slessard commented on #1064
I just reproduced this problem with prism version 4.5.0. @klausbadelt suggested the fix was somehow reverted in master. @XVincentX Can this bug be reopened and the fix be reapplied to master?

[2021-11-01 17:45] XVincentX commented on #1064
@slessard I do not work for Stoplight anymore — I cannot help with this

[2021-11-02 09:00] radzserg commented on #1880
@philsturgeon I'm curious to hear your opinion on that question. Do you know some history around these default values? Can we delete `alwaysFakeOptionals: true` from default settings?

[2021-11-02 15:36] radzserg commented on #1880
I've created new story #8227 `Pass x- settings to Prism when mocking from Ninja` it should allow adding new `x-json-schema-faker` settings from the OAS file so we can tune mocking.

[2021-11-02 15:37] #1880 closed

[2021-11-02 21:15] EdVinyard commented on #1926
@gunnartorfis, rather than a reference cycle, I think the out-of-memory errors are likely caused by the arrays, nested 3 levels deep, in the original spec.

If I restrict the number of dynamically generated array items json-schema-faker will generate, I can reliably get a prompt response.  We recently added the ability to do this in [v4.5.0](https://github.com/stoplightio/prism/releases/tag/v4.5.0

[2021-11-02 21:39] gunnartorfis commented on #1926
Thank you so much for the reply @EdVinyard and giving you the time to help me.

I upgraded the Prism CLI to 4.5 and added x-json-schema-faker. It works like a charm 👏👏

[2021-11-02 21:39] #1926 closed

[2021-11-04 13:45] lukasz-kuzynski-11sigma opened #1936 "Use accurate content-type matching"
## User story.

As I user I expect prism to pick proper `contents` element based on more accurate `content-type` matching.

## Is your feature request related to a problem?

Follow up on #1813

## Describe the solution you'd like

Assuming I have an operation with following content-type in request bodies:
- `application/json`
- `application/vnd+json`
- `application/vnd.1+json`

And sending request

[2021-11-07 18:31] maxlapshin opened #1937 "Add custom implementation of operation"
## Summary

Want to add some VERY primitive dynamic behaviour of API  (show download progress).

Are there any ways to get into prism response generation mechanism and put there some hooks?

[2021-11-08 12:10] #1813 closed

[2021-11-09 06:34] xero-timothy opened #1939 "Prism 4.6 Returning "Bad Request" when Content-Type header is set"
## Describe the bug

After upgrading Prism from 4.5 to 4.6, requests that specify a content-type header return with the following error message: `[6:24:06 AM] ›     [VALIDATOR] ✖  error     Violation: request Supported content types: `

## To Reproduce

1. Given this OpenAPI document (see attached)
[swagger.txt](https://github.com/stoplightio/prism/files/7502490/swagger.txt)

2. Run Prism
3. Make

[2021-11-09 09:55] languitar commented on #1920
What happened to the commit that closed this issue? We are facing a similar issue.

[2021-11-09 10:36] radzserg commented on #1920
We haven't worked on this yet. Looks like Zenhub somehow linked an issue from a different repository and closed it. That's why I reopened it.

[2021-11-09 14:14] hsnsalhi opened #1940 "Return request body as response"
Hello,
Is there a way to return the same request body as a response (echo API) ?
I want to retreive the body object and return it in the body response.
Thank you for your help

[2021-11-12 21:28] LucCelny opened #1941 "Nested schema in oneOf ignores validation rule of readOnly property"
## Describe the bug

When validating request body that contains a oneOf that has a schema with a required readOnly property, prism returns a 422 response stating that the readOnly properties must be include in the request body.

## To Reproduce

1. Given this OpenAPI document
[code]

2. Run this CLI command 'prism mock -d openApi.yaml.'
3. Post to '/resources' with request body
[code]

## Expected

[2021-11-12 22:03] gbmarc1 opened #1942 "Dynamic generation of pattern"
## Describe the bug

For some regex patterns, the json-schema-faker fails to generate a valid value that matches the pattern.

## To Reproduce
This pattern rarely produces a valid response
'''
    Language:
      type: object
      properties:
        languageId:
          description: ISO language code (http://www.mathguide.de/info/tools/languagecode.html)
          example: en-Latn-US

[2021-11-16 22:59] slessard commented on #1064
@chohmann Can you help reopen this issue so that the (very simple) fix gets reapplied in the master branch?

[2021-11-17 12:18] lukasz-kuzynski-11sigma opened #1945 "Investigate why useAllResults might endup in infinite loop"
As a followup to:

* https://github.com/stoplightio/platform-internal/issues/8870

[2021-11-17 12:18] #1945 closed

[2021-11-17 14:17] chohmann commented on #1064
This was specifically removed as part of https://github.com/stoplightio/prism/pull/1319 so we'll have to take a look at why it was removed and what will happen if we add back the `compress` flag.

[2021-11-17 15:56] ClementDEBOOS opened #1946 "Validation proxy with company proxy"
## Describe the bug

Prism does not allow positioning a company proxy between it and the backend in proxy mode.

**Environment (remove any that are not applicable):**
 - Library version: 4.4.1
 - OS: Ubuntu 20.04

[2021-11-18 17:34] mmarti21 opened #1947 "Document example of good db test"

[2021-11-18 17:40] mmarti21 opened #1948 "Document example of good db test"

[2021-11-19 09:37] radzserg commented on #1064
The last fix that @XVincentX did
[code]
makes server return decompressed results. But at the same time, we send back `content-encoding: br`.

[code]

That causes
`Error: Decompression failed` in Postman. Since Postman tries to decompress content again.

<img width="1242" alt="Screenshot 2021-11-19 at 12 26 55" src="https://user-images.githubusercontent.com/293785/142599596-89b0f1de-577f-46b5-a72a-

[2021-11-19 21:21] noor-ahmad opened #1950 "[UI] Projects Table: Misalignment of Table Headers and Column context"

[2021-11-22 16:44] EdVinyard opened #1951 "when creating external VCS repo, use response rather than searching by name"
Follow up to #8643.

@EdVinyard will fill this out.

[2021-11-22 16:45] EdVinyard opened #1952 "enforce project name limitations in UI when creating external VCS repo"
Follow up to #8643.

@EdVinyard will fill this out.

[2021-11-22 16:54] #1952 closed

[2021-11-22 16:54] #1951 closed

[2021-11-23 16:17] #1064 closed

[2021-11-24 17:25] EdVinyard opened #1954 "honor x-schema-faker settings when mocking from Ninja"
## Goal

When a workspace-project-branch OAS specification includes `x-schema-faker` options, the mock responses to _ninja_ by the _mocks_ component should honor those options.

Two possible implementation strategies, both with significant drawbacks:

1. **Pass a pre-configured JSF instance into Prism's `mock()` function.**  In   _mocks_, cache pre-configured JSF instances based on   workspace-pro

[2021-11-30 14:42] lukasz-kuzynski-11sigma opened #1958 "Move optimizely logic to @libs/experiments"
Move logic from groups/projects service to `@lib/experiments`

[2021-11-30 14:43] #1958 closed

[2021-11-30 16:01] ryotrellim commented on #1954
Consider:
- Option 1, w/o cache: 8
- If performance is bad, add cache: 5

[2021-11-30 22:20] EdVinyard commented on #1920
I've opened a PR against [stoplight/json-schema-merge-allof](https://github.com/stoplightio/json-schema-merge-allof):

https://github.com/stoplightio/json-schema-merge-allof/pull/8

[2021-12-01 21:22] EdVinyard commented on #1920
Now that Prism handles `allOf`, it's possible to have "impossible" schema.  That is, schema may be self-contradictory.  How and when should we communicate this kind of problem to the user?  (Consider both the CLI and `mocks` service behavior.)

Contradictions are not detected -- or at least not reported -- by Prism CLI during start-up, but does result in log messages.

When mocking output for an i

[2021-12-09 15:59] noor-ahmad opened #1960 "[Design] Project's Revamp Enhancements"

[2021-12-12 10:21] johnboyes opened #1963 "Add a flag to allow running Prism as a validation proxy without mocking 501 responses"
## User story.

As someone doing integration testing, I can use a flag to run Prism in validation proxy mode _without_ 501 responses being mocked, so that Prism truly identifies all discrepancies between the OpenAPI spec and the server.

## Is your feature request related to a problem?

I want to use Prism in validation proxy mode to catch any discrepancies between the server and the OpenAPI spec.

[2021-12-13 14:55] Ronaldvdh-ISAAC opened #1964 "Enum example is not picked up as mock response"
## Describe the bug

When defining an example value for an enum, the mock server will still return the first item in the ENUM as response.

## To Reproduce

1. Given this OpenAPI document
[code]
2. Run this CLI command
[code]
3. See result
The endpoint `/enum` returns status: CANCELLED

## Expected behavior

As the `example: SUCCESS` is added to the document i expect this value of the enum to be r

[2021-12-13 20:51] joel-wright commented on #1939
I have been hitting the same issue, but after a bit of investigation I think the issue is caused by a dependency. When using the downloadable CLI built assets from https://github.com/stoplightio/prism/releases I see the behaviour described above with `4.6.0` & `4.6.1`, but not any previous versions.

If I install using `yarn` I also see the above issue with `4.5.0` and `4.4.3` (I stopped trying to

[2021-12-15 15:05] #1920 closed

[2021-12-20 04:06] InfoSec812 opened #1965 "x-faker attributes not applied"
## Describe the bug

I have added an `x-json-schema-faker` block to the top-level of my OpenAPI 3.0.2 specification and I have added `x-faker` attributes
to some of my fields, but those attributes are not changing the returned data from prism

## To Reproduce

1. Given [this OpenAPI document](https://raw.githubusercontent.com/redhat-appdev-practice/quasar-openapi-pinia/main/openapi.yml)
2. Run thi

[2021-12-20 05:20] jsoizo opened #1966 "Support ARM64 docker environment"
## User story.

As a developer using Apple Silicon Mac, I can do use prism's arm64 docker image, so that I can build it.

## Is your feature request related to a problem?

When using Apple Silicon Mac with prism's docker image, I should docker as x86.
However this works very slow and bad experience.

When build docker image on Apple Silicon Mac,
node-prune fails because of its architecture.

![ima

[2021-12-20 14:57] InfoSec812 commented on #1965
I have started a branch on my fork to try to figure out why it's not working, but so far no luck:

https://github.com/InfoSec812/prism/tree/fix/1965-_-Fix_xFaker_issue

[2021-12-20 17:33] InfoSec812 commented on #1965
OK, debugging and tracing through I see that the schema is being passed correctly to the `jsf.generate` function, but it is still not applying the correct fake data.

[2022-01-04 21:15] EdVinyard opened #1967 "RangeError: Maximum call stack size exceeded"
Sentry errors: https://sentry.io/organizations/stoplightio/issues/?project=5780591&query=is%3Aunresolved+%22Maximum+call+stack+size+exceeded%22&statsPeriod=14d

All of these errors seem to be caused by calls to the Sentry library's own `dropUndefinedKeys()` (recursive) function.  Perhaps Sentry is trying to log some deeply nested (or self-referential?) object?  **The lack of a full stack trace her

[2022-01-04 21:21] #1967 closed

[2022-01-08 15:08] shajz opened #1968 "Faker repo wiped, change dependency to fork"
## Summary

Hello, recently, the owner of `faker` has wiped the repository. See https://github.com/Marak/faker.js. Fortunately, he published a v6.6.6 on npm, which means `prism` is (for now) is not affected by this as the `http` package targets `^5.5.3`.

It would be a good idea to change the dependency in the `http` package to a fork like this one https://github.com/faker-js/faker / https://www.n

[2022-01-10 14:47] shajz commented on #1968
Updated fork link to https://github.com/faker-js/faker

[2022-01-14 10:35] johnboyes commented on #1963
Hi, really grateful if anyone is able to let me know if this will be considered, please?  Thanks v much.

[2022-01-19 01:46] noor-ahmad opened #1971 "[Draft] Project Settings in the Detail Panel"

[2022-01-20 11:19] zy5678 opened #1972 "dynamics values in postman collection"
how to assign x-faker fields to variables in postman collection json file
any info/suggestion would be appreciated

[2022-01-21 11:19] andylockran opened #1973 "Unique Proxy Validation Failures"
User story.
As a QA, I'd like there to be a way of grouping similar validation problems together so that I can track discrepencies in a ticketing system.

Is your feature request related to a problem?
I love the visibility that I get from prism, but it's hard to objectively know how many validation errors occur with each API endpoint.  It'd be great for a prism session to be able to group similar

[2022-01-24 23:13] endigo9740 commented on #1939
Just wanted to chime in that I've been hitting the same issue. I was running version `4.5.0` mostly without issue. Updated to `4.6.1` and with no other changes start receiving 415 errors for "unsupported/invalid content type". I figured it was a breaking change so I rolled back to version `4.5.0` and the errors have persisted.

To me this aligns with a breaking dependency update. The same "newer"

[2022-01-27 18:52] chrisdibartolo opened #1977 "Validation Proxy to not follow redirects by default, but instead to do so optionally via config"
## User story.
As a consumer of the prism validation-proxy used within a docker container, I would like to redirects to not be followed by default for a given endpoint that is validated through the validation-proxy so that I can ensure my endpoint meets the defined openapi contract.

## Is your feature request related to a problem?
Using the prism validation-proxy in docker-compose as defined in t

[2022-01-31 15:06] noor-ahmad opened #1978 "[Design] Teams Planning"

[2022-01-31 19:31] kevinswiber commented on #1977
I believe this bit of code would need to allow for a `redirect: 'manual'` option in `node-fetch`:

https://github.com/stoplightio/prism/blob/v4.6.2/packages/http/src/forwarder/index.ts#L53-L61

[code]

[2022-01-31 21:26] chohmann commented on #1622
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Team-Platinum-Falcons-5eb9bc4a1fddfe30b94f78b1/issues/stoplightio/prism/1622?planning-poker) with ZenHub @Amjcraft @daniel-white @EdVinyard @jasonmgillhub @rainum

[2022-01-31 21:35] ryotrellim commented on #1895
Hey @hieucd04 - Sorry this one got lost.

Your use case makes sense and our documentation does give the impression that [unimplemented ops will be mocked](https://meta.stoplight.io/docs/prism/ZG9jOjk3-validation-proxy#unimplemented-operations-will-be-mocked), so it stands to reason that the `Prefer` header would be used do determine the correct way to mock.

We'll take a look at prioritizing this.

[2022-01-31 21:42] ryotrellim commented on #1139
Closing this ticket as resolved.

We've added x-json-schema-faker support in https://github.com/stoplightio/prism/pull/1899 which allows you to specify min-items and max-items.

For more information, see https://meta.stoplight.io/docs/prism/ZG9jOjk1-http-mocking#dynamic-response-generation.

[2022-01-31 21:42] #1139 closed

[2022-02-01 16:16] EdVinyard opened #1979 "select group row and open details panel"
As a workspace member who can create projects,
Given I am viewing the new, combined project & group table,
...

1.  click an existing group row

    ...
    When I click on an existing group row,
    Then the group row is selected,
      and the right sidebar/panel is opened,
      and the selected group's details are displayed in the right sidebar/panel.

2. create a new group

    ...
    When I

[2022-02-02 16:48] pamgoodrich opened #1982 "Update request/response validation doc"
Clarify this information:

Troy  33 minutes ago
Can you make sure I’m understanding this correctly? Might also help @Pam Goodrich for the doc change.
use --errors for when you want Prism to throw on the request and not give the server a chance to respond.
omit --errors for when you want Prism to allow all requests and all responses, regardless of spec adherence
use --validate-request false  when y

[2022-02-04 19:35] to-ph commented on #1939
Same here with this issue. Me and my colleague have tried POST, PUT, PATCH on an endpoint and getting a 415 error response. We've tried specifying the content-type and also omitting the content-type in out openapi.json. Same error on both tries.

Also looking for any workarounds if anyone happens to discover one, thanks!

[2022-02-04 19:37] to-ph commented on #1939
Update:
Weirdly, sending "null" works 🤔

[2022-02-09 20:12] chohmann commented on #1939
Plan to fix:
- if there is no body, do not look at the content-type header and do not try to parse the empty body

NOTE: XML seems to work this way so ensure others match

[2022-02-09 20:17] chohmann commented on #1745
Most likely will be solved with #1939

[2022-02-11 20:03] cge opened #1987 "basePath topic unresolved"
Hi

I have an `OAS2` definition that specifies paths like `/lemons` and a `basePath` like `/api/v1`. Furthermore I am using a code generator that fixes those together like `/api/v1/lemons` in the api client.

Let's say it is totally impossible to upgrade to `OAS3` or use anything but that generated basePath-concatenating api client.

How can I use `prism` to serve those endpoints at exactly `http:

[2022-02-16 14:25] daniel-white commented on #1939
this was introduced as a feature request: https://github.com/stoplightio/prism/issues/1813

[2022-02-17 14:30] #1939 closed

[2022-02-17 19:22] #1946 closed

[2022-02-18 11:59] atken opened #1992 "Mock server returns int64 value less than the lower limit"
## Describe the bug

The range of int64 is -9223372036854775808 (-2^63) ~ 9223372036854775807 (2^63-1), but the mock server seems to return -9223372036854776000 by default.

## To Reproduce

1. Install prism.

[code]

2. Start a mock server with the following command.

[code]

3. Call a REST API that returns a response containing an int64 value.

[code]

## Expected behavior

The mock server retur

[2022-02-21 17:34] daniel-white commented on #1745
@savy just checking in. i released prism 4.8 where if the body is explicitly empty with a content-type then it should allow this. can you verify that it works with your use case? thanks!

[2022-02-22 10:57] reinholdfuereder commented on #1939
Should doc change of #1981 be reverted again due to this (nice) fix?

[2022-02-24 20:48] noor-ahmad opened #1999 "Groups upsell modal with new image"

[2022-02-28 22:34] EdVinyard opened #2000 "move v1.groups.listGroups to projects service"
should have been created in platform-internal

[2022-02-28 22:48] #2000 closed

[2022-03-08 09:32] DeepthiDinesh opened #2002 "Multiple API files as input for prism mock"
With the current set up we are able to pass only a single Swagger or Open API file as input to generate mock responses and start the mock server. Is it possible to provide multiple files in <document> and prism can generate mock responses for multiple files?

prism mock <document>

[2022-03-09 08:46] ahx opened #2004 "May I use your test harness?"
## Summary

Hi. As someone building tooling OpenAPI tooling (like https://github.com/ahx/openapi_first/), I would benefit from using an extensive and language agnostic test suite like your [test harness](https://github.com/stoplightio/prism/tree/master/test-harness/specs). In practice, I was thinking about using the code in a git submodule, similar to how people are using https://github.com/json-s

[2022-03-09 13:44] tommie822 opened #2005 "Generated paths with parameters do not keep in mind the 'style' and 'exploded' properties"
## Describe the bug

Generating a query path from an OAS3 file does not keep in mind the ability to explode an object into a different query format as is described in the Open Api Specification 3

## To Reproduce

1. Given [this](https://gist.githubusercontent.com/tommie822/a2f055edac4928743108a3d488fc7761/raw/2db47051ea21b6fbcc4dd89dfb8e74b24cb04791/oas3.yml) OpenAPI document
[code]

3. Run this

[2022-03-09 13:53] tommie822 commented on #2002
I would like this feature as well, currently the only way to serve multiple files is by using a docker compose as is demonstrated in the [documentation](https://meta.stoplight.io/docs/prism/ZG9jOjE2MDY1Njcx-serving-multiple-open-api-documents).

If multiple files could be served with one server, this would make the scenario of publishing a mock server from a pipeline easier.

[2022-03-10 15:19] chrisjallen commented on #1647
Hey Im sure this is the same,  #1647 is around global config, say I wanted to configure the parameters singularly for a faker generator method and pass in arguments specific to that method??

eg on faker website, the params for email generator
faker.internet.email(firstName?: string, lastName?: string, provider?: string): string

But on yaml we can only do

[code]

Q: is there a way to pass these

[2022-03-10 18:01] pamgoodrich opened #2007 "Fix Prism Decision Tree Graphic"
This is really hard to read. Figure out a way to make it more legible, perhaps by breaking it into smaller graphics or using a different tool.

https://meta.stoplight.io/docs/prism/ZG9jOjk1-01-mocking

Here's a link to the miro for this graphic:

https://miro.com/app/board/o9J_ll1ev5w=/

[2022-03-10 22:48] #1982 closed

[2022-03-11 09:27] SeMuell opened #2008 "'multipart/form-data' will always return a validation error"
## Describe the bug

The validation always fails whenever a `multipart/form-data` content type is used in the requestBody. This prevents the normal usage of prism without any other proxy server (like nginx) on which such requests can be filtered out.

## To Reproduce

1. Given this OpenAPI document (stored as testapi.yaml)
[code]
3. Run this CLI command `.\prism-cli-win.exe mock -h 127.0.0.1 .\tes

[2022-03-11 09:46] SeMuell opened #2009 "Auto-reloading not triggered when $ref files changed"
## Describe the bug

The auto-reloading feature of prism only triggers a restart of the server when the main spec file is changed. Whenever the spec file is using references to other files with the $ref keyword, then the server will not trigger a restart in case such file is changed.

## To Reproduce

1. Given this OpenAPI document (testapi.yaml)
[code]
2. Given this example (example.yaml): `refer

[2022-03-11 17:30] chohmann opened #2010 "Address"
- URIJS --> 1.19.10
- node-fetch --> 2.6.7
- glob-parent --> 5.1.2

- marked (through postman collection) --> 4.0.10 own ticket

- tar --> node-gyp

[2022-03-11 18:00] chohmann opened #2011 "[ Dependabot ] Upgrade marked"
Tasks
- upgrade the following dependencies to get rid of the high level dependency vulnerability
   - marked (through postman collection) --> 4.0.10 own ticket

[2022-03-11 18:04] chohmann commented on #2010
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-Tacocat-5eb9bc4a1fddfe30b94f78b1/issues/stoplightio/prism/2010?planning-poker) with ZenHub @EdVinyard @daniel-white @brendarearden

[2022-03-11 18:05] chohmann commented on #2011
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-Tacocat-5eb9bc4a1fddfe30b94f78b1/issues/stoplightio/prism/2011?planning-poker) with ZenHub @brendarearden @daniel-white @EdVinyard

[2022-03-11 22:54] EdVinyard commented on #1647
@chrisjallen it is possible to configure Faker per-property, but we didn't have an example of that, either in tests or documentation.  I've opened https://github.com/stoplightio/prism/pull/2012 to fix that.

In the future, please feel free to open a new issue with your questions or concerns.  We often miss comments on closed issues.

[2022-03-15 13:14] daniel-white commented on #1745
i just ran the prism in the docker as the above example, it still exists in 4.8

[2022-03-16 12:56] daniel-white commented on #2008
thanks @SeMuell. i'm looking into this - i notice we have several feature requests closed #432 #1012 - i'll leave this open as we discuss internally.

[2022-03-16 16:38] noor-ahmad opened #2016 "[Mosaic] Pro Badge redesign"

[2022-03-17 04:54] NoahDaveySwyftx opened #2017 "Query Parameters do not validate correctly when special characters used - [ ]"
## Describe the bug

We have been trying to use `prism` the last week. However our org has a standard for our `REST` endpoints, such that when we use query parameters, they generally look like the following format `filter[userId]`. When trying to run a test against a mocked out api, we seem to be running into issues where the query parameter validation is not working as expected. I.e even when we

[2022-03-17 09:22] chrisjallen commented on #1647
ah incredible thank you @EdVinyard

[2022-03-17 17:38] pamgoodrich commented on #2007
@sydstoplight : Can you take a look at this issue and let me know if it's something you'd like to tackle using Mermaid? It might take some time to figure out how to use that and how to make this graphic more legible. You can see some info about Mermaid here:
https://meta.stoplight.io/docs/platform/ZG9jOjM3MTUxNjgw-stoplight-flavored-markdown#graphs-and-diagrams
and here
https://mermaid-js.github.i

[2022-03-18 16:21] EdVinyard commented on #1140
One approach we're considering here is to include an example in the Prism documentation that shows how to set up and use a proxy specifically to introduce latency and/or low bandwidth into the request-response cycle.  Would that satisfy your needs?

[2022-03-18 16:31] EdVinyard commented on #1155
@gap777 we're going to close this issue since the original request, for external JSON, was satisfied.  If you are still interested in references to files containing other content, please feel free to open a new issue.

[2022-03-18 16:31] #1155 closed

[2022-03-18 16:59] skyanceschia commented on #1140
It would be very useful!

[2022-03-25 16:18] chohmann commented on #1694
@loganknecht you should be able to achieve this functionality by using Skipping Request Validation. This was a recent flag we added and is documented [here](https://meta.stoplight.io/docs/prism/ZG9jOjk0-prism-cli#skip-request-validation). Let us know if you have any additional questions!

[2022-03-25 16:31] chohmann commented on #1836
@brendarearden we think this is already supported looking at [the docs](https://meta.stoplight.io/docs/prism/ZG9jOjk0-prism-cli#modifying-responses). Can you see if you can reproduce? If not, we can close this issue.

[2022-03-27 20:21] jasonbarry opened #2022 "Use node 14 as base engine version"
Node 12's [end-of-life](https://nodejs.org/en/about/releases/) is approaching on 2022-04-30. We should upgrade to the next LTS version which is node 14.

## Context
Keeping this repo up-to-date with supported node releases.

## Current Behavior
The repo doesn't build in CI if any dependencies specify an engine of >= 14.

## Expected Behavior
Things should work the exact same, but will require node

[2022-03-28 21:26] caitlinnew opened #2024 "Provide support for 500 responses as a range (5XX)"
Instead of specifying a “500” specifically, user wants to specify a “5XX” as a range for the series:
https://swagger.io/docs/specification/describing-responses/

When using the stoplight mocking functionality (dynamic or static), mocking returns the following attached image response (requested a mock of a 500 and it return a 404. You can see it thought that 5XX was actually just “5”).

## Current

[2022-03-29 20:35] sluraschi opened #2025 "Backslash used to request a specific response is not allowed in URLs (and fails when requesting from axios)"
Hi all! I've successfully set up a mock server (thank you!) and can request different responses from Postman or curl BUT I am not being able to integrate the mock server with our services.
I am using `axios` to make the http calls to the server and axios replaces the backslashes (\) with forward slashes (/) since backslashes are not allowed in URLs. The same behaviour can be seen if you paste url

[2022-03-30 11:40] thim81 opened #2026 "Question: Store data operations"
## User Story Description

As a mock API user,
I want to be able to use modification operations (POST/PUT/PATCH/DELETE) to be stored
so I can use the API based on the OpenAPI with real usage and potential CRUD flows.

(a bit like the [json-server](https://github.com/typicode/json-server) npm but then as part of Prism)
This user story is more a question, if it was discussed as valuable feature and

[2022-04-01 15:24] brendarearden commented on #1836
I was unable to reproduce this issue so it appears to have been resolved. I am able to get a 404 response with the following steps:

1. Mock the server in dynamic mode
[code]
2. From the cli run a curl command to the mock server, setting the response code to 404
[code]
or
[code]
3. See the status code is returned as 404
- From the mock server logs
[code]
- The output from the curl command
[code]

[2022-04-01 16:09] #1836 closed

[2022-04-01 16:22] pamgoodrich opened #2027 "Remove wording about deprecated query string parameters"
Per Tacocat, remove this line:

Query string parameters are deprecated and will be removed in the next major release.

From this topic:
https://meta.stoplight.io/docs/prism/ZG9jOjk0-prism-cli

[2022-04-01 16:23] chohmann commented on #1838
@hjblom after reconsideration we do not feel that this functionality belongs in Prism. As for your gateway stripping the prefer header, you can also use the `__example` query parameter as documented [here](https://meta.stoplight.io/docs/prism/ZG9jOjk0-prism-cli#modifying-responses). Would that work for you?

We also feel that this logic of which example to request and when can be added to your tes

[2022-04-01 16:23] #1838 closed

[2022-04-01 16:27] chohmann commented on #1839
@EdVinyard can you try to reproduce this so we can get more info?

[2022-04-01 17:23] #2027 closed

[2022-04-01 21:45] EdVinyard commented on #1839
@fabricemanhart , I suspect that you have included `Access-Control-*` headers in your specification.  If so, removing those headers from your spec will allow Prism to include CORS-compatible headers in the response, which it will do unless you specify them.

For example, when I save the following spec as `issue1839.oas`...

[code]

...and run Prism with `prism-cli mock issue1839.oas`, you can see

[2022-04-04 15:31] EdVinyard opened #2031 "ECONNRESET for some large responses from GitLab to graphql-api"
While setting up a test environment for #10237, @EdVinyard discovered that when [GitLab](https://gitlab.infra.stoplight-dev.com/) responded to requests for more than about 40 projects in a single page, part of the way through the response the connection was reset and the request failed.

### Environments
This error occurred on localhost and in PR environments.  It was not tested in stage or stage2

[2022-04-04 15:46] #2031 closed

[2022-04-04 15:59] EdVinyard opened #2032 "add example HTTP(S) proxy setup to docs"
Document the process of setting up an HTTP(S) proxy in order to introduce artificial latency, bandwidth, or other network constraints to a client's conversation with Prism.  For the example, consider [Toxiproxy](https://github.com/Shopify/toxiproxy) or something similarly configurable.

## Background

Team Tacocat discussed adding latency/bandwidth limitations to Prism as suggested by #1140.  We s

[2022-04-04 18:54] loganknecht commented on #1694
@chohmann This is so exciting to hear!

Thank you, thank you, thank you for this feature!

[2022-04-04 19:06] loganknecht commented on #1694
@chohmann It appears that this is for the cli execution and not at the request level

Is there any way to target specific requests like the above mentioned feature request?

With this implementation it looks like if I'm structuring tests I'll have to decompose it into two different pieces

- Request validation tests
- Response validation tests

It would be greatly beneficial if I had the means to

[2022-04-04 19:25] chohmann commented on #1694
@loganknecht there is no way currently to target specific requests. It's currently all or nothing. We don't currently have any plans to add this functionality to the request level. However, if you'd like to take a crack at implementing it yourself, we'll be happy to review your PR!

[2022-04-05 11:04] juan-belmonte commented on #1155
I'm sorry to write just after being closed, but I couldn't make it work. May I ask you how did you manage to use `$ref` to link a JSON file and have Prism returning it? I am still receiving a 200 status code and an empty response.

Trying with both the Docker image `stoplight/prism:4.8.0` and the NPM package `@stoplight/prism-cli@4.8.0`, I played with local references to file system and URLs. My f

[2022-04-05 15:21] juan-belmonte commented on #1155
Thank you very much @EdVinyard ! That was really fast and time-saving!
You're right: I was so close, but I didn't find the missing line for hours.

[2022-04-05 21:30] #1839 closed

[2022-04-07 19:04] hainessss opened #2033 "Error: Schema size exceeded"
Hello,

I am getting `Error: Schema size exceeded`

And I can't figure out why.

repro script here
[code]

swagger schema here:
https://prod.betterleap-api.com/api-docs-0001-json

Thanks

[2022-04-08 16:11] chohmann commented on #1862
Hi @klausbadelt our team decided that this feature is not one that we want to support in Prism. If you have any other ideas around this topic, feel free to re-open, but for now, we're going to close this request. Thank you!

[2022-04-08 16:11] #1862 closed

[2022-04-08 16:31] chohmann commented on #1937
@maxlapshin we don't feel that this functionality fits the spirit of what Prism should be. Relates to #1838.

[2022-04-08 16:31] #1937 closed

[2022-04-08 19:00] EdVinyard commented on #1850
@vijayanand-m , the functionality you've described is valuable when Prism is used as part of your automation, but because there are other tools that can be used to daemon-ize Prism, we don't feel adding that to Prism itself is the right answer.

Although there are many tools that accomplish something similar and may better suit your particular needs, here's an example using [PM2](https://github.co

[2022-04-08 19:00] #1850 closed

[2022-04-09 18:53] venkat2286 opened #2034 "No errors thrown by prism even though the api response is not matching with api specification"
As part of enhancement, lets assume that developer adds a new field  to the API  response(implementation) but don’t update the specification. I am expectign to see error so as to enforce developers to update the specification to be in sync with implementation.
## Context

discrepency between specification and impementation

## Current Behavior

Not throwing any error message instead gettign the su

[2022-04-10 06:24] maxlapshin commented on #1937
No problems, I just cannot use prism and I do not use it, because it is practically not useable =)

I took openapi sampler and it helped me to write server that can simulate real server.

[2022-04-11 19:26] chohmann commented on #1979
@EdVinyard I think this was created in Prism repo by mistake. Going to close it.

[2022-04-11 19:26] #1979 closed

[2022-04-15 16:18] chohmann commented on #2034
@venkat2286 could you provide a spec to reproduce this with? Could you also double check that you have the `additionalProperties` property in your spec set to false? If that is set to true (it defaults to true) then it is valid to have additional properties in the response.

[2022-04-15 16:21] chohmann commented on #2033
@EdVinyard can you try to reproduce?

[2022-04-15 16:29] chohmann commented on #2026
@thim81 this functionality is not built into Prism today, and we don't think it belongs in Prism. However, you could easily use Prism as a proxy in front of json-server to achieve what we think you are looking to do. Prism as a proxy would provide the contract testing you probably want, and json-server would provide the CRUD operations and store state like you're asking for. Does that seem like it

[2022-04-15 16:34] chohmann commented on #2022
closed because we merged the PR upgrading to node 16.

[2022-04-15 16:34] #2022 closed

[2022-04-15 21:32] stoplightAndrew opened #2038 "Random order of attributes on mocked responses"
## Context
User expects order defined in openapi spec in return from mock server

## Current Behavior
Json parameters are returned in (random?) order

## Expected Behavior
parameters are returned in order defined in the model

## Possible Workaround/Solution
Not that I know of

## Steps to Reproduce
<img width="589" alt="image" src="https://user-images.githubusercontent.com/86619553/163634762-7a9f

[2022-04-17 18:17] sarkarshuvojit commented on #1140
Can I take this up?

I recently needed the same feature for a work-related project, and I already have a forked version of this code with the above feature implemented.

[2022-04-18 16:16] EdVinyard commented on #1140
@sarkarshuvojit , we appreciate your offer!

However, because there are some fantastic and very flexible tools for these purposes already (e.g., Toxiproxy), our intent is to document how to include _any_ proxy in front of Prism, rather than introduce a new feature-set in Prism itself.  We'll do that in https://github.com/stoplightio/prism/issues/2032 and close this issue with that one.

[2022-04-18 16:25] EdVinyard commented on #2033
I've reproduced this issue.  We're bumping into a limit hard-coded into `json-schema-sampler` that limits the number of "nodes" in the response to 1000: https://github.com/stoplightio/json-schema-sampler/blob/master/src/traverse.js#L20

Switching Prism into dynamic mock mode gives me a different error, so I suggest we need to:
1. (at least) return a much more descriptive error, and
2. (probably) i

[2022-04-19 07:45] thim81 commented on #2026
@chohmann Thanks for providing me a very clear and useful explanation.

I'm going to give your suggestion a try, and if it works, I'll report back here for anybody else really liking the Prism and want to use it create realistic API mocking services.

[2022-04-21 15:10] EdVinyard opened #2045 "DELETE ME"

[2022-04-21 15:51] #2045 closed

[2022-04-22 12:57] zkorhone opened #2046 "Mock response contains random fields"
## Context
Generated mock response does not follow schema

## Current Behavior
Given OpenAPI doc:

[code]

Prims generates response:

[code]

## Expected Behavior
Prism generates response that follows specification:

[code]

## Possible Workaround/Solution
None

## Steps to Reproduce
Start Stoplight Studio, open provided OpenAPI document & use Try it against Mock Server

## Environment

- Version

[2022-04-22 16:14] chohmann commented on #1940
@hsnsalhi can you explain your use case for this further?

[2022-04-22 16:28] daniel-white commented on #1942
This appears to be a bug with[ json-schema-faker](https://json-schema-faker.js.org/) itself, i tried this in their online tool

[code]

[2022-04-22 16:32] chohmann commented on #1963
@johnboyes we think this feature would be useful! We don't have a whole lot of time to devote to building this feature right now, would you be interested in putting up a PR for this?

[2022-04-22 17:17] gbmarc1 commented on #1942
Yes indeed the json-schema-faker does not produce a valid pattern. However, prism could check that the generated pattern is indeed valid. If not, return the provided `example` in the specification as a fallback.

[2022-04-25 05:37] sreenadh-farmface commented on #2046
I also got this. this happens when there is only one key in the response. just adding another key will fix the issue.
An issue that needs to be fixed

[2022-04-25 08:01] zkorhone commented on #2046
Not sure if root cause it this, but it seems like json-schema-sampler is using global variables. If generator at any point is called in parallel (e.g. pipe), it might just generate unexpected result

[2022-04-25 14:43] natebrennand opened #2047 "Is there a standard way to check server readiness?"
The Prism server can take a while to finish starting up and become ready to accept requests depending on your spec.
This can be problematic in a CI scenario if the test suite begins trying to hit the API server before it is ready.

For a project I'm contributing to, I developed a workaround that repeatedly pings a declared route until it responds 2XX before starting the tests.
This works, but isn'

[2022-04-26 17:47] abxeps opened #2050 "Content-Type application/xml causes 422 Unprocessable Entity"
Hello,

We are trying to validate xml body content against an OpenAPI file using prism-cli.
Mock Server ist starting well.
Body content can be any xml but all requests give the same response :

[code]

an empty body brings the awaited response

[code]

## Possible Workaround/Solution
The same specification only changing the body content to application/json works well

[code]

## Steps to Reproduce

[2022-04-27 17:01] noor-ahmad opened #2051 "Re-design Upsell Modal across Platform"

[2022-05-02 14:45] daniel-white opened #2053 "Consider using google-github-actions/release-please-action for releases"
## Context

manually creating releases is time consuming requiring a lot of manual work. if we could adopt conventional commits, google-github-actions/release-please-action  simplifies release notes and other work.

## Current Behavior

we have a manual process for cutting releases

## Expected Behavior

let a bot cut releases!

## Possible Solution(s)

starship uses this

[2022-05-04 11:33] elev8studio commented on #1248
Two years on, why has this not been implemented yet? I need this. Is there perhaps a workaround?

[2022-05-04 16:25] elev8studio opened #2054 "Error when response content type is application/pdf"
## Context

I am trying to document a PDF content type response in an openapi spec, and mock the response by running `prism mock path/to/file`.

## Current Behavior

When I attempt the process described above,  I get the error: `Request terminated with error: Error: Cannot find serializer for application/pdf`.

An example of the spec (that follows the latest syntax and best practice) that causes t

[2022-05-05 19:44] chohmann commented on #2024
Update logic for picking a response to:
- Look for exact match on code
- then look for range match (4xx or 5xx, etc.)
- then look for default
- otherwise fail like we are today that we could not find response in spec

[2022-05-06 16:17] EdVinyard commented on #1964
For now, we recommend the work-around of re-ordering enums to place the desired static mock response first, but we've got this on our radar!

[2022-05-10 19:08] uesleilima opened #2055 "prism-cli doesn't run in a Linux ARM architecture"
By running the `mock` command using the prism-cli (v4.9.2) on a Mac M1 (Apple Silicon) using the Lima VM (Colima) it is crashing.
The Mac execution of the prism mac cli seems to be working fine, however, we can't run the prism linux cli under the Docker context using linux-based images with the arm64 architecture.

[code]

The result is:
`qemu-x86_64: Could not open '/lib64/ld-linux-x86-64.so.2':

[2022-05-11 21:27] EdVinyard opened #2056 "some per-property x-faker options don't work"
Some Faker options don't work at all:

[code]

yields

[code]

Some don't work as expected:

[code]

yields

[code]

I'd expect that either the the options that do/don't work would be stated in Prism documentation, or that they match [Faker JS documentation](https://fakerjs.dev/api/lorem.html).

It would also be nice if unsupported options logged something either when Prism starts, or when fakes c

[2022-05-11 21:32] EdVinyard commented on #1965
@InfoSec812 , since you originally asked about this, we've [added some Prism documentation with simple examples](https://meta.stoplight.io/docs/prism/83dbbd75532cf-http-mocking#dynamic-response-generation) and [this comment on another issue](https://github.com/stoplightio/prism/pull/2012#issue-1166956104) includes a little more detail.

Here's how to make x-faker work for one of the specific prope

[2022-05-11 21:32] #1965 closed

[2022-05-11 21:46] InfoSec812 commented on #1965
Thanks for your help!

On Wed, May 11, 2022, 10:32 PM Ed Vinyard ***@***.***> wrote:

[2022-05-12 03:06] om4james opened #2057 "Request Parameter Validator does not ignore Header parameters with name `Accept`, `Content-Type` or `Authorization`"
## Context

Thanks for this very useful package 😀

I believe I have found an issue where Prism behaves differently from how the OpenAPI specification describes things should behave.

## Current Behavior

When validating a request using an OpenAPI specification that contains a `Parameter` definition for a `header`  parameter named `Authorization`, the following validation error occurs:

[code]

The

[2022-05-12 13:44] brahimmouhamou opened #2058 "Fails when nullable properties in a deepobject style"
Mock fails on boot when deepobject style  has nullable properties

[code]

## Current Behavior

Given this OpenAPI doc:
[code]

## Expected Behavior

No error when booting Prism from such an OpenAPI spec.

## Steps to Reproduce

1. Install prism: `npm install -g @stoplight/prism-cli`
2. Create OpenAPI doc as above
3. Run `prism mock spec.yml`

## Environment

- Version used: 4.9.2
- Environment na

[2022-05-13 16:11] chohmann commented on #1968
This PR from @jasonbarry achieves exactly this: https://github.com/stoplightio/prism/pull/2021

We just need to get that over the finish line.

[2022-05-13 16:22] chohmann commented on #1973
@andylockran this is an interesting feature request. We don't think this feature belongs in Prism itself, but could be a good feature for our hosted Prism solution in our Stoplight Platform. I'm going to close this ticket, but @ryotrellim will follow up with a link follow for tracking this feature request for Stoplight Platform.

[2022-05-13 16:30] chohmann commented on #1987
@cge can you provide us with an example OAS2 spec that illustrates your question?

[2022-05-13 16:55] ryotrellim commented on #1973
@andylockran I've created a new roadmap item to collect insights like these. Can I ask you to submit this idea and any details or suggestions directly to https://roadmap.stoplight.io/c/168-reporting-analytics-and-metrics ?

Thanks!

[2022-05-17 09:41] hernanpis-inditex commented on #2033
Hello,

I am working on generating mocks for openapi specifications for which sometimes have a very large response schema and I also get the error:

[code]

Are there any open working lines in order to modify by configuration these default values that are currently hardcoded?
https://github.com/stoplightio/json-schema-sampler/blob/066d49b574246ae3ea5aa821a14e3a3f31836962/src/json-schema-sampler.js

[2022-05-18 21:22] noor-ahmad opened #2060 "Teams Upsell Modal Image"

[2022-05-19 14:37] dbrudner commented on #2047
+1 on this, this would be super useful

[2022-05-20 04:52] panagiks opened #2062 "As a Prism Server user I want to be able to set log severity level so I can have less log load"
## Context

I'm running Prism Server on a k8s environment and best practice is to have health/liveness checks. In the absence of a healthcheck endpoint on the prism server itself I've used one of the 'generated' endpoints as a target. This in turn causes 5 lines of logs / request / instance (3 instances required for minimum HA) and with both checks set to (default) 5 seconds this means 30 lines of

[2022-05-20 15:52] stoplightAndrew commented on #2038
Not sure.  Maybe close and make a new one to order to spec ?  I’m not sure
how to do it at this time myself.

On Fri, May 20, 2022 at 9:51 AM Chelsea Hohmann ***@***.***>
wrote:

--

[image: linkedin]
[image: facebook] <https://www.facebook.com/stoplightio>
[image: twitter] <https://twitter.com/stoplightio>

<https://stoplight.io/>
Andrew Mathes

Sr. Sales Engineer

Sales | Stoplight

206 678 3241

[2022-05-20 16:18] chohmann commented on #2002
The challenge we see with the feature is, how do you handle if there are conflicts between the different specs? (i.e. same path, operation, how to route traffic, etc.)

The documentation is intended to provide ideas and concepts for how to handle multiple files. For example, instead of using docker + caddy as documented, you could use any http proxy + any process management tool to achieve the sam

[2022-05-20 16:21] chohmann commented on #2004
In the spirit of open source projects, as long as you are in compliance with our licensing, go for it! Feel free to contribute to this project in other ways as well!

[2022-05-20 16:21] #2004 closed

[2022-05-20 18:31] ahx commented on #2004
Thank you @chohmann

[2022-05-20 22:45] lyatziv commented on #2009
Had the same thing happen to me the project is setup using docker so I added a watcher script... not ideal but it gets the job done.

[2022-05-23 21:51] EdVinyard commented on #2009
@SeMuell , thank you for the bug report.  We've got this in our backlog.  In the meantime, one workaround you might consider is using a tool like [entr](https://eradman.com/entrproject/) to restart Prism when any file that contributes to your OpenAPI spec has changed.

For example, given the two files you mentioned in your initial report, `testapi.yaml` and `example.yaml`, you may be able to a com

[2022-05-24 21:42] chohmann commented on #1968
This is included in Prism 4.9.3.

[2022-05-24 21:42] #1968 closed

[2022-05-27 16:08] #2002 closed

[2022-05-27 16:10] #1940 closed

[2022-05-27 16:16] #2011 closed

[2022-05-27 16:23] chohmann commented on #2026
@thim81 I'm going to close this issue. Feel free to add your comments to this ticket even after it's closed!

[2022-05-27 16:23] #2026 closed

[2022-05-27 16:26] chohmann commented on #2034
@venkat2286 I'm going to close this issue as we haven't received steps to reproduce this. Feel free to re-open with more info!

[2022-05-27 16:26] #2034 closed

[2022-05-27 16:29] chohmann commented on #2038
@stoplightAndrew we discussed this today and we're going to close this and see if there's any demand for matching the property order to the spec order and address at that time.

[2022-05-27 16:29] #2038 closed

[2022-05-27 16:30] daniel-white opened #2064 "Consider adding a stale issue bot"
we have a lot of old issues. it would be helpful if a bot could help us disposition them. investigate adding one that is pretty configurable

[2022-05-28 09:22] hsnsalhi commented on #1940
Hello and sorry for my late reply.

In my use case, I need to create a mock service that responds with the same request body.
For example, if the request is a POST with body:
`{
    "name": "a name",
    "age": 123
}`

So, the mock service must respond with the same body. (I know I can generate a response with the same schema but I need the response to be exactly the same as the request)

Hope I w

[2022-06-02 06:57] om4csaba commented on #2047
Alternative solution is to check the prism output until the `Prism is listening on...` message appears:

[code]

[2022-06-06 10:49] bukowskim opened #2068 "The first matching path is chosen"
Always the first matching path is chosen.
Example situation:

[code]
For request to resource `/v1/test/test` the first path will be chosen `/v1/{param1}/{param2}`. IMO, in this case the latter should be picked up, so `/v1/test/test` not `/v1/{param1}/{param2}`. If the ordering will be different,  `/v1/test/test` this will be used, which is desired.

## Context

## Current Behavior
Always the first

[2022-06-09 16:23] EdVinyard commented on #2047
There isn't currently a standardized way to check Prism readiness via an HTTP request.  If we were to implement this feature, I think we would introduce a "listener" on a different port from what Prism uses, to ensure there's never a conflict between the mocked/proxied API and Prism's readiness check.  That is, it normally listens on 4010, so we might put a readiness check on 4011.

We'd be happy

[2022-06-10 14:11] rattrayalex commented on #773
@XVincentX and other maintainers – I'm interested in having someone on my team put up a PR for this early next week. Any tips/pointers/thoughts on how to get started or what you would like to see from it?

[2022-06-10 16:33] chohmann opened #2071 "Support External Examples"

[2022-06-10 18:16] pamgoodrich opened #2072 "Add supported lists for content type validations"
Need to list the limitations with content type support for validations and add link to roadmap.

Also add that note about  x-internal limitations.

[2022-06-14 12:12] XVincentX commented on #773
I no longer work at Stoplight. You might want to mention somebody else to get attention!

[2022-06-14 12:24] philsturgeon commented on #773
@XVincentX hey fella, thanks for pinging this onto my inbox! 🙌🏻

@rattrayalex could you hop onto the community discord where you can chat with some of the other Prism developers?

https://discord.gg/stoplight

If you don’t use discord no worries, I can share this with some of the team.

[2022-06-15 16:55] sashafklein opened #2073 "Pattern matching seems to strip away backslash?"
Prism seems to take away a backslash from string regex patterns, causing it to find improper "violations". That or I'm doing something wrong :)

I have the following field:

[code]

When the Prism API returns that example "123456789", it does so with the following error:

[code]

It seems to me that the error is likely that the pattern being used by prism isn't the exact one in my spec, because Pr

[2022-06-16 16:30] #2024 closed

[2022-06-17 16:28] #2058 closed

[2022-06-23 10:55] brian-geoghegan opened #2078 "Update prism spec remotely - through a http request"
## User Story Description

As a Developer,

I want to update a remote prism server spec,

so I can dynamically update the mock server without needing to rebuild a docker image. Is there a way I can do this currently?

Also wondering is there a way to query the prism server that is running and recieve available endpoints - similar to when you run prism mock command?

[2022-06-23 12:04] enrichman commented on #1987
Hi @chohmann, I guess I have the same question/issue. Reading from the [FAQ](https://github.com/stoplightio/prism#-faqs) it seems that is the expected behaviour but I don't understand why. If I have a client that I want to test against the mock then I will simply get 404 for the requests.

I also have a v2 swagger file with a `basePath`, and as the `prism` output says it's going to be resolved wit

[2022-06-23 16:24] pamgoodrich opened #2079 "Add toc.json to Prism docs"
Move contributors page under the Overview.

https://stoplight-internal.slack.com/archives/C030CDY1WEL/p1656000158413149

[2022-06-24 16:13] chohmann commented on #2068
@bukowskim thank you for reaching out about this! [OpenAPI spec](https://spec.openapis.org/oas/v3.1.0#paths-object) mentions the behavior expected for ambiguous paths as

Also, since most routers also match on the first path and not some other algorithm, we think keeping this as-is is the best path forward for Prism.

I'm going to close this ticket, but feel free to re-open if there's other reason

[2022-06-24 16:18] chohmann commented on #2073
@sashafklein looking at the [docs](https://spec.openapis.org/oas/v3.1.0#paths-object) for regex in json-schema say you don't need to include the leading and trailing slashes.

Could you try updating your spec to have the following:
[code]

Let us know if that works for you!

[2022-06-27 10:46] brian-geoghegan commented on #2078
Thanks for that Ed, I can take a look at both of these things and let you know how they go

[2022-06-27 10:46] #2078 closed

[2022-06-27 10:52] brian-geoghegan opened #2081 "Self referencing schema causing an error"
This particular piece of self referencing and reflects the actual API response.
## Context

`    content:
      type: object
      properties:
        text:
          type: string
          description: Text content
        type:
          type: string
          description: Content type (e.g. text, link, image)
        metadata:
          type: object
          description: Content metadata (e.g.

[2022-06-27 16:30] micaelmalta opened #2082 "exclusiveMinimum and exclusiveMaximum JSON spec not respected"
### Context

JSON spec not respected for exclusiveMinimum and exclusiveMaximum

On Json API spec (https://json-schema.org/draft/2020-12/json-schema-validation.html#name-validation-keywords-for-num) , it says

[code]

### How to reproduce

[code]

[code]

### Current Response

Age is either negative or not in the range

### Expected Response

Only positive values in the range _1 < value < 100_

###

[2022-07-01 16:05] treyturner commented on #2017
Hi again @NoahDaveySwyftx ! I'm going to presume this is resolved, but if that's incorrect or you have further questions, feel free to reopen or comment. Thanks!

[2022-07-01 16:05] #2017 closed

[2022-07-01 16:49] EdVinyard opened #2085 "document Prism's versioning policy"
Document answers to the following questions:
- What Node version(s) does Prism support?
- How are do Prism versions align with the Node LTS cycle?
- What is Prism's versioning policy?  When is the major version incremented?

Also consider:
- supporting an earlier or wider range of Node version, and delaying increments to the minimum (How much do those versions need to be aligned?)
- using exact ve

[2022-07-03 14:43] sashafklein commented on #2073
Sorry just saw your comment, but that was it. Thank you!

[2022-07-03 14:43] #2073 closed

[2022-07-06 16:28] daniel-white commented on #2081
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-Tacocat-5eb9bc4a1fddfe30b94f78b1/issues/stoplightio/prism/2081?planning-poker) with ZenHub @brendarearden @chohmann @EdVinyard @fcasad

[2022-07-06 16:44] ryotrellim commented on #2081
Doc todo: Add information about the maximum depth that prism will analyze recursively.

[2022-07-06 17:34] daniel-white commented on #2081
hey @brian-geoghegan - i just added a couple tests in #2086 to cover this case using your sample (assuming oas 3.x). they passed locally for me. can you review these to see if they fit your use case?

[2022-07-13 19:39] ryotrellim opened #2089 "Configure Dependabot to create it's own PRs"
See: https://github.com/stoplightio/prism/security/dependabot
Change this: https://github.com/stoplightio/prism/blob/master/.github/dependabot.yml
Docs: https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates

[2022-07-13 20:24] #2072 closed

[2022-07-17 13:34] keyboardsamurai opened #2090 "TypeError: Cannot set property $ref of #<Object> which has only a getter"
When using the mock server with the [attached openapi definition](https://github.com/stoplightio/prism/files/9127719/openapi.txt) that validates just fine at https://validator.swagger.io/ I consistently get the following error when using ```prism mock ./openapi.yml``` instead of starting the mock server:

[code]

Environment: MacOS 12.4, NodeJS 18.6.0 and 16.15.0 (tried both)

[2022-07-18 06:33] ale-sanchez-g opened #2091 "proxy Error TypeError: Only HTTP(S) protocols are supported"
Issue:
I am getting an `Error TypeError: Only HTTP(S) protocols are supported` on the Proxy function for https://supervillain.herokuapp.com/api-docs/  for all the calls.

Instead, when I run the mock version, the API calls are working as expected.

I am currently running the below:

Prism version **4.10.1**
node version **17.5.0**
Spec **https://raw.githubusercontent.com/ale-sanchez-g/villain/mast

[2022-07-18 14:33] daniel-white commented on #2091
hey @ale-sanchez-g - thanks for the issue. can you please share how you are setting up the proxy? if the cli, the full list of arguments would be great.

[2022-07-18 15:59] jakowenko opened #2092 "Add User-Agent when fetching remote OpenAPI document"
## Context

We have a hosted version of our spec file that is handled by AWS API Gateway and AWS WAF. The default behavior for the web application firewall is to block any requests that do not contain a user agent.

## Current Behavior

AWS WAF blocks the prism request because no user agent header is present.

## Expected Behavior

A user agent header is passed when fetching the remote OpenAPI doc

[2022-07-19 03:58] ikenna commented on #2091
@ale-sanchez-g : I got this error when I started my prism thus:
`prism proxy my-api.yaml localhost:8000 --errors`

Fixed when I changed to
`prism proxy my-api.yaml http://localhost:8000 --errors`

[2022-07-19 14:40] daniel-white commented on #2091
we could take this as an enhancement request to return an appropriate error message when running the cli

[2022-07-19 22:19] rattrayalex commented on #1745
We hit this as well.

[2022-07-22 16:38] chohmann commented on #2090
Hi @keyboardsamurai, thank you for reporting this! Could you provide a minimum reproducible example that illustrates this issue? That will help us pinpoint exactly what about a ref could cause this.

[2022-07-22 17:32] pamgoodrich opened #2093 "Add protocol requirement to prism proxy URLs"
This topic:

https://meta.stoplight.io/docs/prism/72d69fb629de0-validation-proxy#validation-proxy

Has an incorrect example.

prism proxy reference/backend/openapi.yaml localhost:3000 --errors

Should be:
prism proxy reference/backend/openapi.yaml http://localhost:3000 --errors

[2022-07-22 20:14] #2093 closed

[2022-07-22 22:48] lucasgcbkhomp commented on #2056
This project uses faker v6, no? I couldn't find the exact reference for the faker version in the docs. The one you've linked to is v7 (or at least, it is now). So stuff might not work.

https://github.com/stoplightio/prism/blob/14fb2d20d48d1d47a36aa050d00785737d5742d8/packages/http/package.json#L19

[2022-07-23 17:58] keyboardsamurai commented on #2090
Hi @chohmann, thank you for taking the time to look into this issue. I'd be happy to provide a working setup but I'm not sure what I should gather besides the attached spec. Do you have something specific in mind, like a dockerized demo of the issue?

[2022-07-24 11:41] ale-sanchez-g commented on #2091
The cli arguments are as per the documentation after I followed @ikenna suggestion the proxy is working.
[code]

[2022-07-25 13:46] chohmann commented on #2090
Hi @keyboardsamurai! I was thinking just a smaller spec with one ref that illustrates the issue. It's hard to tell from the spec you provided exactly which ref is causing the issue. So a very simple spec would be greatly appreciated!

[2022-07-25 14:03] pamgoodrich commented on #2091
The documentation has been updated.
https://meta.stoplight.io/docs/prism/72d69fb629de0-validation-proxy

[2022-07-26 20:17] keyboardsamurai commented on #2090
@chohmann I was able to narrow this particular issue down to the cyclic dependency for PydanticDocument described in this minimal openapi spec below. Hope this helps

[code]

[2022-07-29 16:27] ryotrellim commented on #2090
A previous ticket regarding circular references: https://github.com/stoplightio/prism/issues/1456

[2022-08-02 06:24] ale-sanchez-g commented on #2091
fantastic this is working perfectly now

[2022-08-03 17:23] #2089 closed

[2022-08-04 12:18] theold190 commented on #2090
I see same error when testing with docker image **v4.10.1**. It fails to start the mock:

[code]

But I am able to start Prism mock when using docker image **v4.10.0**.

So maybe there was a regression in v4.10.1?

[2022-08-04 17:54] acolombier opened #2102 "Prism 4.10 Returning "Internal Server Error" when Content-Type header is set but body is empty/null"
_This issue seems related to #1939_

## Context

I'm using Prism as a validator proxy under AppSync HTTP VTL (AWS services), which must pass a `Content-Type` (and a `Content-Lenght` computed from the body length) even when using `GET`.

## Current Behavior

For the following request:

[code]
You would get this error:

[code]
(_note that there is similar result when using `application/json`_)

This

[2022-08-05 05:23] utadachiren commented on #2090
I am able to start Prism mock when using v4.2.5.
I install prism by `yarn add @stoplight/prism-cli@v4.2.5`
I see same error when using v4.10.0 and v4.10.1.

[2022-08-05 14:43] hieucd04 commented on #2090
I downloaded Stoplight Studio here: https://github.com/stoplightio/studio/releases

And with the assumption that Stoplight Studio "Mocks" feature is powered by Prism:
- Version "v2.8.1" also has this issue (toggle Dev Tools to see it)
- Whereas, version "2.8.1" doesn't
(the difference is the letter "v" at the beginning)

[2022-08-05 16:09] chohmann commented on #2102
@acolombier thank you for submitting this! That change seems perfectly reasonable, so feel free to put up a PR for it.

[2022-08-06 15:28] acolombier commented on #2102
Hi @chohmann, thanks for coming back to me so quickly. I have issued the PR  #2103.

[2022-08-11 10:54] steffidg commented on #2090
I'm encountering the same issue on my end. After trying it out, it appears that my spec stopped successfully compiling on
v4.9.x and  above.

[2022-08-11 15:56] #2102 closed

[2022-08-11 17:44] chohmann commented on #2090
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-Tacocat-5eb9bc4a1fddfe30b94f78b1/issues/stoplightio/prism/2090?planning-poker) with ZenHub @brendarearden @daniel-white @EdVinyard @fcasad

[2022-08-12 13:25] daniel-white commented on #2090
thanks all. i'm starting to take a look to see what is going on

[2022-08-12 14:05] daniel-white commented on #2090
i'm not able to _directly_ reproduce in my dev environment but running this spec under docker does cause problems (both node16 and node18)

[2022-08-16 15:50] orubel commented on #1977
"I would like the validation proxy to not follow redirects by default"

Then you should be using FORWARDS rather than REDIRECTS and avoid dropping threads and reissuing request/response

[2022-08-16 15:54] daniel-white commented on #2053
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-Tacocat-5eb9bc4a1fddfe30b94f78b1/issues/stoplightio/prism/2053?planning-poker) with ZenHub @brendarearden @chohmann @EdVinyard @fcasad

[2022-08-16 15:57] daniel-white commented on #2090
hey @keyboardsamurai  @steffidg @hieucd04 @theold190 - i just cut 4.10.3. i'm hoping this solves your use cases. if not please come back and open new issues with new examples. thanks!

[2022-08-16 15:57] #2090 closed

[2022-08-31 15:59] heitortsergent opened #2128 "Teams: Project Details pane, Teams section has a loading animation when changing project visibility or team role"
# Current Behavior

There's a loading animation that happens in the Teams section of a Project Details pane whenever a project visibility, or a team role is changed. It only happens for the Teams section, not for the Member section.

Changing project visibility:

https://images.zenhubusercontent.com/54172257/a6e8f882-91d1-43a8-a7cc-47c385a02b36/screen_recording_2022_08_30_at_6_17_18_pm.mov

Changi

[2022-09-02 16:45] EdVinyard opened #2129 "truncate sl-violations when it would be too long"
## Context

In proxy mode when there are many contract violations, the `sl-violations` response header may exceed size limitations and cause failures in proxies and clients.

See https://github.com/stoplightio/prism/pull/2126 for context.

## Expected Behavior

The `sl-violations` response header never exceeds a length that will cause errors in proxies and clients.

## Solution

The `sl-violations

[2022-09-06 22:53] OvaisFareed opened #2131 "Mocky.io "503 Service Unavailable""
Hi Everyone!

I'm using **nz-upload** of **Ng-Zorro** which POST an API on every file upload to "https://www.mocky.io/v2/5cc8019d300000980a055e76" using its **nzAction** attribute which produced "503 Service Unavailable" error, almost every time.

I also tried by removing **nzAction** attribute but nz-upload won't work without it.

Any guesses?

[2022-09-08 12:19] RubenAtBinx commented on #2047
If you have the option to adjust the api spec file, I would suggest to add a specific readiness health endpoint that can be probed with a normal http get request.

[2022-09-09 16:14] chohmann commented on #2131
We're not quite sure how this pertains to Prism. We're going to close this for now. Feel free to open this back up with further explanation about how Prism is involved.

[2022-09-09 16:14] #2131 closed

[2022-09-13 22:32] pamgoodrich opened #2134 "Prism Docs: Vale and Grammarly Checks"
Prism Docs: Vale and Grammarly Checks

[2022-09-15 10:54] mitsos1os opened #2138 "mock fails with `TypeError: Cannot read properties of undefined (reading 'isMaster')`"
## Context
You cannot start `mock` server command

## Current Behavior

Running `mock` command on the prim cli using either directly NodeJS source code or Dockerfile throws the following error:
[code]

## Expected Behavior

I would expect the command to work successfully

## Possible Workaround/Solution

The problem seems to be that when compiling **prism** using `yarn build` command, the output o

[2022-09-16 14:34] alexisjanvier commented on #2138
I have the same problem when I try to launch prism in a github workflow
[code]
Prism is started with Docker-Compose :
[code]

But I don't encounter the problem in local :
[code]

[2022-09-16 16:30] chohmann commented on #2138
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-Tacocat-5eb9bc4a1fddfe30b94f78b1/issues/stoplightio/prism/2138?planning-poker) with Zenhub @brendarearden @daniel-white @EdVinyard @fcasad

[2022-09-18 01:32] alexec opened #2139 "Behaviors and state"
## Context

I want complex test fakes for APIs. I want write to affect reads, and I want to define the behavior of the API simulation. I’ve prototyped this in Golang and its very similar to Prism, except:

The CLI takes an additional file named `operations.js`. This file contained functions that have the the following signature:

[code]

The function is stateless. It is supplied the HTTP request a

[2022-09-23 00:49] captaincoordinates commented on #2138
I was seeing this issue with the latest release of the `stoplight/prism:4` Docker image (released 8 days ago). I pinned the image at `stoplight/prism:4.10.3` and the issue went away.

[2022-09-23 06:57] alexisjanvier commented on #2138
I confirm that the problem disappears by using the image `stoplight/prism:4.10.3`

[2022-09-23 16:28] chohmann commented on #2139
Hi @alexec! Thank you for reaching out about this enhancement idea. We encourage using the prefer header to return specific examples from your spec and having the logic on which one to choose be in your test code. We believe that the approach you outlined is outside the scope of the spirit of Prism. You can look at #586 for a more in depth discussion on the topic.

[2022-09-23 16:28] #2139 closed

[2022-09-23 16:42] alan-lee-12 commented on #2138
i can also confirm that i had the same issues when using `prism:4` and `prism:latest`, and the issue was fixed by pinning it to `4.10.3`. thanks @captaincoordinates & @alexisjanvier !

[2022-09-27 15:42] childish-sambino commented on #717
Note that docs for this are now found here: https://meta.stoplight.io/docs/prism/4bf78efbf9dd2-serving-multiple-open-api-documents

[2022-09-28 14:47] #2134 closed

[2022-09-30 18:08] gulyas-istvan-netlock-hu commented on #2138
Hello all!

I have the reported issue with 4.10.4, but it is sporadic :(

I have read you use `cluster.isMaster` but it is deprecated, can you use `cluster.isPrimary`? I cannot prove it is the root cause, but the sporadic failing is not a production usage :(

[2022-10-02 20:31] gulyas-istvan-netlock-hu commented on #2138
rollback to 4.10.2 solves my problem
thanks to @fcasad notes: https://github.com/stoplightio/prism/pull/2143

[2022-10-06 16:15] fcasad commented on #2138
Hi everyone,
Sorry you were affected by the regression in 4.10.4!  It should be resolved in 4.10.5.

[2022-10-06 16:15] #2138 closed

[2022-10-06 17:10] lpezzolla opened #2148 "Mock server fails to start if recursive schema definitions are used"
## Context

While describing the structure of a directory, the DirectoryContent contains an array of oneOf (Directory, File).
The recursive nature of this reference (each Directory contains a DirectoryContent) prevents Prism from running.

## Current Behavior

The mock server fails to start, with error "Cannot set property $ref of #<Object> which has only a getter."

This happens even though I'm p

[2022-10-07 19:10] lpezzolla commented on #2148
Thank you, I was at version 4.10.1, I confirm it is fixed by updating to the latest minor :+1:
Duplicate of #2090

[2022-10-07 19:10] #2148 closed

[2022-10-11 14:28] ruben-kruiver-mollie commented on #1621
Is there any progress on this topic? I'm running into the same issue. Transfer encoding set to chunked and no content length specified, but the response still contains this header field.

[2022-10-12 15:22] Amjcraft opened #2151 "JSE Ref Selector Height Changes"
New Ref Selector needs to match the  popover height

[2022-10-12 15:22] #2151 closed

[2022-10-12 19:20] fcasad opened #2152 "Workspaces should always have an owner"
During the initial teams migration testing effort, it was discovered that 1 single workspace in the prod env lacked an owner.

Suggestion:

1. Add this new constraint to postgres
2. For existing workspaces without an owner, promote the eldest admin to the owner role

[2022-10-12 19:53] #2152 closed

[2022-10-13 12:24] jezzdk commented on #2056
I've tried using values from the "datetype" and "internet" categories, and they all seem to work.
Apart from those two, I've been doing some random sampling, and it doesn't look like the values in any of the other categories are working.

[2022-10-13 12:36] jezzdk commented on #2056
While this project uses v6 of faker, the json-schema-faker package still uses faker v5. Maybe that also causes some issues.

[2022-10-13 12:38] jezzdk commented on #2056
This is the error I get when I use something simple as "address.streetname":

[code]

[2022-10-18 09:37] vanam commented on #2082
The problem is that BC change regarding exclusiveMinimum/exclusiveMaximum was introduced in OpenAPI 3.1

https://github.com/OAI/OpenAPI-Specification/releases/tag/3.1.0-rc0

https://www.openapis.org/blog/2021/02/16/migrating-from-openapi-3-0-to-3-1-0
[code]

[2022-10-19 07:35] therve opened #2155 "Please update uri-template-lite to 22.9.0"
url-template-lite 22.1.0 and below is flagged by a CVE. It's unlikely to affect prism but it should be easy enough to update to the latest version to shut up security scanners. Thanks!

[2022-10-19 13:19] vanam opened #2156 "Docker Hub Images with graceful shutdown"
A [prism docker image](https://hub.docker.com/r/stoplight/prism) does not correctly handle `SIGTERM` and `SIGKILL` signals.

## Current Behavior
Following [your documentation](https://meta.stoplight.io/docs/prism/4bf78efbf9dd2-serving-multiple-open-api-documents) i start a container with prism
[code]
When I press <kbd>CTRL</kbd>+<kbd>C</kbd> it sends `SIGTERM` signal (which is ignored) and after d

[2022-10-19 21:40] monkpit commented on #586
If anyone ends up here with a similar use case as me, I was able to get a mixture of example+dynamic data by setting

[code]

At the root level of my spec.

You can use `x-json-schema-faker` to pass any of the [options in the json-schema-faker docs](https://github.com/json-schema-faker/json-schema-faker/tree/master/docs#available-options)

[2022-10-20 13:57] daniel-white commented on #2155
hey @therve - what version are you running - our packagejson and lock file indicates we are on 22.9.0

https://github.com/stoplightio/prism/blob/2c998634ac3306301b87393a8e07537df7fec91a/packages/cli/package.json#L27

https://github.com/stoplightio/prism/blob/2c998634ac3306301b87393a8e07537df7fec91a/yarn.lock#L8922

[2022-10-21 16:30] chohmann commented on #2155
We're going to close this issue as we do have that version in our latest version of Prism.

[2022-10-21 16:30] #2155 closed

[2022-10-21 16:48] therve commented on #2155
Sorry for the noise, I probably looked in the wrong place.

[2022-10-24 13:11] jayvdb opened #2159 "As a prototyper, I want to be able to use Prefer header to choose one of the examples in a callback"
## User Story Description

As a prototyper,

I want to be able to write multiple examples in a callback,

so I can use Prefer headers with prism to trigger specific content in a callback.

## Acceptance Criteria

- [ ]

## Sprint Ready Checklist

- [ ] Acceptance criteria defined
- [ ] Team understands acceptance criteria
- [ ] Team has defined solution / steps to satisfy acceptance criteria
- [ ]

[2022-10-25 06:36] cvik77 opened #2161 "Prism shaves off decimals for double"
Prism shaves off decimals for double, this makes the response look like an Integer instead of a double
1,0 int the database becomes 1 through prism.
Expect the body to be immutable, however this does not seem to be the case.

## Possible Workaround/Solution
Turn off Prism. Run endpoints not using prism url.

## Steps to Reproduce

1. send a double through Prism using Get endpoint expecting double

[2022-10-25 13:28] daniel-white commented on #2161
do you have an open api spec that you used?

[2022-10-25 13:30] daniel-white commented on #2159
Hey @jayvdb is this what you are looking for? https://docs.stoplight.io/docs/prism/beeaad4dc0227-prism-cli#request-specific-examples

[2022-10-25 21:10] jayvdb commented on #2159
@daniel-white, I believe that functionality does not select `examples` from within `callbacks`.  It seems to only work within `responses`.

[2022-10-26 07:28] MarkusAJacobsen commented on #2056
Hi,
fyi, I've tried to use the following annotations without any success:
[code]
Using:
`"@stoplight/prism-cli": "^4.10.5"` and Node v16.18.0

Would really appreciate if this issue got some attention.

Also second this as today it's not very transparent.

[2022-10-26 14:17] MarkusAJacobsen opened #2162 "Parameters in Callback request is not included"
## Context
In our case the callback receiver is another server, which requires some specific header to be sat to pass security. This is not feasible now, headers defined as parameters in the callback request is not included in the request.

## Current Behavior

Parameters defined in the callback request is not sent
[code]
_nb: Indentation may be wrong in the example_

## Expected Behavior

Request

[2022-10-28 16:31] chohmann commented on #2161
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/-Team-Tacocat-5eb9bc4a1fddfe30b94f78b1/issues/stoplightio/prism/2161?planning-poker) with Zenhub @brendarearden @daniel-white @EdVinyard @fcasad

[2022-10-28 17:25] pytlesk4 commented on #2161
9000

[2022-11-01 10:47] epifab opened #2164 "How do I get a 404"
I have an endpoint that can return a 200 or a 404, but I can't see in the documentation an obvious way to have prism returning the 404 scenario. I had found https://github.com/stoplightio/prism/issues/1854 which looked promising, but it won't be done. what's the canonical way to achieve this? thanks in advance!

[2022-11-01 17:24] epifab commented on #2164
I actually found what I was looking for `Prefer: code=404`

[2022-11-01 17:24] #2164 closed

[2022-11-01 17:30] epifab opened #2165 "How to simulate a 500 if the open api doesn't define it"
I have an open api document lacking some errors - I know for instance that the endpoint can return a 500 but that's not in the document.
How do I get prism to simulate such a scenario? I've tried with the `Prefer: code=500` header, but that doesn't work as prism rightfully respond with the an error: `Requested status code 500 is not defined in the document.`

[2022-11-01 22:04] saasha05 opened #2166 "Security Schema Logic is incorrect"
Currently, for security schema there is an OR choice between API key and Bearer token when sending requests. There should be an ability to have both

## Context
This results in 403s in sending API calls since security schema information is not provided

## Current Behavior

There is only one of two requests that can be made
[code]
OR
[code]

## Expected Behavior

API request should be able to look

[2022-11-02 17:19] ryotrellim opened #2168 "Unable to define variable array sizes"
## Context
Incorrect behavior when defining array minItems and maxItems, ~and also inconsistent across hosted mocks on Stoplight and Prism CLI.~

OAS: [fakerTest.json.zip](https://github.com/stoplightio/prism/files/9922714/fakerTest.json.zip)

The faker array lengths are defined like so:
[code]

~## Steps to Reproduce Hosted Prism Issue~
~1. Go to the endpoint here: https://troy-test.stoplight.io/

[2022-11-02 17:20] ryotrellim commented on #2168
Note that this playground has the correct behavior: https://json-schema-faker.js.org/ (after configuring min/maxItems in Options)

[2022-11-04 14:31] chohmann commented on #2168
@ryotrellim the behavior is inconsistent between hosted prism and prism cli because we haven't gotten to this ticket to actually pass the faker options to hosted prism:

https://github.com/stoplightio/prism/issues/1954

[2022-11-04 16:34] chohmann commented on #2165
Hi @epifab, Prism needs to the know the shape of the response to be able to mock it out. Therefore, the response code needs to be defined in the spec to tell us what shape to mock out. Here's documentation on how Prism decides which response to mock out.

https://docs.stoplight.io/docs/prism/branches/master/83dbbd75532cf-http-mocking#the-decision-engine

[2022-11-04 16:34] #2165 closed

[2022-11-07 06:22] treyturner commented on #2092
This was implemented; thanks for your feature request @jakowenko !

[2022-11-07 06:22] #2092 closed

[2022-11-07 14:00] daniel-white commented on #2166
WIP:

I tried in studio web creating this

[code]

OAS 3.1 first states that the security mechanisms are alternative, not an aggregate:

See https://spec.openapis.org/oas/latest.html#fixed-fields-7

However later it says multiple should be supported, however it is not documented what this should look like:

See https://spec.openapis.org/oas/latest.html#security-requirement-object

[2022-11-08 14:34] chohmann commented on #2166
@saasha05 this is a known enhancement we'd like to make in our Try It component for Stoplight web. You can follow [this insight](https://roadmap.stoplight.io/c/174-try-it-auth-multiple-auth) to see when it gets prioritized and implemented. In the meantime, as @daniel-white tested and verified, Prism handles passing multiple auth mechanisms already. This means, that although our Try It component cu

[2022-11-08 14:34] #2166 closed

[2022-11-08 17:00] ilario-pierbattista commented on #1321
Hi @XVincentX, I am really interested in this feature. Any chance to get this open again?
Do you need feedback for https://github.com/stoplightio/prism/pull/1429 ?
Thanks

[2022-11-11 22:22] treyturner opened #2171 "Feature request: request header to ignore request validation"
## User Story Description
As a user, I need a way to indicate to Prism on a per-request basis that a request should not be validated because it intentionally violates the API contract for the purposes of testing the AUT's graceful response.

This is possible on a global level via a `--validate-request false` command line argument, but it's important that we only skip request validations in instanc

[2022-11-14 13:54] ShahOdin opened #2172 "Run different services in different ports?"
I would like to run different services running in different ports. Currently I have:

[code]

I want to make `8081` parametric so I can have different instances of this image with different open-api files in different ports.

the `stoplight/prism:4` doesnt have shell so I can't use the shell notation of the CMD part which would incidentally offer me env-var interpolation.

I'm not an expert in doc

[2022-11-15 21:22] brendarearden commented on #2056
# Supported Faker JS API Options

If using the latest NPM build of Prism, use the following Faker JS API documentation to find supported options

[https://v6.fakerjs.dev/api/address.html](https://v6.fakerjs.dev/api/address.html)

### Reason

The version of Faker that is being used is the Prism dependency [https://github.com/stoplightio/prism/blob/65445ef9365d7f1214ccb14324db6e629cb817d5/packages/h

[2022-11-15 21:39] brendarearden opened #2175 "Investigate jsf.options"
## Context
We are currently setting jsf.options https://github.com/stoplightio/prism/blob/65445ef9365d7f1214ccb14324db6e629cb817d5/packages/http/src/mocker/generator/JSONSchema.ts#L19 as part of our Json Schema Faker configuration. This is resulting in unexpected behavior in Prism.

For example, the maxLength of strings is set to 100 characters. If you are mocking a long lorem.paragraph, it will o

[2022-11-16 16:56] m-graf opened #2176 "[Validation Proxy] – Documentation of all Validation possibilities?"
Hey everyone,

I'm looking for documentation (either inline or reference) for all of the possible validations that the validation Proxy provides. I'm aware of [this document](https://github.com/stoplightio/prism/blob/fb388d3cf76f164272a4e44c4ff23471da4c85dd/docs/guides/06-errors.md#validation-errors) but it feels like it falls short. I'm happy to put together a better document if someone can point

[2022-11-17 19:28] brendarearden commented on #2168
During my testing of x-faker options, I did notice that some of  jsf.options via the schema were working and some weren't through the cli - I went ahead and included that investigation as part of this ticket https://github.com/stoplightio/prism/issues/2175

[2022-11-18 17:10] daniel-white commented on #2176
hey @m-graf - is there something specific that is falling thru? we'd be happy to take a look if we knew where to start! thanks.

[2022-11-18 17:19] daniel-white commented on #2172
@ShahOdin how are you running docker? are you exposing and binding the ports? is there a reason that you want this to run in docker as port 8081 over our default of 4010?

[2022-11-19 06:13] fcasad commented on #2171
Note to whoever picks this up - consider using the prefer header instead of a custom header, and providing the option to validate the request only, the response only, both, or neither.

This might look like:
`curl -i http://localhost:4010/todos -H "prefer: validate=request_only"` where validate is `none | request_only | response_only | request_and_response (default)`

[2022-11-23 20:58] artb1sh commented on #1745
i just ran the prism in the docker as the above example, it still exists in 4.10.5

[2022-11-28 16:55] daniel-white commented on #2175
doc notes:
* https://github.com/json-schema-faker/json-schema-faker/tree/develop/docs
* ~if changing `x-json-schema-faker` options in your spec - restart prism (global state at play) deleting a property doesn't work~
* if you want to use `minItems`, `maxItems` set `optionalsProbability`

[2022-11-28 21:12] allenCwell commented on #1621
Running into the same issue.
One thing to note is that the response I'm getting from the service has no content-type header.
I believe that's being added by prism as well.

[2022-11-30 16:15] daniel-white commented on #2168
we are setting `optionalsProbability` to `1`. this is causing jsf to fill in the "optional" slots of an array, effectively making them `maxItems`. for example

[code]

[2022-11-30 16:15] #2168 closed

[2022-11-30 18:29] #2175 closed